section.space-top {
  margin-top: 5.3em;
}
.heading {
  font-size: 21px;
  color: #000;
  font-weight: 600;
}
.filterLabel {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}
p.messages {
  font-size: 17px;
  font-weight: 600;
}
.messageName {
  margin-left: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px;
  border-radius: 3px;
}
.show-button {
  text-align: right;
  margin-top: 15px;
}

.custom-file-input {
  font-size: smaller !important;
  width: 165px;
}

input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  margin: 1px 1px 1px 1px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

@media (max: 420) {
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: "Select some files";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

input[type="file"] {
  text-align: left;
}

.inline-table {
  display: inline-table;
}

.form-margin{
  margin-left: 15px;
  margin-right: 15px;
}

::ng-deep .ui-calendar.ui-calendar-w-btn input{
  width: 100%!important;
}