<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">JavaScript Page:</span>
        </p>
        <form [formGroup]="jsPagesForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Code:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="code" id="code">
              <div class="error-message" *ngIf="highlightErrorField('code')" >
                <span>Code is required.</span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Name:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="name" id="name">
              <div class="error-message" *ngIf="highlightErrorField('name')" >
                <span>Name is required.</span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Template:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="template" id="template">
                <option *ngFor='let group of jsPageTemplate' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="showInMenu" id="showInMenu">
              Show In Menu
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="openInNewWindow" id="openInNewWindow">
              Open in New Window
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="needAuthorization" id="needAuthorization">
              Need Authorization
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="f.needAuthorization.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="checkbox" formControlName="selectGroup" id="selectGroup">
                  Select Customer Group
                </div>
                <div *ngIf="f.selectGroup.value" class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <select class="form-control" id="selectGroupMode" formControlName="selectGroupMode">
                    <option *ngFor='let group of jsPageGroup' [value]="group.key">{{group.value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>


          <div *ngIf="f.needAuthorization.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="checkbox" formControlName="selectCoach" id="selectCoach">
                  Select Coach
                </div>
                <div *ngIf="f.selectCoach.value" class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <select class="form-control" id="selectCoachMode" formControlName="selectCoachMode">
                    <option *ngFor='let group of jsPageGroup' [value]="group.key">{{group.value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>


          <div *ngIf="f.needAuthorization.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="checkbox" formControlName="selectCity" id="selectCity">
                  Select City
                </div>
                <div *ngIf="f.selectCity.value" class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <select class="form-control" id="selectCityMode" formControlName="selectCityMode">
                    <option *ngFor='let group of jsPageGroup' [value]="group.key">{{group.value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="f.needAuthorization.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="checkbox" formControlName="selectPage" id="selectPage">
                  Specify Preregistration Page
                </div>
                <div *ngIf="f.selectPage.value" class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <select class="form-control" id="selectPageMode" formControlName="selectPageMode">
                    <option *ngFor='let group of jsPageGroup' [value]="group.key">{{group.value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf='f.selectGroup.value && f.needAuthorization.value' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">Specify Select Mode:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" id="selectAllMode" formControlName="selectAllMode">
                <option *ngFor='let group of jsPageGroup' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">Page HTML Template:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class='border'>
                <ngx-codemirror id="pageBody" formControlName="pageBody" [options]="codeMirrorOptions">
                </ngx-codemirror>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">JS Page Customer groups</span></p>
            <app-table [keys]="customerGroupKeys" [isPaginate]="false" [checkbox]=true [isHideAdd]=true [hideMasterCheckBox]=true
              [isSearch]="false" [data]="customerGroupDataSource" [totalElement]="customerGroupData.totalElements">
            </app-table>
          </div>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-6
              display-inline-button-big">
              <button type="button" class="btn btn-primary mb-5" (click)="back()">Back</button>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6
              display-inline-button-big" style="text-align: end;">
              <button type="button" class="btn btn-primary mb-5"
                (click)="Preview()" *ngIf="id!==undefined&&id!==null">
                Preview
              </button>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6
              display-inline-button-big" style="text-align: left;">
              <button type="button" class="btn btn-primary mb-5" (click)="delete()" 
               *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6"  style="text-align: end;">
              <button type="button" class="btn btn-primary mb-5" (click)="save()">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>