<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 admin-content">
        <p class="heading">CIMIS Measurements</p>
        <form [formGroup]="measurementsForm" class="form-group form-margin">
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">CIMIS Station:</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select formControlName="stationNbr" class="form-control">
                <option value='' selected></option>
                <option *ngFor='let station of cimisStation'
                  [value]='station.key'>{{station.value}}</option>
              </select>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0">
            </div>
          </div>
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Date From:</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <p-calendar formControlName='cmDateTimeFrom' id="cmDateTimeFrom"
                dateFormat="dd/mm/yy" showIcon=true
                showButtonBar="true"></p-calendar>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0">
            </div>
          </div>
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Date To:</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <p-calendar formControlName='cmDateTimeTo' id="cmDateTimeTo"
                dateFormat="dd/mm/yy" showIcon=true
                showButtonBar="true"></p-calendar>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0">
            </div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-12 show-button">
              <button type="button" class="btn btn-primary"
                (click)="search(undefined,true)">Show</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12">
            <p class="messages">
              <img src="assets/images/dot03.gif" class="dot pointer">
              <span class="messageName">CIMIS measurements  (Number of Records
                =
                {{measurementsData.totalElements}})</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false"
              [data]="dataSource" [isHideAdd]=true
              [totalElement]="measurementsData.totalElements"
              (changePageEvent)="search($event, false)">
            </app-table>

          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>