<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="error-message" *ngIf="errorMessage">
          {{errorMessage?.error?.errorMessage}}
        </p>
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Content Part</span>
        </p>
        <form [formGroup]="contentForm" class="form-group form-padding">

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" formControlName='label' id='label' class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="contentOrder" id="contentOrder">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="contentFilterRule" id="contentFilterRule"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="disableHtmlEditor" id="disableHtmlEditor">
              Disable Html Editor
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea *ngIf='f.disableHtmlEditor.value' class='form-control form-control-sm' formControlName="contentTemplate"
                id="contentTemplate" rows="12" cols="12"> </textarea>
              <ejs-richtexteditor *ngIf='!f.disableHtmlEditor.value' [toolbarSettings]='tools' formControlName='contentTemplate'
                id='contentTemplate'>
              </ejs-richtexteditor>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Image Url:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm' formControlName="imageUrl" id="imageUrl">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding borderBottom">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <span class="filterLabel">Image:</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="file" formControlName="imageFile" id="imageFile" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Generated embedded image:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm' formControlName="embeddedImage"
                id="embeddedImage">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <button type="button" class="btn btn-primary" (click)="generate()" style="text-align: end;">
                Generate
              </button>
            </div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
              <button type="button" class="btn btn-primary" (click)="back()">
                Back
              </button>
            </div>
            <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12 row rowPadding sidePadding">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 sidePadding">
                <button type="button" class="btn btn-primary" *ngIf="id !== undefined && id !== null"
                  style="float: right" (click)="delete()">
                  Delete
                </button>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidePadding">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>