section.space-top {
  margin-top: 5.3em;
}
p.accurate {
  font-weight: 600;
  font-size: 21px;
  text-align: justify;
}

hr.hr_space {
  margin-top: 13px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .form-control {
    margin-bottom: 5% !important;
  }
  .form-row {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
}
.dot {
  padding: 10px;
}
