section.space-top {
  margin-top: 5.3em;
}

@media (min-width: 768px) and (max-width: 992px) {
  .form-control {
    margin-bottom: 5% !important;
  }
  .form-row {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
}

p.messages{
  font-size: 17px;
  font-weight: 600;
}
.messageName{
   margin-left: 4px;;
}