<div class="container-fluid" id="prospect-edit-component">
<div class="row">
  <div class="col-sm-12">
    <button (click)="onNoClick()" class="closeButton" cdkFocusInitial>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="8pt" height="8pt"
        viewBox="0 0 8 8" version="1.1">
        <g id="surface1">
          <path
            style="stroke:none;fill-rule:nonzero;fill:#76ba19;fill-opacity:1;"
            d="M 0.109375 0.644531 C -0.0351562 0.5 -0.0351562 0.257812 0.109375
            0.109375 C 0.257812 -0.0351562 0.492188 -0.0351562 0.644531 0.109375
            L 3.84375 3.3125 L 7.050781 0.109375 C 7.195312 -0.0351562 7.4375
            -0.0351562 7.578125 0.109375 C 7.726562 0.257812 7.726562 0.5
            7.578125 0.644531 L 4.378906 3.84375 L 7.578125 7.050781 C 7.726562
            7.195312 7.726562 7.433594 7.578125 7.585938 C 7.433594 7.726562
            7.195312 7.726562 7.050781 7.585938 L 3.84375 4.378906 L 0.644531
            7.585938 C 0.492188 7.726562 0.257812 7.726562 0.109375 7.585938 C
            -0.0351562 7.433594 -0.0351562 7.195312 0.109375 7.050781 L 3.3125
            3.84375 Z M 0.109375 0.644531" />
          </g>
        </svg>
      </button>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Prospects</span>
        </p>
        <div *ngIf="errorMessage" class="col-sm-12 error-message error-background " style="height: 35px">
          <p style="margin-top: 5px;">{{errorMessage}}</p>
        </div>
        <form [formGroup]="prospectsForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">ID:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" id="registrationId" formControlName="registrationId" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Program:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" id="source" formControlName="source" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" id="name" formControlName="name" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field6').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Page:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field6" id="field6" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('zip').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Zip:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="zip" id="zip" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('county').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">County:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="county" id="county" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Email:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="email" id="email">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="emailValidated">
                <input type="checkbox" formControlName="emailValidated" id="emailValidated" />
                 Email Validated.
              </label>
              <!-- <input type="text" class="form-control form-control-sm" formControlName="email" id="email"> -->
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('phone').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Phone:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="phone" id="phone" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('homeType').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Home Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="homeType" id="homeType" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('ownership').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Ownership:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="ownership" id="ownership" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('highestBill').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Highest Bill:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="highestBill" id="highestBill" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('summerThermostat').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Summer Thermostat:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="summerThermostat" id="summerThermostat" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('referral').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Referral:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="referral" id="referral" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('remoteInfo').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Remote Info:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="remoteInfo" id="remoteInfo" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('otherText').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">otherText:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="otherText" id="otherText" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">CoachId:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="coachUserId" class="form-control" formControlName="coachUserId">
                <option value="" selected="selected"></option>
                <option *ngFor="let coachUser of coachList" [value]="coachUser.userId">
                  {{coachUser.name}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Date:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" [value]="prospectsForm.get('createdDate').value | date:'MM/dd/yyyy HH:mm:ss'" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field1').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 1:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field1" id="field1" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field2').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 2:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field2" id="field2" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field3').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 3:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field3" id="field3" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field4').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 4:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field4" id="field4" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field5').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 5:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field5" id="field5" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field7').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 7:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field7" id="field7" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field8').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 8:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field8" id="field8" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('field9').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
             Field 9:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="field9" id="field9" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('subscriptionId').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Subscription ID:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="subscriptionId" id="subscriptionId" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding" *ngIf="prospectsForm.get('auditId').value!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Audit ID:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm disableInput" formControlName="auditId"
                id="auditId" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="isActive">
                <input type="checkbox" formControlName="optOutMail" id="isActive" />
                Opt Out Mail
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <button type="button" class="btn btn-primary" (click)="resendEmailValidation()">
                  Resend Email Validation
              </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-5">
                  <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                    Save
                  </button>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-7">
                  <button type="button" class="btn btn-primary" style="float: right" (click)="delete()">
                    Delete
                  </button>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
                  <button type="button" class="btn btn-primary" style="float: right" (click)="onNoClick()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>