<section class="space-top">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Customer Group</span>
        </p>
        <form [formGroup]="customerGroupForm" class="form-group
          form-padding">
          <div class="row borderTop borderBottom rowPadding"
            *ngIf="id!==undefined&&id!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Record Id:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value"
                id="customerGroupId"
                formControlName="customerGroupId" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group code
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="groupCode" formControlName="groupCode">
              <div *ngIf="f.groupCode.invalid && (f.groupCode.dirty ||
                f.groupCode.touched)">
                <span class="error" *ngIf="f.groupCode.errors.required">
                  Group Code is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="groupName" formControlName="groupName">
              <div *ngIf="f.groupName.invalid && (f.groupName.dirty ||
                f.groupName.touched)">
                <span class="error" *ngIf="f.groupName.errors.required">
                  Group Name is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Context path:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="contextPath" formControlName="contextPath">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Theme:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="theme"
                formControlName="theme">
                <option value="" selected="selected"></option>
                <option *ngFor="let themeObject of themeList"
                  [value]="themeObject.itemValue">{{themeObject.itemLabel}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Registration URL:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="registrationUrl"
                formControlName="registrationUrl">
              <div *ngIf="f.registrationUrl.invalid && (f.registrationUrl.dirty
                ||
                f.registrationUrl.touched)">
                <span class="error" *ngIf="f.registrationUrl.errors.required">
                  Registration Url is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Base directory:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="baseDirectory"
                formControlName="baseDirectory">
              <div *ngIf="f.baseDirectory.invalid && (f.baseDirectory.dirty ||
                f.baseDirectory.touched)">
                <span class="error" *ngIf="f.baseDirectory.errors.required">
                  Base Directory is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Audit ID pattern:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="auditIdPattern"
                formControlName="auditIdPattern">
              <div *ngIf="f.auditIdPattern.invalid && (f.auditIdPattern.dirty ||
                f.auditIdPattern.touched)">
                <span class="error" *ngIf="f.auditIdPattern.errors.required">
                  Audit Id Pattern is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Scraping Utility:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="scrapingUtility"
                formControlName="scrapingUtility">
                <option value="" selected="selected"></option>
                <option *ngFor="let scrapingUtilityObject of
                  scrapingUtilityList"
                  [value]="scrapingUtilityObject.lookupValue">{{scrapingUtilityObject.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Scraping Period:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="scrapingPeriod"
                formControlName="scrapingPeriod">
                <option value="" selected="selected"></option>
                <option *ngFor="let scrapingPeriodObject of scrapingPeriodList"
                  [value]="scrapingPeriodObject.lookupValue">{{scrapingPeriodObject.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="mail" id="showEventHistory"
                formControlName="showEventHistory">
              <label class="checkbox">Show Event History</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Activation mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="mailDescriptionId" formControlName="mailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Repeated Activation mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="repeatedMailDescriptionId"
                formControlName="repeatedMailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Spam Test Filter mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="spamTestMailDescriptionId"
                formControlName="spamTestMailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              "Forgot Password" mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="forgotPwdMailDescriptionId"
                formControlName="forgotPwdMailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              New Recommendation mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="newRecommendationMailDescriptionId"
                formControlName="newRecommendationMailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Mail Changed mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="mailChangedMailDescriptionId"
                formControlName="mailChangedMailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Registration Warning mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="registrationErrorMailDescriptionId"
                formControlName="registrationErrorMailDescriptionId">
                <option value="" selected="selected"></option>
                <option *ngFor="let mailDescriptionObject of
                  mailDescriptionList"
                  [value]="mailDescriptionObject.mailDescriptionId">{{mailDescriptionObject.mailName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Customer Registration JS Page (optional):
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="customerRegistrationViewId"
                formControlName="customerRegistrationViewId">
                <option value="" selected="selected"></option>
                <option *ngFor="let jsPageObject of jsPageList"
                  [value]="jsPageObject.jsPageId">{{jsPageObject.name}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Customer Registration Success JS Page (optional):
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="customerRegistrationSuccessViewId"
                formControlName="customerRegistrationSuccessViewId">
                <option value="" selected="selected"></option>
                <option *ngFor="let jsPageObject of jsPageList"
                  [value]="jsPageObject.jsPageId">{{jsPageObject.name}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="immediateLogin" id="immediateLogin"
                formControlName="immediateLogin">
              <label class="checkbox">Immediate Login after registration</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="allowBilling" id="allowBilling"
                formControlName="allowBilling">
              <label class="checkbox">Allow Billing</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="archived" id="archived"
                formControlName="archived">
              <label class="checkbox">Archived</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Registration success rule:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="dataCheckAlg"
                formControlName="dataCheckAlg">
                <option value="0">Smart Audit</option>
                <option value="1">Dr Power</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
              <button type="button" class="btn btn-primary">Recalculate
                Variables</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="messages">
                <img src="assets/images/dot03.gif" class="dot pointer">
                <span class="messageName">
                  Places
                </span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
              <app-table [keys]="placeKey" [data]="placeDataSource"
                [isHideAdd]=true [isDelete]=false
                [totalElement]="placeData.totalElements" [checkbox]=true  id='place'
                [selectionList]='placeSelectionListData' (checkBoxChangeEvent)="placeCheckBoxChangeEvent($event)">
              </app-table>
            </div>
          </div>

          <div class="row" *ngIf='id!==undefined'>
            <div class="col-sm-12">
              <p class="messages">
                <img src="assets/images/dot03.gif" class="dot pointer">
                <span class="messageName">
                  Program Group
                </span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
              <app-table [keys]="programGroupKey"
                [data]="programGroupDataSource" [isHideAdd]=true
                [isDelete]=false
                [totalElement]="programGroupData.totalElements" [checkbox]=true
                id='programCode'
                [selectionList]='programSelectionList' (checkBoxChangeEvent)="programGroupCheckBoxChangeEvent($event)">
              </app-table>
            </div>
          </div>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-3 display-inline-button">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6" style="text-align: end;">
              <button type="button" class="btn btn-primary" (click)="delete()"
                *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3" [ngClass]="{'display-responsive': id!==undefined&&id!==null}">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>