<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 .col-lg-9 col-sm-12">
                <h3 class="select_next">
                    Search Options (use "%" as wildcard in searches)</h3>
                <hr class="hr_space">
                <form [formGroup]="searchForm" class="form-horizontal">
                    <div class="form-row form-group">
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Audit Id:</span>
                        </label>
                        <div class="col-lg-4 col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="auditId"
                                formControlName="auditId">
                        </div>
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start"> Customer Group:</span>
                        </label>
                        <div class="col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="customerGroup"
                                formControlName="customerGroup">
                            </select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start"> Customer name:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerName"
                                formControlName="customerName">
                        </div>
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start"> Customer Place:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="customerPlace"
                                formControlName="customerPlace"></select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Customer E-mail:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerEmail"
                                formControlName="customerEmail">
                        </div>

                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Program:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="program"
                                formControlName="program"></select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Customer View:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="customerView"
                                formControlName="customerView" value='-1'>
                                <option value='-1'>Standard</option>
                                <option value='1'>Basic Home Stats</option>
                                <option value='2'>User Status View</option>
                                <option value='3'>Energy View</option>
                                <option value='4'>Hetu Slotting Criteria</option>
                                <option value='5'>Program Assignment</option>
                                <option value='6'>Pool Heating Check</option>
                                <option value='7'>Energy Coach</option>
                                <option value='8'>User Info</option>
                                <option value='9'>Event Logging</option>

                            </select>
                        </div>

                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Status:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="status" formControlName="status"></select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Event/Alert Code:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="alertCode"
                                formControlName="alertCode">
                        </div>

                        <label class="control-label col-lg-2 col-sm-4 ">
                            <span class="start">Credential Type:</span>

                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6 form-row form-group" style="padding-right: 0%;">
                            <div class="col-md-6 col-lg-6 col-sm-6" style="padding-right: 0%;">
                                <select class="form-control form-control-sm" id="credentialTypeCode"
                                    formControlName="credentialTypeCode"></select>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6" style="padding-right: 0%;">
                                <input type="text" class="form-control form-control-sm" id="credentialSubscriptionId"
                                    formControlName="credentialSubscriptionId">
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Energy Coach:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" formControlName="energyCoach"></select>
                        </div>
                        <label class="control-label col-lg-2 col-sm-4">
                            <span class="start">Credential Account:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control form-control-sm" formControlName="credentialAccount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12" style="text-align:right;">
                            <button type="button" class="btn btn-primary" (click)="findCustomer(null)">Show</button>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="Messages">
                            <img src="assets/images/dot03.gif" class="dot">&nbsp;Customers (Number of Records
                            =
                            {{this.CustomerData.totalElements}})
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" *ngIf="CustomerData?.content?.length>0">
                            <!-- <table *ngIf='searchForm.get("customerView").value== -1' id="example"
                                class="table table-striped table-bordered table-sm" data-source="data-source"
                                [mfData]="usesEventList" #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th class="th-sm no-sort">
                                            <img src="assets/images/whitebox.png" class="colorbox">
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="customerEventType.eventCode">#
                                            </mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="customerEventType.eventName">Audit Id
                                            </mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="eventDatetime">Name</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm no-sort">
                                            <mfDefaultSorter by="linkedPersonName">Links</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm no-sort">
                                            <mfDefaultSorter by="linkedPersonName">Group</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName">Notes</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName">Place</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName">JoinDate</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName"></mfDefaultSorter>
                                        </th>
                                        <th class="th-sm no-sort">
                                        <mfDefaultSorter by="value">Value</mfDefaultSorter>
                                        </th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of CustomerList;">
                                        <td> <img src="assets/images/whitebox.png" class="colorbox"></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.auditId}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.user.username}}</a>
                                        </td>
                                         <td>{{usageList.date | date : "dd-MMM-y"}} - {{usageList.endDate | date : "dd-MMM-y"}}</td> 
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline"><span
                                                    style="display:none;">{{usageList.eventDatetime}}</span>{{usageList.eventDatetime | date : "dd-MMM-y"}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.customerGroup.groupName}}
                                            </a></td>

                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.notes}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.place.placeName}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.activationDate}}
                                            </a></td>

                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.user.status}}
                                            </a></td>
                                    </tr>
                                </tbody>

                            </table>


                            <table *ngIf="searchForm.get('customerView').value=== 1 " id="example"
                                class="table table-striped table-bordered table-sm" data-source="data-source"
                                [mfData]="usesEventList" #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th class="th-sm no-sort">
                                            <img src="assets/images/whitebox.png" class="colorbox">
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="customerEventType.eventCode}">#
                                            </mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="customerEventType.eventName">Audit Id
                                            </mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="eventDatetime">Name</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm no-sort">
                                            <mfDefaultSorter by="linkedPersonName">Links</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm no-sort">
                                            <mfDefaultSorter by="linkedPersonName">Group</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName">Notes</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName">Place</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName">JoinDate</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm">
                                            <mfDefaultSorter by="linkedPersonName"></mfDefaultSorter>
                                        </th>
                                         <th class="th-sm no-sort">
                                        <mfDefaultSorter by="value">Value</mfDefaultSorter>
                                        </th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of CustomerList;">
                                        <td> <img src="assets/images/whitebox.png" class="colorbox"></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.auditId}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.user.username}}</a>
                                        </td>
                                        <td>{{usageList.date | date : "dd-MMM-y"}} - {{usageList.endDate | date : "dd-MMM-y"}}</td> 
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline"><span
                                                    style="display:none;">{{usageList.eventDatetime}}</span>{{usageList.eventDatetime | date : "dd-MMM-y"}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.customerGroup.groupName}}
                                            </a></td>

                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.notes}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.place.placeName}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.activationDate}}
                                            </a></td>

                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{customer.user.status}}
                                            </a></td>
                                    </tr>
                                </tbody>

                            </table> -->
                            <app-table [(keys)]="keys" [data]="dataSource" [totalElement]="CustomerData.totalElements" (onChangePageEvent)="findCustomer($event)"></app-table>
                        <div class="row" style="margin-bottom: 5%;">
                            <div class="col-sm-6 col-xs-3">
                                <!-- <button class="btn btn-primary" type="button" (click)="back()">Back</button> -->
                            </div>
                            <div class="col-sm-6 col-xs-9" style="text-align:right;">
                                <!-- <button class="btn btn-primary" type="button" (click)="deleteEvent(customerEventDetails.customerEventId)">Delete</button>&nbsp; -->
                                <button class="btn btn-primary" type="button" (click)="addEvent()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 .col-lg-3 col-sm-12">
                <p class="Energy_anaiytic">
                    <img src="assets/images/dot03.gif" class="dot">&nbsp;HEA Administrator's Home Page</p>
                <p class="feedback">
                    This page provides access to administrative functions for Home Energy Analytics' survey system.
                </p>
                <p class="feedback">
                    Use the menu below to navigate to the appropriate administrative function.
                </p>
                <hr>
            </div>
        </div>
    </div>
</section>