<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 sidebar">
                <div class="backcolor">
                    <h3 class="select_next">
                        <img src="assets/images/right-.svg" class="back_img" (click)="back()">&nbsp;&nbsp;<span class="recommdationheadingcss">Recommendations</span></h3>
                    <p class="action">Take action to plug the leaks in your home</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <ul class="saving">
                    <li>
                        <a>
                            <span class="menu1">Sort by
                                <span class="saving" [style.color]="savingColor" (click)="sortAccordingTo(1)">savings</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="main-menu">
                            <span class="menu2">
                                <span class="title" [style.color]="titleColor" (click)="sortAccordingTo(2)">title</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="main-menu">
                            <span class="menu3" [style.color]="statusColor" (click)="sortAccordingTo(3)">status</span>
                        </a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 space"></div>
            <div class="col-sm-8 line">
                <div class="row recommendation">
                    <div class="col-sm-6">
                        <p class="Recom">Recommendation</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="est">Est. Savings</p>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------- Saving page ------------------------------------>
        <div class="row" *ngIf="recommendationList!=null">
            <div class="col-sm-9 topic_list">
                <div class="panel panel-info">
                    <div class="panel-group" id="accordion">
                        <!-------------------- First ------------------------------------>
                        <div class="panel panel-default" *ngFor="let item of recommendationList | sortgrid: sortingBy">
                            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse'+item.recommendationId"
                                *ngIf="item.parentLeakId!=null">
                                <div class="row">
                                    <div class="col-sm-1 col-xs-2 status1">
                                        <img src="assets/images/triangledown.svg" class="fa fa-fw fa-caret-down fa_icon">
                                        <img src="assets/images/triangleright.svg" class="fa fa-fw fa-caret-right fa_icon">
                                    </div>
                                    <div class="col-sm-1 col-xs-2 status2" *ngIf="item.status=='N'">
                                        <img src="assets/images/status-unchecked.png" class="status-unchecked">
                                    </div>
                                    <div class="col-sm-1 col-xs-2 status2" *ngIf="item.status=='Y'">
                                        <img src="assets/images/colorbox.png" class="status-unchecked">
                                    </div>
                                    <div class="col-sm-1 col-xs-2 status2" *ngIf="item.status=='L'">
                                        <img src="assets/images/lightcheck.png" class="status-unchecked">
                                    </div>
                                    <div class="col-sm-1 col-xs-2 status2" *ngIf="item.status=='D'">
                                        <img src="assets/images/status-notapplicable.png" class="status-unchecked" style="margin-left: -2px;">
                                    </div>
                                    <div class="col-sm-8 col-xs-8 status3">
                                        <a class="Schedule" *ngIf="item.status!='Y'">{{item.recommendation.takebackLabel}}</a>
                                        <a class="Schedule1" *ngIf="item.status=='Y'">{{item.recommendation.takebackLabel}}</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="dollar_num">${{item.priceValue | number:'0.0-0'}}</p>
                                        <p class="help_img" *ngIf="item.recommendation.instruction!=null">
                                            <a (click)="questionHelp(item.recommendation.instruction)">
                                                <img src="assets/images/icon_help.svg" class="question">
                                            </a>
                                        </p>
                                        <div class="help_img" *ngIf="item.recommendation.instruction==null">
                                            <a>
                                                <img src="assets/images/icon_help.svg" class="question" style="visibility: hidden;">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="row spacingresponsive">
                                    <div class="col-xs-6">
                                        <p class="dollar_numsamll">${{item.priceValue | number:'0.0-0'}}</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="help_imgsmall" *ngIf="item.recommendation.instruction!=null">
                                            <a (click)="questionHelp(item.recommendation.instruction)">
                                                <img src="assets/images/icon_help.svg" class="question">
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                            <div id="collapse{{item.recommendationId}}" class="panel-collapse collapse" *ngIf="item.parentLeakId!=null">
                                <div class="panel-body">
                                    <div [innerHTML]="item.recommendation.htmlText" class="Recommendation_text"></div>
                                    <div [innerHTML]="item.recommendation.suggestion" class="Recommendation_text"></div>
                                    <div class="media">
                                        <div class="media-left">
                                            <h3 class="plugged" style="width:73px">Status</h3>
                                        </div>
                                        <div class="media-body">
                                            <form>
                                                <div class="form-group">
                                                    <select name="recommendation" class="form-control" [(ngModel)]="item.status" (change)="onChange(item.recommendationId,item.status,item.surveyId)"
                                                        style="width:207px;">
                                                        <option value="N">I'm undecided</option>
                                                        <option value="Y">I did it</option>
                                                        <option value="L">I will do it later</option>
                                                        <option value="D">Not for me</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <p class="plug">helps plug these leaks</p>
                                            <div class="row">
                                                <div class="col-lg-2 col-sm-3 col-xs-2">
                                                    <button type="button" class="btn btn-primary button leaksfire">
                                                        <img src="assets/images/{{item.leak.takebackIcon}}" class="leaksfire">
                                                    </button>
                                                </div>
                                                <div class="col-lg-10 col-sm-9 col-xs-10 high">
                                                    <p>
                                                        <a (click)="leakView(item.parentLeakId)" class="drought">{{item.leak.takebackLabel}}</a>
                                                        <span class="mo">{{item.parentSurveyRecommendation.takebackValue}}{{item.leak.unit}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <hr *ngIf="item.parentLeakId!=null" class="space_hr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>