<section class="space-top">
    <div class="container-fluid">
        <div class="row"
            *ngIf="users.surveyList!=null&&users.surveyList!=undefined">
            <div class="col-sm-8 col-md-9 topic_list ">
                <h3 class="select_next">
                    <img alt="icon" src="assets/images/right-.png" class="back_img"
                        (click)="back()">&nbsp;&nbsp;Topics history</h3>
                <p class="accurate" *ngIf="users.role!=='ADMIN'">You have
                    completed all existing Topics</p>
                <div class="row m-auto" *ngIf="users.role==='ADMIN'">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Audit Id:</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" matInput 
                        [matAutocomplete]="auditIdAutoComplete"
                        [ngModel]="customer.auditId" (keyup)="findCustomerByAuditIdOrCustomerName('auditId',$event.target.value)" >
                         <mat-autocomplete #auditIdAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                           <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                             {{data.user.name}}
                           </mat-option>
                         </mat-autocomplete>
                    </div>
                    <div class="col-sm-2">Customer</div>
                    <div class="col-sm-3">
                        <input type="text" matInput class='form-control form-control-sm'
                        (keyup)="findCustomerByAuditIdOrCustomerName('customerName',$event.target.value)" [ngModel]="customer.user.name"
                        [matAutocomplete]="customerNameAutoComplete">
                          <mat-autocomplete #customerNameAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                            <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                              {{data.user.name}}
                            </mat-option>
                          </mat-autocomplete>
                    </div>
                    <div class="col-sm-1"></div>

                </div>

                <hr class="hr_space">
                <div class="panel panel-info">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" *ngFor="let
                            userSurveyList of users.surveyList;index as i">
                            <div class="panel-heading collapsed"
                                data-toggle="collapse" data-parent="#accordion"
                                [attr.href]="'#collapse'+userSurveyList.surveyId">
                                <img alt="icon" src="assets/images/triangledown.svg"
                                    class="fa fa-fw fa-caret-down fa_icon">
                                <img alt="icon" src="assets/images/triangleright.svg"
                                    class="fa fa-fw fa-caret-right fa_icon">
                                &nbsp;&nbsp;

                                <a class="topic_heading" id="topic{{i}}">{{userSurveyList.surveyDescription.label}}&nbsp;&nbsp;<span *ngIf="userSurveyList.finishedDate">({{
                                    userSurveyList.finishedDate | date
                                    : "MM/dd/y HH:mm" }})</span></a>
                            </div>
                            <div id="collapse{{userSurveyList.surveyId}}"
                                class="panel-collapse collapse">
                                <!-- The inside div eliminates the 'jumping' animation. -->
                                <div class="panel-body">
                                    <ng-container *ngFor="let paneList of
                                        userSurveyList.panes;index as j">
                                        <p class="topic_subpoint">
                                            <a class="topic_point"
                                                (click)="goToTopicPage(userSurveyList.surveyId,paneList.paneCode,userSurveyList.surveyDescription.surveyCode,j)">{{paneList.label}}</a>
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3" *ngIf="users.role=='USERS'">
                <app-user-sidebar></app-user-sidebar>
            </div>
            <div class="col-sm-4 col-md-3" *ngIf="users.role!=='USERS'">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>