<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <img alt="logo" src="assets/images/hi_logo_banner.png" class="dashboard_img">
        </div>
    </div>
    <hr class="header-hr">
</nav>
<section class="space-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="heading">Smart Audit</h3>
                <div class="leftspace">
                    <p>We have located your PG&E Account! Our algorithms are pulling your energy usage data and crunching.
                        . .</p>
                    <p>We will send you an email shortly when your initial profile is ready.</p>
                    <p>Follow the directions in the email to continue.</p>
                </div>
                <br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-10">
                <div class="leftspaceborder">
                    <p>We have just sent you an email message confirming your registration. Please check for that message
                        and if it ended up in your spam folder please mark it as "not spam" so you will receive the next
                        message from us.</p>
                </div>
            </div>
             <div class="col-sm-3 col-xs-1"></div>
        </div>
    </div>
</section>