img.dr_center-block {
    width:33%;
    border-radius: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}
img.dr_center-block2 {
    width:100%;
    height: 1%;
    border-radius: 7px;
    margin-bottom: 0px;
    margin-top: -15px;
} 
.dash {
    margin-top: 10px;
}   
.smartAuditText{
    text-align: left;
    float: left;
    font-size: 24px;
    color: rgb(19%, 14%, 13%);
    font-weight: bold;
    font-family: Lucida Sans Demi, Lucida Sans, Calibri, sans-serif;
}
.registrationText{
   float: right;
   margin-top:1em;
    margin-right: 10%;
    color:rgb(95%, 44%, 14%) !important;
    font-weight: bold;
    font-size: 14px;
    font-family: Lucida Sans Demi, Lucida Sans, Calibri, sans-serif;
    cursor: pointer;
}

.errorText{
    text-align:left;
    font-weight: bold;
    font-size: 14px;
    color: rgb(60%, 10%, 12%);
    margin-left: 2%;
    line-height: 1.3;
    font-family: Lucida Sans Demi, Lucida Sans, Calibri, sans-serif;
}
.facebook{
    float: left;
}
.google{
    float: left;
}
.login{
    float: right;
    cursor: pointer;
}
label{
    color: #312422!important;
    font-size: 14px!important;
    text-align: left!important;
    padding-top: 4px!important;
    font-weight: bold!important;
    font-family: Lucida Sans Demi, Lucida Sans, Calibri, sans-serif!important;
}
input{
    height: 28px!important;
        border-radius: 0px!important;
}
.heading{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(19%, 14%, 13%);
}
h3.smartaudit {
    margin-left: 6em;
    color: #302421;
}

p.innertext{
    font-size: 14px;
     color: rgb(39%, 39%, 40%);
    text-align: justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-weight: bold;
}
img.intro {
    margin-left: 2em;
}
.row{
    margin-top: -13px!important;
}
.mainContaint{
    margin-top: 2em;
    border-right: solid 1px #ccc;
    padding-right: 20px;
    margin-left: 2em;
}
img.sideImage {
    width: 21%;
    margin-top: 1em;
    margin-left: -1em;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
     padding-right: 0px; 
}
input[type="checkbox"] {
    margin-top: -3px;
}
.checkbox {
    float: right;
}
a {
    font-weight: bold;
    font-size: 14px;
    color: rgb(95%, 44%, 14%);
    font-family: Lucida Sans Demi, Lucida Sans, Calibri, sans-serif;
}
p.requiredText {
    float: right;
    font-weight: bold;
    font-size: 12px;
    color: rgb(19%, 14%, 13%);
    font-family: Lucida Sans Demi, Lucida Sans, Calibri, sans-serif;
}

.form-group.link {
    margin-bottom: 1%;
    cursor: pointer;
}
a.links {
    float: right;
    cursor: pointer;
}
@media screen and (max-width: 641px) and (min-width: 320px) {
    .mainContaint{
    margin-top: 2em;
    border-right: solid 0px #ccc;
    padding-right: 20px;
    margin-left: 0em;
}
img.intro {
        width: 100%;
    margin-left: 0em;
}
} 
.form-horizontal .form-group {
    width: 100%!important;
}