<div class="container-fluid">
  <div class="dash">
    <div class="row1">
      <img src="assets/images/highenergyhome-banner.gif" class="dr_center-block">
      <img src="assets/images/header_bar.png" class="dr_center-block2">
    </div>
    <div class="row">
      <div class="col-sm-7">
        <h3 class="smartaudit"><b>Smart Audit</b></h3>
        <div class="mainContaint">
          <p class="innertext">Let's get started with your online energy audit.</p>
          <p class="innertext">First, we'll login to your PG&E account to gather your historical energy use data.</p>
          <p class="innertext">Next, you and our system will work together to breakdown how your household uses energy and then identify the "easy
            wins" in reclaiming unnecessary losses. The process is straightforward. We use computer algorithms to crunch
            the data. You help out by answering simple questions when the algorithm needs it.</p>
          <img src="assets/images/intro.png" class="intro">
        </div>
      </div>
      <div class="col-sm-5">
        <div>
          <img src="assets/images/dataguard.png" class="sideImage">
          <p class="registrationText"><a [routerLink]="['/login']" [queryParams]="{'theme':'HEA'}">Already have a login?</a></p>
        </div>
        <br>
        <!-- <img src="assets/images/login_area.png" class="dr_center-block">  -->
        <div class="mainLogin">
          <p class="errorText">
             <span *ngIf="validEmail">{{validEmail}}</span><br *ngIf="validEmail">
             <span *ngIf="validUsername">{{validUsername}}</span><br *ngIf="validUsername">
             <span *ngIf="validPassword">{{validPassword}}</span><br *ngIf="validPassword">
             <span *ngIf="validPhone">{{validPhone}}</span><br *ngIf="validPhone">
             <span *ngIf="validCondition">{{validCondition}}</span>
          </p>
          <form class="form-horizontal" action="" >
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <p class="requiredText"> (All fields required.)</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="email">Email</label>
              <div class="col-sm-7">
                <input type="email" class="form-control" id="email"  name="email"  [(ngModel)]="email" (keyup.enter)="registration()">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="username">PG&E username</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="username" name="username"  [(ngModel)]="pgeUsername" (keyup.enter)="registration()">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pws">PG&E password</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="pwd"  name="pwd"  [(ngModel)]="pgePassword" (keyup.enter)="registration()">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="phone">Phone</label>
              <div class="col-sm-7">
                <input type="phone" class="form-control" id="phone"  name="phone" [(ngModel)]="phone" (keyup.enter)="registration()">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="checkbox">
                  <label><input type="checkbox" name="remember"  [(ngModel)]="check" (keyup.enter)="registration()"> I agree to <a (click)="allLinks(1)"> terms and conditions</a></label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <img src="assets/images/login.png" class="login" (click)="registration()">
              </div>
            </div>
             <div class="form-group link">
              <div class="col-sm-10">
               <a class="links" (click)="allLinks(2)">How do I get an online PG&E account?</a>
              </div>
            </div>
             <div class="form-group link">
              <div class="col-sm-10">
               <a class="links" (click)="allLinks(3)">How will my PG&E account be used?</a>
              </div>
            </div>
             <div class="form-group link">
              <div class="col-sm-10">
               <a class="links" (click)="allLinks(4)">FAQ about signing up</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>