<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content" >
        <p class="heading">
          Summary Charts
        </p>
        <form [formGroup]="summaryChartForm">

          <div class="row rowPadding borderBottom">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-0"></div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <span class="filterLabel">Chart Code:</span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <input type="text" class="form-control" formControlName='chartCode' id='chartCode'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-0"></div>
          </div>
        
          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" class="btn btn-primary" (click)="search(true,$event)">Show</button>
            </div>
          </div>
      </form>
        <div class="paddingTop" #tableScrollPoint>
          <p class="messages">
            <img src='assets/images/dot03.gif' alt="dot" class='dot'>
            <span class="messageName">Summary Charts (Number of Records = {{this.summaryChartData.totalElements}})</span></p>
          <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false" [data]="summaryChartData.content"
            [pageIndex]="summaryChartData.pageIndex" [pageSize]="summaryChartData.pageSize" [addSerialNumber]="true"
            [totalElement]="summaryChartData.totalElements" (changePageEvent)="search(true,$event)"
            (goToEditEvent)="goToEditSummaryChart($event)" (addEvent)='addSummaryChart()'>
          </app-table>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>