<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <button (click)="close()" class="closeButton" cdkFocusInitial>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8pt" height="8pt"
          viewBox="0 0 8 8" version="1.1">
          <g id="surface1">
            <path style="stroke:none;fill-rule:nonzero;fill:#76ba19;fill-opacity:1;" d="M 0.109375 0.644531 C -0.0351562 0.5 -0.0351562 0.257812 0.109375
              0.109375 C 0.257812 -0.0351562 0.492188 -0.0351562 0.644531 0.109375
              L 3.84375 3.3125 L 7.050781 0.109375 C 7.195312 -0.0351562 7.4375
              -0.0351562 7.578125 0.109375 C 7.726562 0.257812 7.726562 0.5
              7.578125 0.644531 L 4.378906 3.84375 L 7.578125 7.050781 C 7.726562
              7.195312 7.726562 7.433594 7.578125 7.585938 C 7.433594 7.726562
              7.195312 7.726562 7.050781 7.585938 L 3.84375 4.378906 L 0.644531 
              7.585938 C 0.492188 7.726562 0.257812 7.726562 0.109375 7.585938 C
              -0.0351562 7.433594 -0.0351562 7.195312 0.109375 7.050781 L 3.3125
              3.84375 Z M 0.109375 0.644531" />
          </g>
        </svg>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="copyForm">
        <div class="row borderTop borderBottom rowPadding">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Next Topic Code:</div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            <input type="text" class="form-control form-control-sm" id="nextTopicCode" formControlName="nextTopicCode">
            <div class="error-message" *ngIf="highlightErrorField('nextTopicCode')" >
              <span>Next Topic Code is required.</span>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Prefix:</div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            <input type="text" class="form-control form-control-sm" id="prefix" formControlName="prefix">
            <div class="error-message" *ngIf="highlightErrorField('prefix')" >
              <span>Prefix is required.</span>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <button type="button" class="btn btn-success" style="float: right;  margin-top : 10px;" (click)="save()">
              Copy
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>