<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Batch Add Customer Comparison Group</span>
        </p>
        <form [formGroup]="customerComparisonGroupForm" class="form-group
          form-padding">
          <!-- <div class="row borderTop borderBottom rowPadding" *ngIf="id!==undefined&&id!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Record Id:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="customerEventTypeId"
                formControlName="customerEventTypeId">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div> -->
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Comparison code
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="comparisonCode" class="form-control form-control-sm" formControlName="comparisonCode">
                <option value="" selected="selected"></option>
                <option *ngFor="let comparisonCode of comparisonCodeDropdownData" [value]='comparisonCode.key'>
                  {{comparisonCode.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Order:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="order" formControlName="order">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Weather Station:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByWeather" formControlName="groupByWeather">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="customerComparisonGroupForm.controls['groupByWeather'].value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Weather Station
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="weatherStationId" class='form-control form-control-sm' name="weatherStationId"
                formControlName="weatherStationId">
                <option value="" selected="selected"></option>
                <option *ngFor="let stationId of weatherStationIds" [value]="stationId.key">
                  {{stationId.value}}
                </option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Home Type
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByHomeType" formControlName="groupByHomeType">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Home Size
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByHomeSize" formControlName="groupByHomeSize">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Occupancy
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByOccupancy" formControlName="groupByOccupancy">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Pool or Spa
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByPoolOrSpa" formControlName="groupByPoolOrSpa">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Gas
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByGas" formControlName="groupByGas">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="customerComparisonGroupForm.controls['groupByGas'].value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Natural Gas Data:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class='form-control form-control-sm' formControlName="naturalGasData" id="naturalGasData">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Electricity
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByElectricity" formControlName="groupByElectricity">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="customerComparisonGroupForm.controls['groupByElectricity'].value"
            class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Electric Data
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class='form-control form-control-sm' formControlName="electricData" id="electricData">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Water
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="groupByWater" formControlName="groupByWater">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="customerComparisonGroupForm.controls['groupByWater'].value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Water Data
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="waterData" id="waterData">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Electric Water Heater
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="groupByElectricWaterHeater" id="groupByElectricWaterHeater">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by EV
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="groupByEV" id="groupByEV">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group by Lot Size
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="groupByLotSize" id="groupByLotSize">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"><button type="button" class="btn btn-primary"
                (click)="back()">Back</button></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                <button type="button" class="btn btn-primary" style="float:right;" (click)="delete()"
                  *ngIf="id!==undefined&&id!==null">Delete</button>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-4">
                <button type="button" class="btn btn-primary" style="float:right;" (click)="save()">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>