<div class="row">
  <div class="control-label col-sm-4 col-xs-12">
    Zip:
  </div>
  <div class="control-label col-sm-8 col-xs-12">
    <input type="number" maxlength="5" class="form-control form-control-sm" id="eventDate">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 col-xs-12">
    Station Id:
  </div>
  <div class="col-sm-8 col-xs-12">
    <select class="form-control textarea_scroll" rows="3" id="stationId">
      <Option selected></Option>
      <Option>None</Option>
    </select>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-xs-12 " style="text-align: end;">
    <button type="submit" class="btn btn-primary btn-padding">Add Zip</button>
  </div>
</div>