<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content" style='text-align: left; padding-top: 35px;'>
        <p class="heading">
          Search Options (use "%" as wildcard in searches)
        </p>
        <form [formGroup]='systemParameterForm'>
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Parameter Value:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='paramValue' id='paramValue'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Description:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName="description" id="description">
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" class="btn btn-primary" (click)="search(undefined,true)">Show</button>
            </div>
          </div>
        </form>
        <div class="paddingTop" #tableScrollPoint>
          <p class="messages">
            <img src='assets/images/dot03.gif' alt="dot" class='dot'> 
            <span class="messageName">System Parameters (Number of Records = {{totalElement}})</span></p>
          <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false" [data]="dataSource" 
            [addSerialNumber]="true" [pageSize]="pageSize"  [pageIndex]="pageIndex"
            [totalElement]="systemParameterData.totalElements" (changePageEvent)="search($event,false)"
            (goToEditEvent)="goToEditSystemParameter($event)" (addEvent)='addSystemParameter()'>
          </app-table>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar ></app-sidebar>
      </div>
    </div>
  </div>
</section>