<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content">
        <p class="heading">
          Places
        </p>
        <form [formGroup]='placeForm'>
          <div class="row rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Place name:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='placeName'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Zip code:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='zipCode'>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" class="btn btn-primary" (click)="search(undefined)">Show</button>
            </div>
          </div>
        </form>
        <p class="Messages" #tableScrollPoint>
          <img src='assets/images/dot03.gif' alt="dot" class='dot'>
          <span class="messageName">Places</span></p>
        <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false" [data]="dataSource" 
          [totalElement]="placeData.totalElements" (changePageEvent)="search($event)"
          [pageSize]="pageSize" [pageIndex]="pageIndex"
          (goToEditEvent)="goToEditPlace($event)" (addEvent)='addPlace()' [sortStateData]="sortData"></app-table>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>