<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" alt="dot" class="dot">
          <span class="messageName">Topic Variable</span>
        </p>
        <form [formGroup]="variableForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Topic Description</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Field:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" required formControlName="field" id="field">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="calculationType" id="calculationType">
                <option *ngFor='let calculation of calculationTypeList' [value]="calculation.lookupValue">{{calculation.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Expression:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea type="text" class="form-control" cols="30" rows="10" formControlName="calculationExpression"
                id="calculationExpression"></textarea>
              <span class="debug" (click)="goToDebug()">Debug</span>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Period:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="calculationPeriod" id="calculationPeriod">
                <option *ngFor='let group of calculationPeriodList' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea type="text" class="form-control form-control-sm" id="comments" formControlName="comments"
                cols="30" rows="10"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Updated By:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Updated Date:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6 sidePadding">
              <button type="button" class="btn btn-primary" (click)="back()" style="float :left;">
                Back
              </button>
            </div>
            <!-- <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12 row rowPadding sidePadding"> -->
              <div class="col-sm-6 col-md-8 col-lg-8 col-xs-0" *ngIf="id === undefined || id === null; else elseBlock"></div>
              <ng-template #elseBlock>
                <div class="col-sm-3 col-md-4 col-lg-4 col-xs-6 sidePadding">
                  <button type="button" class="btn btn-primary" style="float: right" (click)="recalculate()" style="float :right;">
                    Recalculate
                  </button>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4 col-xs-6 sidePadding">
                  <button type="button" class="btn btn-primary" style="float: right" (click)="delete()" style="float :left;">
                    Delete
                  </button>
                </div>

              </ng-template>
              <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6 sidePadding">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()" style="float :right;">
                  Save
                </button>
              </div>
            <!-- </div> -->
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showDataFields]='true' [showTopicVariableFields]='true' [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>