section.space-top {
  margin-top: 5.3em;
}
.borderTop {
  border-top: 1px solid #ddd;
}
.borderBottom {
  border-bottom: 1px solid #ddd;
}
.rowPadding {
  padding: 5px;
}
.form-padding {
  padding-left: 40px;
  padding-right: 40px;
}
p.messages {
  font-size: 17px;
  font-weight: 600;
  margin-top: 1%;
}
.messageName {
  margin-left: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px;
  border-radius: 3px;
}
.paddingTop {
  padding-top: 3%;
}

.debug {
  text-decoration: underline;
  display: inline;
}
select {
  background: url("src/assets/images/up_downArrow.png") no-repeat right;
  -webkit-appearance: none;
  padding-right: 30px;
  background-position-x: 98%;
}
.sidePadding {
  padding: 2px !important;
  display: inline-table !important;
  text-align: right !important;
}

@media screen and (max-width: 769px) {
  .sidePadding {
    text-align: left !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .display-inline-button-large1 {
    display: inline-table;
  }
  .div-margin-top {
    margin-top: 3%;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .display-inline-button-large1 {
    display: inline-table;
  }
  .div-margin-top {
    margin-top: 3%;
  }
}

@media (min-width: 100px) and (max-width: 460px) {
  .display-inline-button-large1 {
    display: inline-table;
  }
  .button-text-align1{
    text-align: left!important;
  }
}
.label-margin-bottom {
  margin-bottom: 8px !important;
}
@media (min-width: 100px) and (max-width: 767px) {
  .display-responsive-large {
    margin-top: 3%;
  }
}
@media (min-width: 100px) and (max-width: 340px) {
  .display-inline-button-large {
    display: inline-table;
  }
}
.button-text-align{
  text-align: end;
}
