<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Topic description</span>
        </p>

        <form [formGroup]="topicForm" class="form-group">
        <div class="form-p">
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Topic code</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="surveyCode" formControlName="surveyCode">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Display Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="label" id="label">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Report Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="reportLabel" id="reportLabel">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Description:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="description"
                id="description"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="id !== undefined && topicDescriptionData && topicDescriptionData.firstPaneId" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">First Pane Or
              Section:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="firstPaneId">
                <option *ngFor='let topic of allTopicPane' value="{{topic.id}}">
                  {{topic.selectionLabel}}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="isActive">
                <input type="checkbox" formControlName="active" id="isActive">
                Is active
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="permanent">
                <input type="checkbox" formControlName="permanent"
                  id="permanent">
                Permanent
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf='id !== undefined' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="mandatory">
                <input type="checkbox" formControlName="mandatory"
                  id="mandatory">
                Mandatory
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showProgressIndicator">
                <input type="checkbox" formControlName="showProgressIndicator"
                  id="showProgressIndicator">
                Show progress indicator
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showLabelUnderProgressIndicator">
                <input type="checkbox"
                  formControlName="showDisplayLabel"
                  id="showLabelUnderProgressIndicator">
                Show label under progress indicator
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showLeaks">
                <input type="checkbox" formControlName="showLeaks"
                  id="showLeaks">
                Show Leaks
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showUnique">
                <input type="checkbox" formControlName="showUnique"
                  id="showUnique">
                Show Unique
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showRightMenu">
                <input type="checkbox" formControlName="showRightMenu"
                  id="showRightMenu">
                Show Right Menu
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showTopMenu">
                <input type="checkbox" formControlName="showTopMenu"
                  id="showTopMenu">
                Show Top Menu
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="topicForm.value.permanent == true" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Next Permanent
              Topic:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="nextTopic"
                formControlName="nextTopic">
                <option *ngFor='let topic of nextPermanentTopic' value="{{topic.id}}">
                  {{topic.label}}
                </option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf='id !== undefined' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="allowPublic">
                <input type="checkbox" formControlName="allowPublic"
                  id="alwlowPublic">
                Allow Public
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Message for survey unload events:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="messageOnUnload" id="messageOnUnload">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Top Menu:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools'
                formControlName='htmTopMenuTemplate' id='htmTopMenuTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Right menu top
              part:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools'
                formControlName='htmRightTopTemplate' id='htmRightTopTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Right menu bottom
              part::</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools'
                formControlName='htmRightBottomTemplate'
                id='htmRightBottomTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea type="text" class="form-control form-control-sm"
                id="comments" formControlName="comments"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
        </div>
          
          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Topic Group</span></p>
            <app-table [keys]="keys" [isPaginate]="false" [checkbox]=true
              [isHideAdd]=true [isSearch]="false"
              [data]="customerGroupList"  [hideMasterCheckBox]=true
              [(selectionList)]='selectionCustomerGroupList' id = "groupCode"
              (checkBoxChangeEvent)="selectionListCustomerGroup = ($event)"
              (singleSelectedRow)='addRemoveCustomerGroup($event)'
              >
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Topic Panes </span></p>
            <app-table [keys]="topicPaneKeys" [isPaginate]="true"
              [pageSize]="pageSize" 
              [pageIndex]="topicPane.index"
              [isSearch]="true" [data]="topicPane.dataSource"
              [totalElement]="topicPane.totalElement"
              (addEvent)='addTopicPanes()'
              (goToEditEvent)='goToEditTopicPanes($event)'
              [showSuggestionList]='true'
              (suggestionListEvent)='getSuggestionListForFilterForTopicPane($event)'
              [disableLastButton]='true'
              (changePageEvent)='topicPanePagination($event)'
              [suggestionList]='suggestionListTopicVariables'>
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Recommendations, Leaks,Unique </span></p>
            <app-table [keys]="recommendationKeys"
              [isPaginate]="true"
              [disableLastButton]='true'
              [data]="recommendationsList"
              [pageSize]="pageSize"
              [isSearch]="false" [data]="dataSource"
              [totalElement]="topicTableData.totalElements"
              (addEvent)='addRecommendationLeaks()'
              (goToEditEvent)='goToEditRecommendationLeaks($event)'
              >
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Topic Variables </span></p>
            <app-table [keys]="topicVariablesKeys" 
            [isPaginate]="true"
              [isSearch]="true"
              [data]="topicVariableTableData.content"
              [pageSize]="pageSize"
              [pageIndex]="topicVariableTableData.pageIndex"
              [totalElement]="topicVariableTableData.totalElements"
              (addEvent)='addTopicVariables()'
              (goToEditEvent)='goToEditTopicVariables($event)'  
              (changePageEvent)='topicVariablesPageChangeEvent($event)'
              (suggestionListEvent)='getSuggestionListForFilterForTopicVariable($event)'
              [showSuggestionList]='true'
              [disableLastButton]='true'
              [disableNextButton]='disableNextButtonTopicVariable'
              [suggestionList]='suggestionListTopicVariables' >
            </app-table>
          </div>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6 display-inline-button-large display-responsive-large">
              <button type="button" class="btn btn-primary" (click)="back()" style="float :left">Back</button>
            </div>
            <div *ngIf="id !== undefined" class="col-sm-2 col-md-2 col-lg-2 col-xs-6 button-text-align display-responsive-large">
              <button type="button" class="btn btn-primary"
                (click)="copy()" style="float :right">
                Copy
              </button>
            </div>
            <div  *ngIf="id !== undefined" class="col-sm-2 col-md-2 col-lg-3 col-xs-6 display-inline-button-large display-responsive-large">
              <label for="isRerunTopic" class="label-margin-bottom">
                <input type="checkbox" formControlName='isRerunTopic'
                  id='isRerunTopic' style="float :left">
                  Require users to rerun topic
              </label>
            </div>
            <div *ngIf="id !== undefined"  class="col-sm-2 col-md-2 col-lg-2 col-xs-6 display-inline-button-large1 display-responsive-large">
              <button type="button" class="btn btn-primary"
                (click)="ReInitTopic()" style="float :right">
                Reinit topics
              </button>
            </div>
            <div *ngIf="id !== undefined" class="col-sm-2 col-md-2 col-lg-1 col-xs-6 display-responsive-large button-text-align">
              <button type="button" class="btn btn-primary" (click)="delete()" style="float :left">Delete</button>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2 col-xs-6 div-margin-top display-responsive-large button-text-align button-text-align1">
              <button type="button" class="btn btn-primary" (click)="save()" style="float :right">Save</button>
            </div>
          </div>

        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>