<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">System Parameter</span>
        </p>
        <form [formGroup]="systemParameterForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Parameter code</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="paramCode"
                formControlName="paramCode">
                <div *ngIf="f.paramCode.invalid && (f.paramCode.dirty ||
                f.paramCode.touched)">
                <span class="error" *ngIf="f.paramCode.errors.required">
                  Parameter Code Id is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Description:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="description" id="description">
              <div *ngIf="f.description.invalid && (f.description.dirty ||
              f.description.touched)">
              <span class="error" *ngIf="f.description.errors.required">
                Description Id is required.
              </span>
            </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Parameter Value:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="paramValue" id="paramValue">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Format Type</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="formatType" formControlName="formatType">
                <option value="" selected></option>
                <option *ngFor='let group of formatType' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label>
                <input type="checkbox" formControlName="needServerRestart" id="needServerRestart">
                Need Server Restart
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label>
                <input type="checkbox" formControlName="readOnly" id="readOnly">
                Read Only
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="comments" formControlName="comments">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <!-- <div class="row rowPadding btn-wrapper">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 back-row">
              <button type="button" class="btn btn-primary" (click)="back()">
                Back
              </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 action-row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6" style="display: inline-table;"
                *ngIf="id === undefined || id === null"></div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"
                *ngIf="id !== undefined && id !== null">
                <button type="button" class="btn btn-primary" style="float: right" (click)="delete()">
                  Delete
                </button>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            </div>
          </div> -->

          <div class="row rowPadding paddingTop">
            <div class="col-sm-4 col-md- col-lg-4 col-xs-4 col-xl-4">
              <button type="button" class="btn btn-primary mb-button" (click)="back()">Back</button>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <div class="row">
                <div class="col-sm-8 col-md-9 col-lg-9  col-xs-12 col-xl-10 " style="text-align: end;"
                  *ngIf="id!==undefined&&id!==null">
                  <button type="button" class="btn btn-primary mb-button" (click)="delete()">Delete</button>
                </div>
                <div [ngClass]="{ 'col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2': id != undefined 
                , 'col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' : id == undefined}"
                  style="text-align:right; overflow:auto;">
                  <button type="button" class="btn btn-primary mb-button" (click)="save()">Save</button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar ></app-sidebar>
      </div>
    </div>
  </div>
</section>