<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">New Factor</span>
        </p>
        <form [formGroup]="eventForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Factor code</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="FactorCode" formControlName="factorCode">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Place:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="place" class="form-control" formControlName="place">
                <option value="" selected="selected"></option>
                <option *ngFor="let place of placeData" [value]="place.id">
                  {{ place.value }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Comparison Code:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="comparisonCode" formControlName="comparisonCode" class="form-control">
                <option value="" selected="selected"></option>
                <option *ngFor="let comparisonCode of comparisonCodeDropdownData" [value]="comparisonCode.key">
                  {{ comparisonCode.value }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Year:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="year" id="year">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Value:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="value" id="value">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Dimension:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="dimension" id="dimension">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Name:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="name" id="name">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Source Url:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="sourceUrl" id="sourceUrl">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Calculation type:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="calculationType" class="form-control" formControlName="calculationType">
                <option *ngFor="let type of calculationType" [value]="type.key" [selected]="type.selected">
                  {{ type.value }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Calculation Rule:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="calculationRule" id="calculationRule"></textarea>
              <span class="debug" (click)="goToDebug()">Debug</span>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Value by Comparison Groups:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <!-- <input type="text" class="form-control" formControlName="valueByComparisonGroup"
                id="valueByComparisonGroup"> -->
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Calculation Period:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="calculationPeriod" class="form-control" formControlName="calculationPeriod">
                <option value="D" selected="selected">Daily</option>
                <option value="M">Monthly</option>
                <option value="W">Weekly</option>
                <option value="Y">Year</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Last calculation date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <!-- <input type="text" class="form-control" formControlName="value" id="value"> -->
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="isActive">
                <input type="checkbox" formControlName="isActive" id="isActive" />
                Active
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="comments" id="comments"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <button type="button" class="btn btn-primary" (click)="back()">
                Back
              </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 row">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4" *ngIf="id === undefined || id === null"></div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                <button type="button" class="btn btn-primary" style="float: right" (click)="Recalculate()">
                  Recalculate
                </button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4" *ngIf="id !== undefined && id !== null">
                <button type="button" class="btn btn-primary" style="float: right" (click)="delete()">
                  Delete
                </button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>