<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">New Factor</span>
        </p>
        <form [formGroup]="factorForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Factor code</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="FactorCode" formControlName="factorCode">
                <div *ngIf="f.factorCode.invalid && (f.factorCode.dirty ||
                f.factorCode.touched)">
                <span class="error" *ngIf="f.factorCode.errors.required">
                  Factor Code is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Place:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="place" class="form-control" formControlName="place">
                <option value="" selected="selected"></option>
                <option *ngFor="let place of placeData" [value]="place.id">
                  {{ place.placeName }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Comparison Code:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="comparisonCode" formControlName="comparisonCode"
                class="form-control">
                <option value="" selected="selected"></option>
                <option *ngFor="let comparisonCode of
                  comparisonCodeDropdownData" [value]='comparisonCode.lookupValue'>
                  {{comparisonCode.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Year:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="year"
                id="year">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Value:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="factorValue"
                id="factorValue">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Dimension:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="dimension" id="dimension">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Name:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="factorName"
                id="name">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Source Url:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control"
                formControlName="sourceUrl" id="sourceUrl">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Calculation type:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="calculationType" class="form-control"
                formControlName="calculationType">
                <option *ngFor="let type of calculationType" [value]="type.lookupValue">
                  {{ type.valueName }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Calculation Rule:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" style="display: inline;"
                formControlName="calculationRule"
                id="calculationRule"></textarea>
              <span class="debug" (click)="goToDebug()">Debug</span>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Value by Comparison Groups:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control show-value" formControlName="valueByComparisonGroup"
                id="valueByComparisonGroup" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Calculation Period:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="calculationPeriod" class="form-control"
                formControlName="calculationPeriod">
                <option *ngFor='let period of periodData' [value]="period.lookupValue">{{period.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Last calculation date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control show-value" formControlName="calculationDate" id="value" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="isActive">
                <input type="checkbox" formControlName="active" id="isActive" />
                Active
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="comments"
                id="comments"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-3
              display-inline-button-big">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3
              display-inline-button-big" style="text-align: end;">
              <button type="button" class="btn btn-primary"
                (click)="recalculate()">
                Recalculate
              </button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3
              display-inline-button-big" [ngClass]="{'display-responsive-big2':
              id!==undefined&&id!==null}" style="text-align: end;">
              <button type="button" class="btn btn-primary" (click)="delete()"
                *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3 align-right"
              [ngClass]="{'display-responsive-big': id!==undefined&&id!==null}">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 align-right">
              <label for="selectAllCity">
                <input type="checkbox" formControlName="selectAllCity" id="selectAllCity" />
                do it for all cities
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>