<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" (click)="hide(1)" [style.float]="float">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </div>
                    <div *ngIf="users.theme=='HEA'||users.theme=='CEC'||users.theme=='M'||users.theme=='PGE'||users.theme=='SCE'">
                        <img height="52" src="assets/images/HEA/highenergyhome-banner.gif" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='P4P'">
                        <img src="assets/images/P4P/hi_logo_banner.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='CL'">
                        <img height="52" src="assets/images/CL/logo_gahhe.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='AC'">
                        <img height="52" src="assets/images/AC/logo_highenergy.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='EF'">
                        <img src="assets/images/EF/logo-ef.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='MBL'">
                        <img src="assets/images/hi_logo_banner.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='HET'||users.theme=='TST'">
                        <img height="52" src="assets/images/HET/logo_het.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='MV'">
                        <img height="52" src="assets/images/MV/logo_highenergy.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='SNV'">
                        <img height="52" src="assets/images/SNV/logo_snv.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='VT'">
                        <img height="52" src="assets/images/VT/logo_ev.gif" class="dashboard_img">
                    </div>
                    <!-- <p class="menu" *ngIf="!hides">MENU</p> -->
                </div>
            </div>
            <!-- <div class="col-sm-2 col-xs-4" *ngIf="!hides">
                <p class="menu">MENU</p>
            </div> -->
            <div class="col-sm-8 col-xs-12 responsive"> 
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-right header">
                        <li class="active hi">
                            <a [routerLink]="['/accountDetail']"><span class="userName" >Hi {{users.outhMeResponse.user.name}}</span></a>
                        </li>
                        <li>
                            <a (click)="hide(2)" class="main-menu" id="_home">
                                <img src="assets/images/menu_icon_home.svg" class="icon_size">&nbsp;&nbsp;<span class="menu">Home</span></a>
                        </li>
                        <li>
                            <a class="main-menu" (click)="hide(4)" id="all_topic">
                                <img src="assets/images/menu_icon_admin.svg" class="icon_size">&nbsp;&nbsp;<span class="menu">Topic</span></a>
                        </li>

                        <li>
                            <a (click)="logouts()" class="main-menu" id="_logout">
                                <img src="assets/images/menu_icon_logout.svg" class="icon_size">&nbsp;&nbsp;<span class="admin">Logout</span></a>
                        </li>

                        <li *ngIf="users.surveyLenght>3">
                            <a (click)="hide(5)" class="history_a">Topics history</a>
                        </li>
                        <li *ngIf="users.surveyLenght>3">
                            <a (click)="hide(6)" class="history_a">Events history</a>
                        </li>
                        <li *ngIf="users.surveyLenght>3">
                            <a (click)="hide(7)" class="history_a">Mail archive</a>
                        </li>
                        <li *ngIf="users.surveyLenght>3">
                            <a (click)="hide(8)" class="history_a">Recommadations</a>
                        </li>
                        <!-- <li *ngIf="users.surveyLenght>3">
                            <a (click)="hide(9)" class="history_a">Usage history</a>
                        </li> -->
                        <!-- <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="menu1" data-toggle="dropdown">Usage history
                                </a>
                                   <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1" href="#" [routerLink]="['/gasList/gas']">Gas</a>
                                </li>
                                <li role="presentation" style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1" href="#" [routerLink]="['/gasList/gas']" >Gas charge</a>
                                </li>
                                <li role="presentation" style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1" href="#" [routerLink]="['/gasList/electricity']">Electricity</a>
                                </li>
                                <li role="presentation" style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1" href="#" [routerLink]="['/gasList/electricity']">Electricity charge</a>
                                </li>
                                <li role="presentation" style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1" href="#" [routerLink]="['/gasList/electricity']" >Electric smart meter</a>
                                </li>
                                <li role="presentation" style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1" href="#" [routerLink]="['/gasList/water']">Gas smart meter</a>
                                </li>
                            </ul>
                            </div>
                        </li> -->
                        <!-- </div> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="header-hr">
</nav>
<router-outlet></router-outlet>