<div class="feedbackDiv" id="feedback3">
    <div data-qa="popup-mode-drawer_right" mode="drawer_right" width="800" class="feedbackCss" open="true" id="feedback2">
        <img alt="close-typeform" data-qa="popup-close-button" mode="drawer_right" src="./assets/images/cross.gif" class="feedbackiframe" (click)="closefeedbackpage()" id="feedback1">
        <iframe [src]="iframeUrl | safe: 'resourceUrl'" data-qa="iframe" frameborder="0" height="100%" width="100%" style="border: 0px;">
        </iframe>
    </div>
</div>
<button class="feedbackButton" (click)="openfeedbackpage()">FeedBack</button>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" (click)="hide(1)" [style.float]="float">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </div>
                    <div *ngIf="users.theme=='HEA'||users.theme=='CEC'||users.theme=='M'||users.theme=='PGE'||users.theme=='SCE'">
                        <img height="52" src="assets/images/HEA/highenergyhome-banner.gif" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='P4P'">
                        <img src="assets/images/P4P/hi_logo_banner.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='CL'">
                        <img height="52" src="assets/images/CL/logo_gahhe.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='AC'">
                        <img height="52" src="assets/images/AC/logo_highenergy.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='EF'">
                        <img src="assets/images/EF/logo-ef.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='MBL'">
                        <img src="assets/images/hi_logo_banner.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='HET'||users.theme=='TST'">
                        <img height="52" src="assets/images/HET/logo_het.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='MV'">
                        <img height="52" src="assets/images/MV/logo_highenergy.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='SNV'">
                        <img height="52" src="assets/images/SNV/logo_snv.png" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='VT'">
                        <img height="52" src="assets/images/VT/logo_ev.gif" class="dashboard_img">
                    </div>
                    <div *ngIf="users.theme=='RS'">
                        <img height="52" src="assets/images/dashboard/logo_hi_horizontal.png" class="dashboard_img">
                    </div>
                    <!-- <p class="menu" *ngIf="!hides">MENU</p> -->
                </div>
            </div>
            <!-- <div class="col-sm-2 col-xs-4" *ngIf="!hides">
                <p class="menu">MENU</p>
            </div> -->
            <div class="col-sm-8 col-xs-12 responsive"> 
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-right header">
                        <li class="active hi">
                            <a (click)="hide(3)"><span class="username" >Hi {{users.outhMeResponse.user.name}}</span></a>
                        </li>
                        <li>
                            <a (click)="hide(2)" class="main-menu" id="_home">
                                <img src="assets/images/menu_icon_home.svg" class="icon_size">&nbsp;&nbsp;<span class="menu">Home</span></a>
                        </li>
                        <li>
                            <a class="main-menu" (click)="hide(4)" id="all_topic">
                                <img src="assets/images/menu_icon_admin.svg" class="icon_size">&nbsp;&nbsp;<span class="menu">Topics</span></a>
                        </li>

                        <li>
                            <a (click)="logouts()" class="main-menu" id="_logout">
                                <img src="assets/images/menu_icon_logout.svg" class="icon_size">&nbsp;&nbsp;<span class="admin">Logout</span></a>
                        </li>
                        <div id="menu_option">
                            <li>
                                <a (click)="hide(5)" class="history_a">Topics history</a>
                            </li>
                            <li>
                                <a (click)="hide(6)" class="history_a">Events history</a>
                            </li>
                            <li>
                                <a (click)="hide(7)" class="history_a">Mail archive</a>
                            </li>
                            <li>
                                <a (click)="hide(8)" class="history_a">Recommendations</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="header-hr">
    
</nav>
<router-outlet></router-outlet>