.history_a {
  display: none;
  cursor: pointer;
}
.main-menu {
  cursor: pointer;
}
.nav > li > a {
  padding: 9px 2px !important;
}
span.menu {
  border-right: 1px solid #000;
  padding-right: 12px;
}
span.username {
  border-right: 1px solid #000;
  padding-right: 12px;
}
span.menu:hover {
  text-decoration: underline;
}
span.admin:hover {
  text-decoration: underline;
}
img.icon_size {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .history_a {
    display: block !important;
    color: #4550a1;
    font-size: 14px;
    font-weight: 500;
  }
  ul.nav.navbar-nav.navbar-right.header {
    background-color: #fbfbfb;
    font-family: "Montserrat";
  }
  span.menu {
    border-right: 0px solid #fff !important;
    color: #4550a1;
    font-size: 14px;
    font-weight: 500;
  }
  .navbar-nav {
    margin: 0.5px -15px;
  }

  .nav > li {
    padding: 0 10px;
  }
  img.icon_size {
    display: inline-block !important;
    width: 23px;
  }
}
.header_menu_none {
  display: none;
}
span.username:hover {
  text-decoration: underline;
}

/* ------------------------------------ */

section.space-top {
  background-size: 100% 100%;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d8d8d8;
  z-index: 1000;
}
.container-fluid.responsiveMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#backcolor {
  background: #fbfbfb;
}
ul.demo li {
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
  padding-top: 12px;
}

div#headers {
  background: white;
  border-bottom: 7px solid #d8d8d8;
}
p.backArrow {
  margin-top: 15px;
}
p.menuresponsive {
  text-align: center;
  margin-top: 10px;
  font-size: 23px;
}
.dropdown-menu {
  background-color: #fbfbfb;
  border: 0px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #4550a1;
  text-decoration: none;
  background-color: #fbfbfb;
  text-decoration: underline;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
  color: #4550a1;
  font-weight: 600;
  cursor: pointer;
}
.dropdown-menu[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:focus,
.dropdown-menu[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:hover {
  color: #4550a1;
  text-decoration: underline;
  background-color: #fbfbfb;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #4550a1;
  border-color: #4550a1;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
  text-decoration: underline;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

.header_menu_none {
  display: none;
}
.header_menu_display {
  display: block;
}

.btn-primary {
  color: #fff;
  background-color: #f3905c;
  border-color: #f3905c;
  padding: 4px 12px;
  font-size: 12px;
  font-family: "Montserrat";
}
.responsive-btn {
  font-size: 12px !important;
}

.adminButton {
  margin-top: 4px;
  margin-right: 4px;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #f3905c;
  border-color: #f3905c;
  padding: 4px 12px;
  border-radius: 3px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

.customer-chat-button{
  right: 0px;
  bottom: 0px;
  padding: 8px 14px 8px 14px;
  border-bottom: 0px;
  border: 1px solid #578ea9;
  color: white !important;
  display: block;
  position: fixed;
  background-color: #578ea9!important;
  font-size: 15px !important;
  font-family: Arial;
  line-height: 15px;
  opacity: 1;
  z-index: 999995;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  transform-origin: 100% 100% 0;
  -webkit-transform-origin: 97% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: rotate(-90deg) scale(1.02);
  -moz-transform: rotate(-90deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}