section.space-top {
  background: #d8d8d8;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#backcolor {
  background: #fbfbfb;
}
ul.demo li {
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
  padding-top: 12px;
}

div#headers {
  background: white;
  border-bottom: 7px solid #d8d8d8;
}
p.backArrow {
  margin-top: 15px;
}
p.menuresponsive {
  text-align: center;
  margin-top: 10px;
  font-size: 23px;
}
.dropdown-menu {
  background-color: #fbfbfb;
  border: 0px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #4550a1;
  /* text-decoration: none; */
  background-color: #fbfbfb;
  text-decoration: underline;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
  color: #4550a1;
  font-weight: 600;
  cursor: pointer;
}
.dropdown-menu[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:focus,
.dropdown-menu[_ngcontent-c2] > li[_ngcontent-c2] > a[_ngcontent-c2]:hover {
  color: #4550a1;
  text-decoration: underline;
  background-color: #fbfbfb;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #4550a1;
  border-color: #4550a1;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
  text-decoration: underline;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

.header_menu_none {
  display: none;
}
.header_menu_display {
  display: block;
}
