<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="error-message" *ngIf="errorMessage">
          {{errorMessage?.error?.errorMessage}}
        </p>
        <p class="messages">
          <img alt="dot" class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Batch Add Customer Comparison Group</span>
        </p>
        <form [formGroup]="customerComparisonGroupForm" class="form-group
          form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Comparison code
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="comparisonCode" class="form-control form-control-sm"
                formControlName="comparisonCode">
                <option *ngFor="let comparisonCode of
                  comparisonCodeDropdownData"
                  [value]='comparisonCode.lookupValue'>
                  {{comparisonCode.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Order:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="orderNumber" formControlName="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Weather Station
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="weatherStation" class='form-control form-control-sm'
                name="weatherStation"
                formControlName="weatherStation">
                <option value="" selected="selected"></option>
                <option *ngFor="let stationId of weatherStationIds"
                  [value]="stationId.stationId">{{stationId.stationName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
              <button type="button" class="btn btn-primary" style="float:right;"
                (click)="delete()">
                Delete</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>