<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content" style='text-align: left;padding-left: 40px;
          padding-top: 35px;'>
        <p class="heading">
          Customer Group Mail Parts
        </p>
        <form [formGroup]='mailForm'>
          <div class="row rowPadding borderBottom" (submit)="search()">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Customer Group:</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName='customerGroup' id='customerGroup'>
                <option *ngFor='let customerGroup of customerGroupData' [value]="customerGroup.key">
                  {{customerGroup.value}}</option>
              </select>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" class="btn btn-primary">Show</button>
            </div>
          </div>

          <div class="paddingTop">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName">Customer Group Mail Part List</span></p>
            <app-table [keys]="keys" [isPaginate]="true" (goToEditEvent)='goToEditMailParts($event)'
              (addEvent)='addMailParts()' [isSearch]="false" [data]="dataSource"
              [totalElement]="mailData.totalElements" (changePageEvent)="findMailPart($event)">
            </app-table>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>