<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">User Report</span>
        </p>
        <form [formGroup]="topicForm" class="form-group">
          <div class="form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="orderNumber" id="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Display Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="displayName" id="displayName">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Report Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="userReportType" formControlName="userReportType" class="form-control">
                <option *ngFor='let type of userReportType' [value]="type.lookupValue">{{type.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm' formControlName="labelTemplate" id="labelTemplate"> </textarea>
              <div class="error-message" *ngIf="highlightErrorField('labelTemplate')" >
                <span> Label is required.</span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="contentType" class='form-control form-control-sm' formControlName="contentType">
                <option *ngFor='let contentType of contentTypeList' [value]="contentType.lookupValue">{{contentType.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm' formControlName="filter" id="filter"> </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          </div>
          <div class="paddingTop" *ngIf="id" style="margin-top: 100px;">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName"> User Report Groups</span></p>
            <app-table [keys]="userReportKeys" [isPaginate]="false" [checkbox]=true [isHideAdd]=true
              [isSearch]="false" [data]="customerGroup.content" [selectionList]="customerGroup.selectedContent"
              id="customerGroupId" [hideMasterCheckBox]=true 
              (checkBoxChangeEvent)="customerGroup.NewSelectedContent= ($event)">
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id" style="margin-top: 100px;">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Content Parts</span></p>
            <app-table [keys]="contentPartsKeys" [isPaginate]="true" [isSearch]="false" [data]="contentPartsData.content"
              [pageIndex]="contextVariableData.pageIndex" [pageSize]="contextVariableData.pageSize"  
              [totalElement]="contentPartsData.totalElements" (addEvent)='addContentParts()'
              (goToEditEvent)='goToEditContentParts($event)' (changePageEvent)="changePageForContentParts($event)">
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id" style="margin-top: 100px;">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Context variables</span></p>
            <app-table [keys]="variableKeys" [isPaginate]="true" [isSearch]="false" 
              [data]="contextVariableData.content" [pageIndex]="contextVariableData.pageIndex"
              [pageSize]="contextVariableData.pageSize"
              [totalElement]="contextVariableData.totalElements" (addEvent)='addVariable()'
              (goToEditEvent)='goToEditVariable($event)' (changePageEvent)="changePageForContextVariable($event)">
            </app-table>
          </div>

          <div class="row paddingTop" style="padding-top: 50px;">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 ">
              <button type="button" class="btn btn-primary mb-5" (click)="back()">Back</button>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 right-buttons">
              <button type="button" class="btn btn-primary mb-5" (click)="save()">Save</button>
              <button type="button" class="btn btn-primary mb-5" *ngIf="id" (click)="delete()"  >Delete</button>
              <button type="button" class="btn btn-primary mb-5" *ngIf="id" (click)="Preview()" > Preview </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>