<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">User Report</span>
        </p>
        <form [formGroup]="topicForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="order" id="order">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Display Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="displayLabel" id="displayLabel">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Report Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="userReportType" formControlName="userReportType" class="form-control">
                <option *ngFor='let type of reportType' [value]="type.key">{{type.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm' formControlName="label" id="label"> </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="contentType" class='form-control form-control-sm' formControlName="contentType">
                <option *ngFor='let contentType of contentTypeList' [value]="contentType.lookupValue">{{contentType.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm' formControlName="filter" id="filter"> </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName"> User Report Groups</span></p>
            <app-table [keys]="userReportKeys" [isPaginate]="false" [checkbox]=true [isHideAdd]=true
              [isSearch]="false" [data]="userReportDataSource" [totalElement]="userReportData.totalElements">
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName">Content Parts</span></p>
            <app-table [keys]="contentPartsKeys" [isPaginate]="true" [isSearch]="true" [data]="contentPartsDataSource"
              [totalElement]="contentPartsData.totalElements" (addEvent)='addContentParts()'
              (goToEditEvent)='goToEditContentParts()'>
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName">Context variables</span></p>
            <app-table [keys]="variableKeys" [isPaginate]="true" [isSearch]="false" [data]="variableDataSource"
              [totalElement]="variableData.totalElements" (addEvent)='addVariable()'
              (goToEditEvent)='goToEditVariable()'>
            </app-table>
          </div>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-3
              display-inline-button-big">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3
              display-inline-button-big" [ngClass]="{'display-responsive-big3':
              id!==undefined&&id!==null}" style="text-align: end;">
              <button type="button" class="btn btn-primary"
                (click)="Preview()" *ngIf="id!==undefined&&id!==null">
                Preview
              </button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3
              display-inline-button-big" [ngClass]="{'display-responsive-big2':
              id!==undefined&&id!==null}" style="text-align: end;">
              <button type="button" class="btn btn-primary" (click)="delete()"  *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3"
              [ngClass]="{'display-responsive-big': id!==undefined&&id!==null}">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>