<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content">
        <form [formGroup]="customerForm" class="form-group">
          <div class="row">
            <div class="col-sm-12 error">{{errorMessage}}</div>
            <div class="col-sm-12 col-md-12 col-lg-12 heading">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <strong *ngIf="isEditMode">Edit User Account</strong>
              <strong *ngIf="!isEditMode">New User Account</strong>
            </div>
          </div>
          <div class="row  borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Customer Group:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="customerGroupId"
                (change)="changeDropDownValue($event,'customerGroup')" formControlName="customerGroupId">
                <option *ngFor="let group of customerGroupList" [value]="group.customerGroupId">
                  {{group.groupName}}</option>
              </select>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="isProgramGroup">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Program:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="programGroupId"
                (change)="changeDropDownValue($event,'programGroup')" formControlName="programGroupId">
                <option value="" selected="selected">Unassigned</option>
                <option *ngFor="let group of programGroupList" [value]="group.programGroupId">
                  {{group.programName}}</option>
              </select>
            </div>
          </div>

          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Which Place?:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="placeCode" (change)="changeDropDownValue($event,'place')"
                formControlName="placeCode">
                <option *ngFor="let group of placeCode" [value]="group.id">
                  {{group.placeName}}</option>
              </select>
            </div>
          </div>

          <div class="row borderBottom w100 rowPadding" formGroupName="user">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Status
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="status" (change)="changeDropDownValue($event,'status')"
                formControlName="status">
                <option *ngFor="let group of statusData" [value]="group.id">
                  {{group.value}}</option>
              </select>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Energy Coach:
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-9"  *ngIf="users.role=='ADMIN'" >
                <select class="form-control form-control-sm" id="coachUserId"
                (change)="changeDropDownValue($event,'coachUser')" formControlName="coachUserId">
                <option value="" selected="selected">Unassigned</option>
                <option *ngFor="let group of coachUserList" [value]="group.id">
                  {{group.name}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3" style="height: 34px">
              <label> {{energyCoach}} </label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" formGroupName="user">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="name" formControlName="name">
              <div *ngIf="f1.name.invalid && (f1.name.dirty ||
                f1.name.touched)">
                <span class="error" *ngIf="f1.name.errors.required">
                  Name is required.
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" formGroupName="user">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              E-mail:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="email" formControlName="email">
              <div *ngIf="f1.email.invalid && (f1.email.dirty ||
                f1.email.touched)">
                <span class="error" *ngIf="f1.email.errors.required ||
                  f1.email.errors.pattern">
                  Email is required.
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="optOutMail" formControlName="optOutMail">
              <label>Opt Out mail</label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Phone:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="phoneNumber" formControlName="phoneNumber">
              <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty ||
                f.phoneNumber.touched)">
                <span class="error" *ngIf="f.phoneNumber.errors.required">
                  Phone Number is required.
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 heading">
              <Strong>Address</Strong>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-8">
              <button type="button" class="btn btn-primary" (click)="openAddressOnGoogleMap()">View in Google
                Maps</button>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              City:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="city" formControlName="city" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              State:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="state" formControlName="state" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Postal code:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="postalCode" formControlName="postalCode"
                disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Street:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="street1" formControlName="street1" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined && updateWithUtilityAddressFlag == true">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 heading">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-8">
              <button (click)="UpdateWithUtilityAddressFlagChangeEvent()" 
               type="button" class="btn btn-primary" >update with utility address</button>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <p style="padding: inherit;"></p>
          </div>
          <div class="row borderBottom w100 rowPadding" formGroupName="user">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Username:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="username" formControlName="username">
            </div>
            <div class="col-sm-2 col-xs-2" *ngIf="id!=undefined">
              <img src="assets/images/icon_help.svg" style="float: right; margin-top:
                0%;margin-left: 5px;" class="media-object" id="help_btn1" alt="help" (click)="showMessageFlag=!showMessageFlag">
            </div>
          </div>
          <div class="row" id="helpiconcontainresponsive" class="help" *ngIf="showMessageFlag">
            <div class="col-sm-12 col-xs-12">
              <p class="demo1" style="margin-top:-40px">This is your user name for this service
                <span class="hidebuttondemo" (click)="showMessageFlag=!showMessageFlag">hide</span>
              </p>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" formGroupName="passwordForm" *ngIf="customerGroupCode!=='RYPL'">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              New password:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="password" class="form-control form-control-sm" id="restorePasswordKey"
                formControlName="password" (change)='onchange()' [pattern]='regex'>
              <div *ngIf="p.password.invalid && (p.password.dirty ||
                p.password.touched)">
                <span class="error" *ngIf="p.password.errors?.required">
                  Password is required.
                </span>
                <span class="error" *ngIf="p.password.errors?.required ||
                  p.password.errors?.minlength || p.password.errors?.maxlength">
                  Password Min length {{minLength}} and Max length {{maxLength}}
                </span>
                <span class="error" *ngIf="p.password.errors?.pattern">
                  Min {{charactersCount}} characters from {{pattern}} is
                  required
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-xs-2" *ngIf="id!=undefined">
              <img src="assets/images/icon_help.svg" style="float: right; margin-top:
                0%;margin-left: 5px;" class="media-object" id="help_btn1" alt="help" (click)="showMessagePasswordFlag=!showMessagePasswordFlag">
            </div>
          </div>
          <div class="row" id="helpiconcontainresponsive" class="help" *ngIf="showMessagePasswordFlag">
            <div class="col-sm-12 col-xs-12">
              <p class="demo1" style="margin-top:-40px">This is where you can change your password for this service
                <span class="hidebuttondemo" (click)="showMessagePasswordFlag=!showMessagePasswordFlag">hide</span>
              </p>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" formGroupName="passwordForm" *ngIf="customerGroupCode!=='RYPL'">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              New password (repeat):
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="password" class="form-control form-control-sm" id="newPassword"
                formControlName="confirmPassword">
              <div *ngIf="p.confirmPassword.invalid && (p.confirmPassword.dirty
                ||
                p.confirmPassword.touched)">
                <span class="error" *ngIf="p.confirmPassword.errors?.required">
                  Password is required.
                </span>
                <span class="error" *ngIf="p.confirmPassword.errors?.mustMatch">
                  Password and repeat password must match
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined
            && customerGroupCode==='SCB'" formGroupName="user">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Authentication On Registration
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value" id="registrationAuthentication"
                formControlName="registrationAuthentication" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 heading">
              <strong>
                <p>
                  Cooling and Heating Model Selection
                </p>
              </strong>
              <!-- <em>
                <span>
                  Note: if model changed, admin email will be sent after
                  recalculations completed
                </span>
              </em> -->
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Electricity Model:
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <select class="form-control form-control-sm" id="elCoolingModel" formControlName="elCoolingModel">
                <option *ngFor="let group of electricModelList" [value]="group.key">
                  {{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <input type="checkbox" name="allowElModelChange" id="allowElModelChange" formControlName="allowElModelChange">
                Allow system to change model
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Natural Gas Heating Model:
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <select class="form-control form-control-sm" id="ngHeatingModel" formControlName="ngHeatingModel">
                <option *ngFor="let group of naturalGasHeatingModelList" [value]="group.key">
                  {{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <input type="checkbox" name="allowNgModelChange" id="allowNgModelChange" formControlName="allowNgModelChange">
              Allow system to change model
          </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Weather Station:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <input type="text" class="form-control form-control-sm" id="stationId" formControlName="stationId"
                disabled>
            </div>
            <div class="col-sm-2 col-xs-2">
              <img src="assets/images/icon_help.svg" style="float: right; margin-top:
                0%;margin-left: 5px;" class="media-object" id="help_btn1" alt="help" (click)="helpHide=!helpHide">
            </div>
            <div class="row" id="helpiconcontainresponsive" class="help" *ngIf="helpHide">
              <div class="col-sm-12 col-xs-12">
                <p class="demo1">Weather stations are determined by a user's ZIP
                  CODE first<br>
                  (if that zip code is associated with a specific station) then
                  by the PLACE associated with the customer group. If either is
                  changed, select "Recalculate Variables" to update the
                  regression results.
                  <span class="hidebuttondemo" (click)="helpHide=!helpHide">hide</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <strong>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 heading">
                Utility Data
              </div>
            </strong>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="row col-sm-12 col-md-12 col-lg-12 col-xs-12">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 btnMarginBottom"><button type="button"
                  class="btn btn-primary" (click)="clearCustomerValueCache()">Clear
                  Cache</button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 btnMarginBottom">
                <button type="button" class="btn btn-primary" (click)="recalculateCustomerVariable()">Recalculate
                  Variables</button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <button type="button" class="btn btn-primary" (click)="reorderCustomerBills()">Reorder Bills</button>
              </div>
              <div style="padding-left: inherit">
                <span>
                  <em>
                    Note: admin email will be sent when Rescrape, Update or
                    Recalculate functions are completed.
                  </em>
                </span>
              </div>
            </div>

          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
              Has pool
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
              <input type="checkbox" name="mail" id="pgeHasPool" formControlName="pgeHasPool" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
              Has Solar PV
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
              <input type="checkbox" name="solarPvInstalled" id="solarPvInstalled" formControlName="solarPvInstalled">
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <p style="padding: inherit;"></p>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="isUserAdmin()">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="staffPermission" id="staffPermission" formControlName="staffPermission">
              <label class="checkbox">Permission for staff access granted</label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="permissionGranted" id="permissionGranted"
                formControlName="permissionGranted">
              <label class="checkbox">Permission granted to analyze your
                historic and future utility bills using your
                online accounts?</label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Audit ID:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="auditId" formControlName="auditId" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Activation Date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value" id="activationDate"
                formControlName="activationDate" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Registration Date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value" id="registrationDate"
                formControlName="registrationDate" disabled>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"
            [ngClass]="{'error-fields-highlight' : (eligibleStartDate.errors?.invalidDate)}"
            >
              Eligible start date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="eligibleStartDate"
                formControlName="eligibleStartDate">
            </div>
          </div>
          <ng-container *ngIf="users.role=='ADMIN'">
            <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Most recent cache update:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <input type="text" class="form-control form-control-sm show-value" id="vacaCalculationDate"
                  formControlName="vacaCalculationDate" disabled>
              </div>
            </div>
            <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Most recent analysis update:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <input type="text" class="form-control form-control-sm show-value" id="lastMonthlyCalc"
                  formControlName="lastMonthlyCalc" disabled>
              </div>
            </div>
            <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined" formGroupName="user">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Most recent utility data collection:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <input type="text" class="form-control form-control-sm show-value" id="lastSuccessfulUtilityReadDate"
                  formControlName="lastSuccessfulUtilityReadDate" disabled>
              </div>
            </div>
          </ng-container>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 d-flex align-items-center justify-content-end">
              <input type="checkbox" name="activationMail" formControlName="activationMail" id="activationMail">
              <label class="checkbox">Send activation E-Mail</label>
              <!-- <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12"> -->
                <a *ngIf="users.role != 'USERS'" (click)="copyTextToClipBoard(sendActivationEmailDirectLink)" 
                   class="tooltip-container cursor-pointer tooltip-cp d-flex">  
                   <img alt="icon" src="assets/images/copy-icon.png" style="height: 15px; margin-top:14px ;margin-left: 20px;">
                   <span class="tooltiptext-cp" >Copy to clipboard the topic link</span>                               
                </a>
              <!-- </div> -->
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="id!=undefined">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="repeated" formControlName="repeatedActivationMail" id="repeated">
              <label class="checkbox"> Send repeated activation E-Mail</label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Smart Meter Electric period:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="smePeriod" formControlName="smePeriod" disabled="true">
                <option value=""></option>
                <option *ngFor="let group of smartMeterElectricPeriodList" [value]="group.key">
                  {{group.value}}</option>
              </select>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding" *ngIf="(id!=undefined&&customerGroupCode!=='RYPL') && (electricityRatePlan && heatingRatePlan)">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Rate Plan:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              {{electricityRatePlan?.code}} &nbsp; Since Date: {{electricityRatePlan?.startDate | date:'MM/dd/yyyy'}}
              ,{{heatingRatePlan?.name}} &nbsp; Since Date: {{heatingRatePlan?.startDate |
              date:'MM/dd/yyyy'}}
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="excludeFromReports" id="excludeFromReports"
                formControlName="excludeFromReports">
              <label class="checkbox"> Exclude this user from Reports</label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" name="allowUIVersion" id="allowUIVersion" formControlName="allowUIVersion">
              <label class="checkbox"> Allow UI version selection</label>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              UI Version:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="uiVersion" formControlName="uiVersion">
                <option *ngFor="let group of uiVersionList" [value]="group.key">
                  {{group.value}}</option>
              </select>
            </div>
          </div>
          <div class="row borderBottom w100 rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Notes:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control form-control-sm textarea_scroll" rows="3" name="notes" id="notes"
                formControlName="notes"></textarea>
            </div>
          </div>
        </form>

        <div style="margin-left: -25px;">
          <!-- Utility Credentials -->
          <div class="row marginTop">
            <div class="col-sm-12">
              <p class="Messages">
                <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Utility
                  Credentials</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-table [keys]="credentialsKeys" [data]="credentialsDataSource" [isDelete]="isUserAdmin()" [isHideAdd]="!isUserAdmin()"
                [totalElement]="credentialsData.totalElements" (goToEditEvent)="editUtility($event)" 
                (addEvent)='openUtilityCredential(undefined)' (imageEvent)='openUtilityCredential($event)'
                (deleteEvent)="deleteUtilityCredential($event)" class="rowSize">
              </app-table>
            </div>
          </div>

          <!-- Alerts notes -->
          <div class="row marginTop">
            <div class="col-sm-12">
              <p class="Messages">
                <img src="assets/images/dot03.gif" alt="dot" class="dot pointer">
                <strong>
                  Alerts
                </strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-table [keys]="alertsKeys" [data]="alertsDataSource" [isDelete]=true
                [totalElement]="alertsData.totalElements" (deleteEvent)="deleteCustomerAlert($event)"
                (goToEditEvent)="editAlert($event)" (addEvent)="addCustomerAlert(undefined)">
              </app-table>
            </div>
          </div>

          <!-- Customer Events -->
          <div class="row marginTop">
            <div class="col-sm-12">
              <p class="Messages">
                <img src="assets/images/dot03.gif" alt="dot" class="dot
                pointer"><strong>Customer Events</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-table [keys]="eventKeys" [data]="eventDataSource" [isDelete]=true
                [totalElement]="eventData.totalElements" (goToEditEvent)="editCustomerEvent($event)"
                (deleteEvent)="deleteCustomerEvent($event)" (addEvent)="addCustomerEvent(undefined)">
              </app-table>
            </div>
          </div>


          <!-- Staff Notes -->
          <div class="row marginTop">
            <div class="col-sm-12">
              <p class="Messages">
                <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Staff
                  Notes</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-table [keys]="staffKeys" [data]="staffDataSource" [isDelete]=true
                [totalElement]="staffData.totalElements" (addEvent)='addStaffNote(undefined)'
                (goToEditEvent)="editStaffNote($event)" (deleteEvent)="deleteStaffNote($event)">
              </app-table>
            </div>
          </div>
          <!-- Customer Files (Note: Changes in Sandbox also affect Production version) -->
          <div class="row marginTop">
            <div class="col-sm-12">
              <p class="Messages">
                <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Customer
                  Files (Note: Changes in Sandbox
                  also affect Production version)</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="file" id="fileInput" style="display:none" (change)="handle($event.target.files)">
              <app-table [keys]="filesKeys" [data]="filesDataSource" [isDelete]=true [isFilePreview]=true
                [totalElement]="filesData.totalElements" (addEvent)='addFile()' (filePreviewEvent)="previewFile($event)"
                (deleteEvent)="handleDeleteEvent($event)" (handleInLineEditEvent)='handleInLineEditEvent($event)'
                (handleInLineSaveEvent)='handleInLineSaveEvent($event)'>
              </app-table>
            </div>
          </div>
          <div class="row" *ngIf="fileObject!=undefined">
            <div class="col-sm-4 col-xs-10 col-xs-offset-1 file-description-box">
              <div class="row" style="margin: 0px;">
                <form #fileForm="ngForm">
                  <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-primary" (click)="uploadFile(fileForm)">upload</button>
                  </div>
                  <div class="col-sm-8 col-xs-8" style="height: 31px;line-height: 31px; word-break: break-word;">
                    {{fileObject.name}}
                  </div>
                  <div class="col-sm-12 col-xs-12">
                        <div *ngIf="!fileForm.submitted && fileForm.form.status != 'INVALID'">Description</div>
                        <div *ngIf="fileForm.submitted && fileForm.form.status == 'INVALID'" 
                        style="color:red;">Description is mandatory!</div>
                        <textarea class="form-control textarea_scroll" rows="3" id="description" name="description"
                        [ngClass]="{'error-fields-border' : fileForm.submitted && fileForm.form.status == 'INVALID'}"
                          #fileDescription="ngModel"  [(ngModel)]="description" required ></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Email Settings -->
          <div id="email-settings" *ngIf="emailDataSource && emailDataSource.length != 0">
            <div class="row marginTop">
              <!-- <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"> -->
              <div class="col-sm-12">
                <p class="Messages">
                  <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Email
                    Settings</strong>
                </p>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 text-middle"><button type="button" style="margin-top:-14%; margin-left: 80%;" 
                  class="btn btn-primary" (click)="viewMailArchive()">View Mail Archive</button>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <app-table [keys]="emailKeys" [data]="emailDataSource" [isDelete]=false [isHideAdd]=true
                  [totalElement]="emailDataSource.length" (checkBoxChangeEvent)="emailSettingsCheckBoxEvent($event)" >
                </app-table>
              </div>
            </div>
          </div>
          
  
          
          <!-- Opt Out -->
          <ng-container *ngIf="optOutDataSource && optOutDataSource.length != 0">
          <div class="row marginTop">
            <div class="col-sm-12">
              <p class="Messages">
                <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Current
                  Opt-outs</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-table [keys]="optOutKeys" [data]="optOutDataSource" [isDelete]=true [isHideAdd]=true
                [totalElement]="optOutData.totalElements" (deleteEvent)="deleteOptOut($event)">
              </app-table>
            </div>
          </div>
        </ng-container>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-4">
              <button type="button" style="margin-left:-4px;" class="btn
              btn-primary" (click)="cancel()">Cancel</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
              <button type="button" class="btn btn-primary" (click)="delete()" *ngIf="id!=undefined && isUserAdmin()">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
              <button type="submit" class="btn btn-primary" (click)="save()"
                style="float:right; margin-right: -4px;">Save</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>