<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="select_next">
              Edit User Account
            </h3>
          </div>
        </div>
        <div class="row borderTop borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Customer Group:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">CEC</option>
              <option value="2">EUMV</option>
              <option value="5">HEA</option>
              <option value="6">Vermont VEIC (disabled)</option>
              <option value="7">Home Energy Tuneup</option>
              <option value="8">Test Accounts</option>
              <option value="9">Alameda</option>
              <option value="10">PG&amp;E Direct Pay (disabled)</option>
              <option value="11">SVEW (disabled)</option>
              <option value="12">CalWater (disabled)</option>
              <option value="13">Claremont</option>
              <option value="14">Purissima Water (disabled)</option>
              <option value="15">Energy Fitness (disabled)</option>
              <option value="16">Dr Power</option>
              <option value="17">Pay for Performance</option>
              <option value="18">Sunnyvale Green At Home (disabled)</option>
              <option value="20">ConSol PG&amp;E</option>
              <option value="23">SC High Energy</option>
              <option value="24">Rising Sun</option>
            </select>
          </div>
        </div>

        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Witch Place?:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">Los Altos Hils</option>
            </select>
          </div>
        </div>

        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Status
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">Active(0)</option>
            </select>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Energy Coach:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">UNASSIGNED</option>
            </select>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Name:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            E-mail:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label> Opt Out mail</label>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Phone:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Address
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <button type="button" class="btn btn-primary">View in Google Maps</button>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            City:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            State:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Postal code:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Street:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Username:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            New password:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="password" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            New password (repeat):
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <p>Cooling and Heating Model Selection
            </p>
            <span>
              Note: if model changed, admin email will be sent after
              recalculations completed
            </span>
          </div>

        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Electricity Model:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">Auto</option>
            </select>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Natural Gas Heating Model:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">Seasonal Model</option>
            </select>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Weather Station:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Utility Data
          </div>

        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <button type="button" class="btn btn-primary">Clear Cache</button>
            <button type="button" class="btn btn-primary">Recalculate Variables</button>
            <p>Note: admin email will be sent when Rescrape, Update or
              Recalculate functions are completed</p>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Has pool
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Has Solar PV
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label> Permission for staff access granted</label>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label> Permission granted to analyze your historic and future utility bills
              using your online accounts?</label>

          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Audit ID:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Activation Date:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Registration Date:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <p>12/12/2020</p>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Eligible start date::
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="text" class="form-control form-control-sm" id="customerName">
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Most recent cache update:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Most recent analysis update:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <p>10/13/2020 07:25:29</p>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Most recent utility data collection:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <p>10/13/2020 07:25:29</p>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label>Send activation E-Mail</label>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label> Send repeated activation E-Mail</label>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Smart Meter Electric period:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">15 min</option>

            </select>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Rate Plan:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            HEV2A Since Date:07/12/2012, G1 ,G-1 Residential Gas Service Since
            Date:06/01/1992
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label> Exclude this user from Reports</label>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <input type="checkbox" name="mail">
            <label> Allow UI version selection</label>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            UI Version:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <select class="form-control form-control-sm" id="customerGroup">
              <option value="" selected="selected"></option>
              <option value="1">Classic Version</option>
            </select>
          </div>
        </div>
        <div class="row borderBottom rowPadding">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            Notes:
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <textarea class="form-control textarea_scroll" rows="3" id="comment" name="textareas"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>