section.space-top {
  margin-top: 5.3em;
}
.checkbox {
  margin-left: 10px;
  display: inline;
}

.dot {
  padding: 10px;
}

.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
}

.content {
  text-align: left;
  padding-left: 40px;
  padding-top: 35px;
}

.heading {
  font-size: larger;
}

.messages {
  font-size: larger;
  font-weight: 600;
}

::ng-deep .rowSize .mat-header-row {
  min-height: 77px !important;
}
::ng-deep .rowSize .mat-sort-header-arrow {
  display: none !important;
}
::ng-deep .rowSize .mat-header-cell {
  justify-content: center;
  padding-left: 0px !important;
}

.paddingTop{
  padding-top: 3%;
}
.showValue{
  background: none;
  border: none;
}