section.space-top {
  margin-top: 5.3em;
}
.checkbox {
  margin-left: 10px;
  display: inline;
}

.dot {
  padding: 10px;
}

.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
}

.content {
  text-align: left;
  padding-left: 40px;
  padding-top: 35px;
}

.heading {
  font-size: larger;
}

.messages {
  font-size: larger;
  font-weight: 600;
}

::ng-deep .rowSize .mat-header-row {
  min-height: 77px !important;
}
::ng-deep .rowSize .mat-sort-header-arrow {
  display: none !important;
}
::ng-deep .rowSize .mat-header-cell {
  justify-content: center;
  padding-left: 0px !important;
}

.paddingTop {
  padding-top: 3%;
}
.marginTop {
  margin-top: 5%;
}

div#helpiconcontainresponsive {
  margin-top: 49px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

span.hidebuttondemo {
  color: #75ba18;
  display: block;
  text-align: right;
  font-weight: 500;
  margin-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

img#help_btn1 {
  width: 33px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  div#helpiconcontainresponsive {
    margin-top: 42px;
    display: block !important;
    margin-left: 0px;
    margin-right: 0px;
  }
  img#help_btn1 {
    width: 33px;
    cursor: pointer;
    margin-top: 11px;
  }
  .rightColumn {
    min-height: 100% !important;
    position: unset !important;
  }
}

p.demo1 {
  background-color: #f9f9f9;
  font-weight: 500;
  padding: 15px 15px 15px 15px;
  line-height: 1.4;
  text-align: justify;
  color: #000;
  font-size: 16px;
  margin-top: 12px;
}

.file-description-box{
  border: 1px solid #998b8b;
  padding: 15px;
  border-radius: 13px;
}

label{
  font-family: "Roboto", sans-serif !important;
  font-weight: initial !important;
}

input[disabled], select[disabled]{
  cursor: default;
}

input[formcontrolname="coachUserId"]{
  border: none !important;
  box-shadow: none !important;
  background-color: #ffff !important;
}