 
<div class="container-fluid">
    
    <div class="dash">
        <div class="row1">
            <img alt="logo" src="assets/images/highenergyhome-banner.gif" class="dr_center-block">
            <img alt="logo" src="assets/images/header_bar.png" class="dr_center-block2">
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div>
                    <p class="smartAuditText">Username and password recovery </p>
                   
                </div>
                <br>
                <br>
                <br>
                <div class="mainLogin">
                    <p class="errorText">
                        <span *ngIf="errorMessageEmail">{{errorMessageEmail}}</span><br *ngIf="errorMessageEmail">
                        <span *ngIf="errorMessageCode">{{errorMessageCode}}</span>
                    </p>
                    <form class="form-horizontal" action="" style="padding-top: 5%;">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email" >Your E-Mail</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" (keyup.enter)="login()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="pwd">Security code:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="pwd" name="pwd"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9" style="text-align: right;">
                              <a class="link" >Click on image to refresh</a>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-sm-3" for="code">Enter code shown above:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="code"  name="code"  [(ngModel)]="code" (keyup.enter)="login()">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-9">
                                <img alt="login" src="assets/images/login.png" class="login" (click)="login()">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
          
        </div>
    </div>
</div>