 
<div class="container-fluid shift-up">
    
    <div class="dash">
        <div class="row1">
            <!-- <img alt="logo" src="assets/images/highenergyhome-banner.gif" class="dr_center-block"> -->
            <img alt="logo" src="assets/images/hi_logo_banner.png" class="dr_center-block">
            <img alt="logo" src="assets/images/header_bar.png" class="dr_center-block2">
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
            
                <div *ngIf="!emailSentSuccessfully" class="container-fluid">
                    <div class="errorText" *ngIf="errorMessageEmail">
                        <h3 class="error-message">{{errorMessageEmail}}</h3>
                    </div>
                    <div *ngIf="emailNotFound"  class="errorText">
                        <div class="error-message">
                            <h4>{{errorMessage}}</h4>
                        </div>
                    </div>
                      <p *ngIf="errorMessageCode">{{errorMessageCode}}</p>
                    <form class="row" action="" style="padding-top: 5%;">
                        <div class="row">
                            <div class="email-div form-group col-sm-12" style="display: flex; justify-content:center;">
                                <div class="" style="text-align: end; margin-right: 10px;">
                                    <label class="control-label " for="email" >Your E-Mail:</label>
                                </div>
                                <div class="">
                                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" (keyup.enter)="login()">
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <div class="col-md-12">
                                    <button type="button"  class="btn btn-lg btn-flame mybutton"
                                        id="login" (click)="login()">Send Link</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div *ngIf="emailSentSuccessfully"  class="success-message">
                    <p><strong style="font-size:24px">The information requested has been sent to your e-mail address.</strong></p>
                </div>
            </div>
          
        </div>
    </div>
</div>