<!--CL login Page  -->
<div class="container-fluid shift-up"
    *ngIf="theme=='HEA'||theme=='CEC'||theme=='CL'||theme=='EF'||theme=='P4P'||theme=='MBL'||theme=='AC'
    ||theme=='HET' ||theme=='MV'||theme=='SNV'
    ||theme=='VT'||theme=='TST'||theme=='CSP'||theme=='RS'||theme=='SCB'">
    <div class="row top">
        <div class="col-sm-3">
            <p class="registrationTextHIresponsive" *ngIf="buildForSandbox">Build
                for Sand</p>
        </div>
        <div class="col-sm-6">
            <div *ngIf="theme=='HEA'||theme=='CEC'">
                <p class="smartAuditTextCL">
                    <img alt="logo" src="assets/images/healogo.png"
                        class="dr_center-block2CL"> </p>
                <p class="smartAuditTextCL">Login to the Smart Audit</p>
            </div>

            <div *ngIf="theme=='CL'">
                <p class="smartAuditTextCL">
                    <img alt="logo" src="assets/images/CL/logo_cl.png"
                        class="dr_center-block2CL"> </p>
                <p class="smartAuditTextCL">Login to the CHERP Home Energy
                    Analyzer</p>
            </div>
            <div *ngIf="theme=='EF'">
                <p class="smartAuditTextCL">
                    <img alt="logo" src="assets/images/logo-ef.png"
                        class="dr_center-block2EF"> </p>
                <p class="smartAuditTextCL">Home Energy Profile</p>
            </div>
            <div *ngIf="theme=='P4P'||theme=='SCB'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/HI_02-03.png"
                        class="dr_center-block2P4P"> </p>
                <p class="smartAuditTextHI">login to Smart Audit</p>
            </div>
            <div *ngIf="theme=='MBL'||theme == 'CSP' ||theme == 'RS'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/HI_02-03.png"
                        class="dr_center-block2P4P"> </p>
                <p class="smartAuditTextHI">login to Smart Audit</p>
            </div>
            <div *ngIf="theme=='AC'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/AC/logo_gahhe.png"
                        class="dr_center-block2AC"> </p>
                <p class="smartAuditTextHI">login to the Home Energy Analyzer</p>
            </div>
            <div *ngIf="theme=='HET'||theme=='TST'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/HET/logo_het.png"
                        class="dr_center-block2HET"> </p>
                <p class="smartAuditTextHI">Home Energy Profile</p>
            </div>
            <div *ngIf="theme=='MV'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/MV/logo_gahhe.png"
                        class="dr_center-block2MV"> </p>
                <p class="smartAuditTextHI">Login to the EUMV Navigator</p>
            </div>
            <div *ngIf="theme=='SNV'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/SNV/logo_snv.png"
                        class="dr_center-block2SNV"> </p>
                <p class="smartAuditTextHI">Login to the Smart Audit</p>
            </div>
            <div *ngIf="theme=='VT'">
                <p class="smartAuditTextHI">
                    <img alt="logo" src="assets/images/VT/logo_ev.gif"
                        class="dr_center-block2VT"> </p>
                <p class="smartAuditTextHI">Login for the Home Energy Insights
                    Study</p>
            </div>
            <div class="mainLoginCL">
                <p class="errorTextCL">
                    <span *ngIf="errorMessage!=null" [innerHTML]="errorMessage"></span>
                </p>
                <form class="form-horizontal center-block" action="">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-lg-3" for="email">username</label>
                        <div class="col-sm-8 col-lg-7">
                            <input type="email" class="form-control" id="email"
                                placeholder="enter username" autocomplete="off"
                                name="email" [(ngModel)]="users.username"
                                (keyup.enter)="login()">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-lg-3" for="pwd">password</label>
                        <div class="col-sm-8 col-lg-7">
                            <input [type]="show ? 'password':'text'" pInputText
                                class="form-control" id="pwd"
                                placeholder="enter password" name="pwd"
                                [(ngModel)]="users.password" autocomplete="off"
                                (keyup.enter)="login()" #inp />
                            <div class="pll">
                                <a (click)="toggleShow()" *ngIf="show">
                                    <img alt="eye" src="assets/images/eyes_img1.png"
                                        class="eye">
                                </a>
                                <a (click)="toggleShow()" *ngIf="hide">
                                    <img alt="eye2" src="assets/images/eyes_img2.png"
                                        class="eye">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11 col-lg-10">
                            <button type="button" class="btn btn-primary"
                                id="_login" (click)="login()">login</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11">
                            <p class="registarCL">
                                <span class="dont">Don't have a login? </span>
                                <a class="anchor"
                                    [routerLink]="['/customerRegistration']"
                                    [queryParams]="{'theme':theme}">Register
                                    here</a>
                            </p>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="mainLoginBottumCL">
                <div class="row">
                    <div class="col-sm-6" style="float: left;">
                        <p class="forgotPasswordCL">I
                            <a class="anchor"
                                [routerLink]="['/forgotpassword']">forgot</a> my
                            password</p>
                    </div>
                    <div class="col-sm-6" style="float: right;">
                        <p class="socialImageCL" *ngIf = 'enableSocialLogin'>
                            <!-- (click)="fbLogin()" -->
                            <img *ngIf='enableFb' alt="facebook" src="assets/images/fb.png" class="fblogin" 
                            (click)="login()">
                                <!-- #loginRef -->
                                    <img  *ngIf='enableGoogle' alt="google" src="assets/images/google.png"
                                class="googlelogin" (click)="login()">
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <div class="media">
                    <div class="media-left media-top">
                        <img alt="login" src="assets/images/PGE_Spot_full_rgb_pos_sm.jpg"
                            class="media-object" style="width:80px"
                            (click)="login()">
                    </div>
                    <div class="media-body">
                        <p class="footerimageCL">
                            PG&E refers to Pacific Gas and Electric Company, a
                            subsidiary of PG&E Corporation 2017,
                            Pacific Gas and Electric Company.
                            All rights reserved,These offerings are funded by
                            California Utility customers and
                            admistered
                            by PG&E under the auspices of the California Public
                            Utility Commissio HEA offers energy
                            efficiency
                            programs on behalf of Pacific Gas and Electric
                            Company to its customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="registrationTextHI" *ngIf="buildForSandbox">{{loginScreenText}}</p>
        </div>
    </div>

</div>
<div class="container-fluid"
    *ngIf="theme !='HEA' && theme !='CEC' && theme !='CL' && theme !='EF' &&
    theme !='P4P' && theme !='MBL' && theme !='AC' &&theme !='HET' && theme
    !='MV' && theme !='SNV' && theme !='VT' && theme !='TST' && theme !='CSP' &&
    theme !='RS'">
    <h1>Unknown error</h1>
    <p>What does it mean?</p>
    <ul>
        <li>There are non-handled errors in program code</li>
        <li>Application configuration is incorrect</li>
        <li>Web server is unstable or very busy right now</li>
    </ul>
    <p>Please wait for a while and try again.<br />
        If problem is still reproduced contact to developers' team.</p>
</div>
<br>
<br>