<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="error-message" *ngIf="errorMessage">
          {{errorMessage?.error?.errorMessage}}
        </p>
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Context Variable </span>
        </p>
        <form [formGroup]="contentForm" class="form-group form-padding">

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Field:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" formControlName='field' id='field' class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order Number:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="orderNumber" id="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="calculationType" id="calculationType">
                <option *ngFor="let type of calculationType" [value]="type.lookupValue">
                  {{ type.valueName}}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Expression:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="calculation"
                id="calculation" rows="12" cols="12"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding ">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
              <button type="button" class="btn btn-primary" (click)="back()" >Back</button>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sidePadding" *ngIf="false">
                <button type="button" class="btn btn-primary"
                  style="float: right" (click)="delete()"> Delete</button>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 sidePadding" [ngClass]="{'col-sm-6 col-md-6 col-lg-6': false,'col-sm-12 col-md-12 col-lg-12': true  }">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>