
<div class="mb-90"> 
    <div class="row">
        <div class="col-md-4" *ngIf='isSearch'>
            <div class="form-group" style="margin-top: 11px;">
                <div class="input-group search">
                    <span class="input-group-addon search" id="basic-addon1">
                        <i class="fa fa-search css" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control search"
                        placeholder="search" aria-label="search" #inputSuggestionField
                        aria-describedby="basic-addon1" matInput [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="applyFilter($event.option.value)">
                            <mat-option *ngFor="let option of suggestionList" value="{{option.value}}">
                              {{option.show}}
                            </mat-option>
                        </mat-autocomplete>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container mat-elevation-z0 table-wrapper"
        [ngClass]="{'verticalScroll': verticalScrollWidth}"
        [ngStyle]="{'max-height': verticalScrollWidth && dataSource ? (verticalScrollWidth + 'px') : 'auto'}">
        <mat-table [dataSource]="dataSource" matTableExporter multiTemplateDataRows
            #exporter="matTableExporter" matSort (matSortChange)="sortData($event)" [matSortDirection]='sortOrder'
            class="table">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef >
                    <mat-checkbox (change)="$event ? masterToggle() : 
                        null;checkBoxChange()" [ngStyle]="{display : hideMasterCheckBox ? 'none' : 'inherit' }"
                        [checked]="selection.hasValue() && isAllSelected()"
                        color="primary"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
                        class="tableCheckBox">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let colIndex= index" 
                [ngClass]="{'toTop': alterTable}">  
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) :
                        null;checkBoxChange(); singleSelectedEvent(row,$event.checked);" color="primary"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)" class="tableCheckBox">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="srNo." >
                <mat-header-cell *matHeaderCellDef class="text-nowrap">
                    <div class="serail-number-style" > #</div>    
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let colIndex = dataIndex" style="display: grid;">
                    <div *ngIf="paginator">
                        {{ paginator.pageIndex * paginator.pageSize + (colIndex + 1) }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container *ngFor="let col of keys; let colIndex= index"
                matColumnDef="{{col.key}}">
                <mat-header-cell *matHeaderCellDef [mat-sort-header]="col.key" 
                [ngClass]="{'exp-col' : alterTable && colIndex == keys.length - 1, 'reduce-font-size' : alterTable }"
                    [id]="col.key" [disabled]="!col.sort"
                    class="text-nowrap"
                    [ngClass]="{'test' : col.displayName == '#'}"
                    >
                    {{col.displayName}}
                </mat-header-cell>
                <mat-cell #matCell 
                [ngClass]="{'exp-col' : alterTable && colIndex == keys.length - 1 ,'toTop': alterTable , 'reduce-font-size' : alterTable , 'test' : col.displayName == '#' }"
                [class.mat-cell-underline]='col.isUnderline'
                    *matCellDef="let
                    row" style="display: grid;" >
                    <!-- added click event for gas-list popup dialog box -->
                    <div *ngIf="col.type!='image' && col.isDate && !col.isAction" (click)='goToEdit(row,col);'>
                        {{ (col.isSurvey ? row.createdDate : row[col.key])| date: (col.dataFormat ? col.dataFormat : 'MM/dd/yyyy') : 'PST'}}</div>
                    <div id='1' *ngIf="col.type==='alert' && !col.isAction">
                        <div class="redAlert" *ngIf="row[col.key]===10">
                            <p id="alertCircle"></p>
                        </div>
                        <div class="yellowAlert" *ngIf="row[col.key]===5">
                            <p class="alertCircle"></p>
                        </div>
                        <div class="greenAlert" *ngIf="row[col.key]===0">
                            <p class="alertCircle"></p>
                        </div>
                    </div>
                    <div id='2'
                    [ngClass]="{'toTop': alterTable }"
                    [ngStyle]="{'display' : row.isHideActualValue && col.type==='textArea' ? 'none' : 'block'}"
                    (click)='goToEdit(row,col);' *ngIf="col.type!='image' &&col.type!='buttons' &&
                        col.type!=='input'&& col.type!='inputField' && 
                        col.type!='alert' && col.type!='link' &&
                        !col.isDate && !col.isAction && col.type!=='checkbox' && !col.isSurvey">
                         <!-- class="div-wh-100"> -->
                        <div *ngIf="col.isDolar" 
                        [ngClass]="{'edit-button-center' : col.type==='textArea'&&row['isInlineEdit'] }">
                             ${{row[col.key]}}
                        </div>
                        <div *ngIf="!col.isDolar" style="display:inline;" 
                        [ngClass]="{'edit-button-center' : col.type==='textArea'&&row['isInlineEdit'] }">
                            {{row[col.key]}}
                        </div>
                        <button class="btn btn-primary edited" type="submit"
                            *ngIf="col.type==='textArea'&&row['isInlineEdit']"
                            (click)='editColumn(col,row)' style="float: right;">Edit</button>
                    </div>
                    <div id='3' *ngIf="col.type=='image' && col.changeable &&
                        !col.isAction" class="center">
                        <img *ngIf='row[col.key]===null' [src]='col.imagePath'
                            (click)="imageClickEvent(col,row)" alt="images">
                        <div *ngIf='row[col.key]!==null'
                            (click)="imageClickEvent(col,row)"> {{row[col.key]}}
                        </div>
                    </div>
                    <div id='4' *ngIf="col.type=='image' && !col.changeable &&
                        !col.isAction" class="center div-wh-100">
                        <div class="div-wh-100" (click)="imageClickEvent(col,row)" style="margin-left: 25%">
                            <img id="1" *ngIf="col.imagePath!==undefined"
                                [src]='col.imagePath'
                                 class="tableImage" alt="images" >
                            <img id="2" *ngIf="row[col.key]!==undefined && row[col.key]!==null &&
                                col.imagePath===undefined &&
                                row[col.key]!=='addInlineInput'" [src]='row[col.key]'
                                 class="tableImage" alt="images">
                        </div>
                        <button class='btn btn-primary'
                            *ngIf="row[col.key]=='addInlineInput'"
                            (click)='onSaveNewRowEvent(col,row)'>
                            Save
                        </button>
                    </div>  
                    <div id='5' [ngClass]="{'expanded-col':pushedData&&pushedData.length }" 
                    [ngStyle]='{"background-color" :  alterTable && pushedData.error ? "#f2dede" : ""}'
                    *ngIf="col.type=='buttons' && !col.isAction">
                        <div #buttonElement class='inline-table btnPadding expandCheck' *ngFor='let button of
                            row[col.key]'>
                        <div>
                            <button class='btn btn-primary' *ngIf="button.isShow" [ngClass]='{ "row-loader-visibility" : showTableLoaderButton, "button-shrink" : showRowLoader }'
                                (click)='onButtonEvent(button,col,row,$event)'>
                                {{button.name}}
                            </button>
                        </div>
                        </div>
                        <!-- loader for for on button click -->
   

                        <ng-container *ngIf="showRowLoader">
                            <div id="loader1" class="row-loader-div" >
                                <img class="loaderimg center-block row-loader-props"
                                 alt="loader" src="./assets/images/loader.gif">
                            </div>
                        
                            <ng-container *ngIf="!pushedData.error" >
                                <div *ngFor="let data of pushedData.dataFileList">
                                    {{data}}
                                 </div>    
                            </ng-container>
    
                             <div *ngIf="pushedData.error" style='color :#a94442;'>
                                {{pushedData.error}}
                             </div>
                        </ng-container>
                    </div>
                    <div id='6' *ngIf="col.type=='link' && !col.isAction" >
                        <ng-container *ngFor='let link of col.links; let i = index'>
                            <ng-container *ngIf="i<col.links.length-1">
                                <a (click)='linkCall(link.routerLink,link.queryParam,row)'
                                class="anchorClass">{{link.displayName}}
                            </a> 
                            <ng-container *ngIf="i%2 == 0" >{{" | "}}</ng-container>
                            </ng-container>
                            <div *ngIf="i == col.links.length-1">
                                <a (click)='linkCall(link.routerLink,link.queryParam,row)'
                                class="anchorClass">{{link.displayName}}</a> 
                            </div>
                        </ng-container>
                    </div>
                    <div id='8' *ngIf="col.type=='input' && !col.isAction">
                        <div *ngIf="row.isInputEdit" [formGroup]='row.tableForm' >
                            <input type="text"
                                class='form-control' (keyup)="inputChange(col,row)"
                                [formControlName]='col.key' [id]="col.key">
                        </div>
                        <div *ngIf="!row.isInputEdit">
                            {{row[col.key]}}
                        </div>
                    </div>
                    <div id='7' *ngIf="col.type!='image'&& col.isAction && action">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <span class="selectButton">Select
                                <mat-icon class="btnArrow">arrow _drop_down</mat-icon></span>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let item of
                                col.actionMenu" (click)="onClickMenuItem(item,row)">
                                <span>{{item.displayName}}</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div id="9" *ngIf="col.type==='textArea'&&!row['isInlineEdit']">
                        <textarea cols='3' rows='3' class="form-control
                            form-control-sm"
                            id="inputText" [(ngModel)]="row[col.key]"></textarea>
                        <button class="btn btn-primary" type="submit"
                            (click)='saveColumn(col,row)' style="float: right;">Save</button>
                    </div>
                    <div id='10'
                    [ngClass]="{'toTop': alterTable }"
                    *ngIf="col.type=='checkbox' && !col.isAction"  >
                        <mat-checkbox (change)="checkBoxChangeOptional($event,row)"
                            color="primary"
                            [checked]="row[col.key]" class="tableCheckBox">
                        </mat-checkbox>
                    </div>
                    <div id="11" (click)='goToEdit(row,col);' *ngIf="col.isSurvey">
                            <ng-container #username *ngIf="col.key == 'user'">
                                    {{row.user.name}}
                            </ng-container>
                            <ng-container #label *ngIf="col.key == 'label'">
                                    {{row.surveyDescription.label}}
                            </ng-container>
                            <ng-container #group *ngIf="col.key == 'group'">
                                    {{row.customer.customerGroup.groupName}}
                            </ng-container>
                                                        
                    </div>  
                    <div id='12' *ngIf='col.type=="inputField"' >

                        <!-- added specially for the field values edit table inside the data-field screen.-->
                        <!--  for the enabled fields -->
                        <input type="text" name="{{col.key}}" *ngIf="row.showInputFields == true && col.key != 'range'" class="form-control form-control-sm" [(ngModel)]="addDataObjectList[row.index][col.key]">
                        
                        <ng-container  *ngIf="row.showInputFields == true && col.key == 'range'">
                            <input type="text" name="{{col.key}}" class="form-control form-control-sm" [(ngModel)]="addDataObjectList[row.index]['rangeStart']" style="width : 30%; display: initial;"> &nbsp; - &nbsp;
                            <input type="text" name="{{col.key}}" class="form-control form-control-sm" [(ngModel)]="addDataObjectList[row.index]['rangeEnd']" style="width : 30%; display: initial;">    
                        </ng-container>

                        <!--  for the disabled fields -->
                        <div class="h-100p" *ngIf="!row.showInputFields && col.key != 'range'" (click)='goToEdit(row,col)'> {{row[col.key]}}</div>
                        <div class="h-100p" *ngIf="!row.showInputFields && col.key == 'range'" (click)='goToEdit(row,col)'>
                            {{(row["rangeStart"]? row["rangeStart"] : "") + " - " + (row["rangeEnd"]? row["rangeEnd"] : "")}}
                        </div>

                    </div>

                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef class="text-nowrap"></mat-header-cell>
                <mat-cell *matCellDef="let element">

                    <img *ngIf="isFilePreview"
                        src="assets/images/ico_preview.png"
                        (click)="filePreview(element)" alt="icon">

                    <img *ngIf="(element && element.showInputFields == undefined)"
                        src="assets/images/ico_minus.gif"
                        (click)="deleteRow(element)" alt="icon">
                    
                    <img *ngIf="(element && element.showInputFields == true) ||  element.disabled == false"
                        src="assets/images/ico_add.gif"
                        (click)="addRow(element)" alt="icon">
    
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <mat-cell *matCellDef="let detail">
                    <p *ngFor="let expandedData of
                        detail.element.threadInfo.stackTrace">
                        {{expandedData.className}}
                    </p>
                </mat-cell>
            </ng-container>
            <div *ngIf="isShowHeader">
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            </div>
    
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'border-left-green': sideBorder && !row.accountLocked,
                'border-left-red': sideBorder && row.accountLocked}"
                class="element-row"
                [class.expanded]="expandedElement == row"
                (click)="expandedElement= expandedElement === row ? null : row">
            </mat-row>
            <mat-row *matRowDef="let row; columns: ['expandedDetail']; when:
                isExpansionDetailRow"
                [@detailExpand]="row.element == expandedElement ? 'expanded' :
                'collapsed'" style="overflow: hidden">
            </mat-row>
        </mat-table>
        <div *ngIf='(dataSource===undefined || dataSource===null) && !showInput '
            class="row">
            <div class='col-sm-12 col-xs-12 z2 p-absolute no-record-found' style='text-align: center;'>
                <h5 style="margin-top: 20px" >No records found.</h5>
            </div>
        </div>
        <div class="row" *ngIf='showInput'>
            <form [formGroup]='tableForm' (submit)='saveRow()'>
                <div class="col-sm-{{12/(keys.length+1)|round:0:'down'}}
                    col-md-{{12/(keys.length+1)|round:0:'down'}}
                    col-xs-{{12/(keys.length+1)|round:0:'down'}}
                    col-lg-{{(12)/(keys.length+1)|round:0:'down'}}"
                    *ngFor='let key of keys'>
                    <input *ngIf="key.addRowType==='text' ||
                        key.addRowType===undefined" type="text" class='form-control'
                        [formControlName]='key.key' [id]="key.key">
                    <select *ngIf="key.addRowType==='select'" class='form-control
                        form-control-sm'
                        [formControlName]="key.key" [id]="key.key">
                        <option *ngFor='let option of key.option'
                            [value]="option.key">{{option.value}}</option>
                    </select>
                    <textarea *ngIf="key.addRowType==='textarea'"
                        [formControlName]="key.key" [id]="key.key" cols="30"
                        rows="5" class='form-control form-control-sm'></textarea>
                    <div *ngIf="key.required && f[key.key].invalid &&
                        (f[key.key].dirty ||
                        f[key.key].touched)">
                        <span class="error" *ngIf="f[key.key].errors.required">
                            {{key.displayName}} is required.
                        </span>
                    </div>
                </div>
                <div
                    class="align-right col-sm-{{12/(keys.length+1)|round:0:'down'}}
                    col-md-{{12/(keys.length+1)|round:0:'down'}}
                    col-xs-{{12/(keys.length+1)|round:0:'down'}}
                    col-lg-{{(12)/(keys.length+1)|round:0:'down'}}">
                    <button class="btn btn-primary" type="submit">save</button>
                </div>
            </form>
        </div>
        <div class="row p-inherit">
            <div class="col-sm-6 col-xs-12 removePadding p-inherit" >
                <mat-paginator disableRipple="true" *ngIf="isPaginate" #paginator
                [ngStyle]="{'margin-top' : !dataSource && !showInput ? '30px' : '10px' }"
                    style-paginator hidePageSize
                    [length]="totalElement" [pageSize]="pageSize"
                    [pageIndex]="pageIndexNumber"
                    (page)="onChangePage($event)" showFirstLastButtons
                    class="paginatorcss p-absolute z1"
                     >
                </mat-paginator>
            </div>
            <div *ngIf="!isHideAdd" class="col-sm-12 col-xs-12 fixed-add-button"
                style="text-align:right;"
                [ngStyle]="{'margin-top': !dataSource && !showInput ? '45px' : '25px'}"
                >
                <button class="btn btn-primary z3" type="button"
                    (click)="onAddEvent($event)">Add</button>
            </div>
    
            <div *ngIf="showAddRowButton && !showInput " class="col-sm-12 col-xs-12
                fixed-add-button "
                style="text-align:right; "
                [ngStyle]="{'margin-top': !dataSource && !showInput ? '45px' : '25px'}"
                >
                <button class="btn btn-primary z3" type="button"
                    (click)="onAddRowEvent()">Add Row</button>
            </div>
            <div *ngIf="showAddInputButton && !showRowInput" class="col-sm-12
                col-xs-12
                fixed-add-button "
                style="text-align:right;"
                [ngStyle]="{'margin-top': !dataSource && !showInput ? '45px' : '25px'}"
                >
                <button class="btn btn-primary z3" type="button"
                    (click)="onAddNewRowEvent()">Add</button>
            </div>
        </div>
        <div class="row">
            <!-- <div *ngIf="showCSVExportButton" class="col-sm-3 col-xs-3 tableImage">
                <a (click)="exporter.exportTable('csv')">Export To CSV</a>
            </div> -->
            <div *ngIf="showDeleteButton" class="col-sm-2 col-xs-3">
                <button class="btn btn-primary" type="button"
                    (click)="onDeleteEvent($event)">Delete</button>
            </div>
        </div>
    
    </div>
</div>