<!-- <div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <i class="fa fa-search css" aria-hidden="true">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search" type="search"></i>
        </mat-form-field>
    </div>
</div> -->

<div class="row">
    <div class="col-md-4" *ngIf='isSearch'>
        <div class="form-group" style="margin-top: 11px;">
            <div class="input-group search">
                <span class="input-group-addon search" id="basic-addon1">
                    <i class="fa fa-search css" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control search" placeholder="search" aria-label="search"
                    (keyup)="applyFilter($event.target.value)" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<div class="example-container mat-elevation-z0 table-wrapper">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table">
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null;checkBoxChange()"
                    [checked]="selection.hasValue() && isAllSelected()" color="primary"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let colIndex = index">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null;checkBoxChange()" color="primary"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container *ngFor="let col of keys; let colIndex = index" matColumnDef="{{col.key}}">
            <mat-header-cell *matHeaderCellDef [mat-sort-header]="col.key" [id]="col.key" [disabled]="!col.sort"
                class="text-nowrap">
                {{col.displayName}}</mat-header-cell>
            <mat-cell *matCellDef="let row" style="display: grid;">
                <div *ngIf="col.type!='image' && col.isDate && !col.isAction">
                    {{row[col.key]|date:'mediumDate'}}</div>
                <div *ngIf="col.type==='alert' && !col.isAction">
                    <div class="redAlert" *ngIf="row[col.key]===10">
                        <p id="alertCircle">&nbsp;</p>
                    </div>
                    <div class="yellowAlert" *ngIf="row[col.key]===5">
                        <p class="alertCircle">&nbsp;</p>
                    </div>
                    <div class="greenAlert" *ngIf="row[col.key]===0">
                        <p class="alertCircle">&nbsp;</p>
                    </div>
                </div>
                <div *ngIf="col.type!='image' && col.type!='alert' && !col.isDate && !col.isAction"
                    (click)='goToEdit(row,col);'>
                    {{row[col.key]}}</div>
                <!-- row[col.key]===true &&  -->
                <div *ngIf="col.type=='image' && col.changeable && !col.isAction" class="center">
                    <img *ngIf='row[col.key]!==true' [src]='col.imagePath' (click)="imageClickEvent(col,null)">
                    <div *ngIf='row[col.key]===true' (click)="imageClickEvent(col,row[col.key])"> {{row[col.key]}}
                    </div>
                </div>
                <div *ngIf="col.type=='image' && !col.changeable && !col.isAction" class="center">
                    <img [src]='col.imagePath' (click)="imageClickEvent(col,null)">
                </div>
                <div *ngIf="col.type=='link' && !col.isAction">
                    <div *ngFor='let link of col.links'>
                        <a (click)='linkCall(link.routerLink,link.queryParam)'>{{link.displayName}}</a>
                    </div>
                </div>
                <div *ngIf="col.type!='image'&& col.isAction && action">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <span class="selectButton">Select
                            <mat-icon class="btnArrow">arrow _drop_down</mat-icon></span>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let item of col.actionMenu" (click)="onClickMenuItem(item,row)">
                            <span>{{item.displayName}}</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>

        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef class="text-nowrap"></mat-header-cell>
            <mat-cell *matCellDef="let element"> <img src="assets/images/ico_minus.gif" (click)="deleteRow($event)">
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'border-left-green': sideBorder && !row.accountLocked, 'border-left-red': sideBorder && row.accountLocked}">
        </mat-row>
    </mat-table>
    <div *ngIf='dataSource===undefined ||dataSource===null' class="row">
        <div class='col-sm-12 col-xs-12' style='text-align: center;'>
            <h5>No records found.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-3">
            <mat-paginator disableRipple="true" *ngIf="isPaginate" #paginator style-paginator hidePageSize
                [length]="totalLength" [pageSize]="10" (page)="onChangePage($event)" showFirstLastButtons
                class="paginatorcss">
            </mat-paginator>
        </div>
        <div *ngIf="!isHideAdd" class="col-sm-6 col-xs-9" style="text-align:right;">
            <button class="btn btn-primary" type="button" (click)="onAddEvent($event)">Add</button>
        </div>
    </div>
    <div class="row">
        <div *ngIf="showDeleteButton" class="col-sm-2 col-xs-3">
            <button class="btn btn-primary" type="button" (click)="onDeleteEvent($event)">Delete</button>
        </div>
    </div>

</div>