@media only screen and (max-width: 1023px) {
  .table-wrapper .table {
    min-width: 870px;
  }
  .table-wrapper {
    overflow: auto;
  }
}
.table-wrapper .table {
  width: 100%;
  background-color: transparent;
}

.table-wrapper {
  width: 100%;
}
.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.mat-header-row {
  color: black;
  font-weight: bold;
  background: none;
  border-left: 1px solid #ddd;
}

.mat-row:nth-child(odd) {
  background-color: #fff;
  border-left: 1px solid #ddd;
}

.mat-row:nth-child(even) {
  border-left: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.05);
}

span.selectButton {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding: 7px 15px 7px 15px;
  vertical-align: top;
}

mat-icon.btnArrow.mat-icon.material-icons {
  vertical-align: middle;
  margin-top: -2px;
  width: 16px;
}

.search {
  background-color: white;
  border: 1px solid #d4d4d4;
}

.breadcrumb.css {
  border: 0px;
  padding: 0;
  margin-bottom: 9px;
}

.input-group-addon.search {
  border: none;
  padding: 5px 0px 5px 9px;
}

input.form-control.search {
  border: none;
}

i.css.fa.fa-search {
  font-size: 15px;
  color: #b7b7b7;
}

mat-paginator.paginatorcss.mat-paginator {
  color: #000;
  display: flex;
  float: left;
}

.mat-cell {
  vertical-align: middle;
  border-right: 1px solid #ddd;
  align-self: stretch;
  word-break: break-word;
  font-size: 13px;
}
.mat-header-cell {
  max-height: 100%;
  overflow: visible;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
mat-footer-row,
mat-header-row,
mat-row {
  border-color: #ddd;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  padding-left: 4px !important;
}

.mat-cell-underline > div {
  text-decoration: underline;
  cursor: pointer;
}

.mat-paginator-range-label {
  display: none;
}

.text-nowrap {
  color: #000;
  font-size: 15px;
  white-space: inherit;
  word-break: break-word;
  align-self: stretch;
}

.btn-primary {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
.mat-column-registrationUrl {
  flex: none;
  width: 213px;
}

.center {
  text-align: center;
  font-size: inherit;
}
.tableImage {
  cursor: pointer;
}

div .yellowAlert {
  height: 1em;
  width: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 0.01em solid #888943;
  background-color: #e8c772 !important;
  margin: auto;
}

div .redAlert {
  height: 1em;
  width: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 0.01em solid #888943;
  background-color: #c5614a !important;
  margin: auto;
}

div .greenAlert {
  height: 1em;
  width: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 0.01em solid #888943;
  background-color: #1798a3 !important;
  margin: auto;
}
.mat-column-select {
  flex: none;
  width: 35px;
}
.mat-column-delete {
  flex: none;
  width: 45px;
}
.mat-column-maxAlertLevel {
  flex: none;
  width: 35px;
}

.removePadding {
  padding: 5px;
  display: inline-table;
}

.align-center {
  text-align: center;
}

.btnPadding {
  display: inline-grid;
  margin: 3px;
}
::ng-deep .tableCheckBox .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
  padding-right: 5px;
}
.anchorClass {
  cursor: pointer;
}

.mat-row {
  min-height: 35px;
  line-height: 16px;
}

.mat-header-row {
  min-height: 46px;
}

.fixed-add-button {
  position: inherit;
}
@media (min-width: 200px) and (max-width: 992px) {  
  .fixed-add-button {
    position: absolute;
    margin: 10px 0px;
    left : 0px;
  }
}

.mat-column-serialNumber {
  flex: none;
  width: 70px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.ng-trigger-detailExpand {
  border: none;
}

.mat-column-expandedDetail{
  display: block;
}

.p-inherit{
  position: inherit;
}

.p-absolute{
  position: absolute;
}

.mb-60{
  margin-bottom: 60px;
}

.z1{
  z-index: 1;
}

.mt-5{
  margin-top: 5px;
}

.z2{
  z-index: 2;
}

.z3{
  z-index: 3;
}

.wh-100{
  width: 100%;
  height: 100%;
  margin-top : 60%
}

.div-wh-100{
  position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}

.toTop{
  align-items: baseline !important;
  // font-size : 12px;
}

.reduce-font-size{
   font-size : 12px;
}
  
.exp-col{
  flex-basis : 22%;
} 

.cont-col{
  flex-basis: '';
}

.row-loader-props{
  width : 22px;
  display : inline;
}

.row-loader-div{
  display: inline-block;
  visibility: hidden;
}

.button-shrink{
  width : 65px;
  padding : 0px;
}

.mat-column-auditId{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-joinDate{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 9% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-links{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-place{
          word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-group{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-registrationId{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-source{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-field6{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-optOutMail{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-email{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-place[_ngcontent-c2] {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-solarPvInstalled {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-eligibleStartDate {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 11% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.inline-table-form{
  cursor: default ;
  border: none;
  background: transparent;
}

.edit-button-center{
  height: 30px;
  line-height: 30px;
}
