.inp {
  border-block-end-style: inherit;
  margin-bottom: 4px;
}

.disableInput{
  border: none; box-shadow: none; background-color: #ffff;
}

.btn-primary{
  color: #fff ;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px;
  border-radius: 3px;
}