<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" alt="dot" class="dot">
          <span class="messageName">Recommendation/Leaks</span>
        </p>
        <form [formGroup]="recommendationForm" class="form-group form-padding">


          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Code:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm' id="takebackCode  " formControlName="takebackCode">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="takebackType" class='form-control form-control-sm' formControlName="takebackType">
                <option *ngFor='let group of recommendationLeakTypeList' value="{{group.lookupValue}}">{{group.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="takebackLabelTemplate" id="takebackLabelTemplate">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf='f.takebackType=="2" || f.takebackType=="3"'   class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Suggestion:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="suggestionTemplate" id="suggestionTemplate">
              </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="f.takebackType!='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Unit:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="unit" id="unit">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Recommendation Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="recommendationFilter" id="recommendationFilter">
              </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <!-- <div *ngIf="f.takebackType!='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Value Calculation:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="valueCalculation" id="valueCalculation">
              </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div> -->

          <div *ngIf="f.takebackType=='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Conservation Category:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="conservationCategory" id="conservationCategory">
                <option *ngFor="let group of conservationCategory" [value]="group.lookupValue">{{group.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="f.takebackType=='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Action Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="actionType" id="actionType">
                <option *ngFor='let group of actionTypeList' [value]="group.lookupValue">{{group.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="f.takebackType=='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="sendReminderMail">
                <input type="checkbox" formControlName="sendReminderMail" id="sendReminderMail">
                Send reminder mail
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="f.takebackType=='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Price Calculation Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="priceValueAlgType" formControlName="priceValueAlgType">
                <option *ngFor='let group of priceCalculationType' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>


          <div *ngIf="f.takebackType!='3'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Value Calculation:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="takebackValueAlg" id="takebackValueAlg"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Price Calculation:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea type="text" class="form-control" formControlName="priceValueAlg" id="priceValueAlg"></textarea>
            </div> 
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf="f.takebackType=='2'" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Image:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" formControlName="takebackImage" id="takebackImage">
                <option *ngFor='let group of imageList' [value]="group.lookupValue">{{group.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf='f.takebackType=="2"' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Icon:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control  form-control-sm" formControlName="takebackIcon" id="takebackIcon">
                <option *ngFor='let group of iconList' [value]="group.lookupValue">{{group.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Html Template:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <img src="assets/images/ico_html.png" alt="HTML" *ngIf="!htmlTextTemplate && ( !f.htmlTextTemplate || !f.htmlTextTemplate.trim())" (click)="htmlTextTemplate = !htmlTextTemplate" >
              <ejs-richtexteditor  *ngIf="htmlTextTemplate || ( f.htmlTextTemplate && f.htmlTextTemplate.trim())" [toolbarSettings]='tools' formControlName='htmlTextTemplate' id='htmlTextTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>

          <div *ngIf='f.takebackType == 3' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Instruction HTML template:	
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <img src="assets/images/ico_html.png" alt="HTML" *ngIf="!instructionTemplate && ( !f.instructionTemplate || !f.instructionTemplate.trim())" (click)="instructionTemplate = !instructionTemplate" >
              <ejs-richtexteditor *ngIf="instructionTemplate || ( f.instructionTemplate && f.instructionTemplate.trim())" [toolbarSettings]='tools' formControlName='instructionTemplate' id='instructionTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea type="text" class="form-control form-control-sm" id="comments" formControlName="comments"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="paddingTop" *ngIf="f.takebackType=='2'">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Recommendation List </span></p>
            <app-table [keys]="recommendationKeys" [checkbox]=true [isPaginate]="false" [isSearch]="false"
              [data]="allPossibleRecommendations" [totalElement]="recommendationData.totalElements"
              [(selectionList)]='allRelatedRecommendations' id = "id" [hideMasterCheckBox]=true
              (singleSelectedRow)="addRelatedRecommendations($event)" [isHideAdd]=true>
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="f.takebackType=='3'">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Leaks List </span></p>
            <app-table [keys]="recommendationKeys" [checkbox]=true [isPaginate]="false" [isSearch]="false"
              [data]="allPossibleLeaks" [totalElement]="recommendationData.totalElements"
              [(selectionList)]='allRelatedLeaks' id = "id" [hideMasterCheckBox]=true
              (singleSelectedRow)="addRelatedLeaks($event)" [isHideAdd]=true>
            </app-table>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 sidePadding">
              <button type="button" class="btn btn-primary" (click)="back()" style="float: left;">
                Back
              </button>
            </div>
            <!-- <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12 row rowPadding sidePadding"> -->
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 sidePadding" *ngIf="id === undefined || id === null">
              </div>
              <!-- <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 sidePadding" *ngIf="id !== undefined && id !== null">
              </div> -->
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 sidePadding" *ngIf="id !== undefined && id !== null">
                <button type="button" class="btn btn-primary" style="float: right" (click)="delete()">
                  Delete
                </button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 sidePadding">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            <!-- </div> -->
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showDataFields]='true' [showTopicVariableFields]='true' [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>