<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content">
        <form [formGroup]='prospectsForm'>
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Program:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='source'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Name:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='name'>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Email:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='email'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">CoachID:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <select id="place" class="form-control" formControlName="coachUserId">
                <option value="" selected="selected"></option>
                <option *ngFor="let coachUser of coachIdList" [value]="coachUser.userId">
                  {{coachUser.name}}</option>
              </select>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Page:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='page'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Zip:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='zip'>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Audit ID:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='auditId'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Subscription ID:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='subscriptionId'>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" (click)="search(undefined,true)" class="btn btn-primary">Show</button>
            </div>
          </div>
        </form>
        <p class="messages">
          <img src='assets/images/dot03.gif' alt="dot" class='dot'>
          <span class="messageName">Prospects (Number of Records = {{prospectsData?.totalElements}})</span></p>
        <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false" [data]="dataSource" [checkbox]=true
          [pageSize]="pageSize"  [sortOrder]='desc'
          [totalElement]="prospectsData.totalElements" (changePageEvent)="search($event,false)" [isHideAdd]="true"
          [pageIndex]="prospectsData.pageIndex"
          (goToEditEvent)="addProspects($event)" (checkBoxChangeEvent)="getAllSelectedProspects($event)">
        </app-table>
        <div class="row row-padding">
            <div class="col-lg-9 text-right">
              <button class="btn btn-primary" (click)="downlodCSV()"> Download CSV</button>
            </div>
            <div class="col-lg-3 text-right">
              <button class="btn btn-primary" (click)="deleteProspectsById()"> Remove selected</button>
            </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar ></app-sidebar>
      </div>
    </div>
  </div>
</section>