section.space-top {
    margin-top: 5.3em;
  }
  .borderTop {
    border-top: 1px solid #ddd;
  }
  .borderBottom {
    border-bottom: 1px solid #ddd;
  }
  .rowPadding {
    padding: 5px;
  }
  .heading {
    font-size: 21px;
    color: #000;
    font-weight: 600;
  }
  .filterLabel {
    color: #000;
    font-weight: 600;
    font-size: 13px;
  }
  p.messages {
    font-size: 17px;
    font-weight: 600;
  }
  .messageName {
    margin-left: 4px;
  }
  .btn-primary {
    color: #fff;
    background-color: #76ba19;
    border-color: #76ba19;
    padding: 4px 23px;
    border-radius: 3px;
  }
  .show-button {
    text-align: right;
    margin-top: 15px;
  }
  
  select {
    background: url("src/assets/images/up_downArrow.png") no-repeat right;
    -webkit-appearance: none;
    padding-right: 30px;
    background-position-x: 98%;
  }
  