<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content" style='text-align: left;padding-left: 40px;
          padding-top: 35px;'>
        <p class="heading">
          User Reports
        </p>
        <form [formGroup]='userReportsForm'>
          <div class="row rowPadding borderBottom" (submit)="search()">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
              <span class="filterLabel">Label:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='label' id='label'>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-0"></div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" class="btn btn-primary">Show</button>
            </div>
          </div>

          <div class="paddingTop">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">User Report List (Number of Records = {{totalElement}})</span></p>
            <app-table [keys]="keys" [isPaginate]="true" (goToEditEvent)='goToEditUserReports()'
              (addEvent)='addUserReports()' [isSearch]="false" [data]="dataSource"
              [totalElement]="userReportsData.totalElements" (changePageEvent)="findUserReports($event)">
            </app-table>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>