section.space-top {
  margin-top: 5.3em;
}

.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
}

.content {
  text-align: left;
  padding-left: 40px;
  padding-top: 35px;
}

.form-control {
  padding: 5px;
  margin-bottom: 5px;
}

.messageName {
  margin-left: 4px;
}
.form-padding {
  padding-left: 40px;
  padding-right: 40px;
}
.paddingTop {
  padding-top: 3%;
}
p.messages{
  font-size: 17px;
  font-weight: 600;
}
