<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content" style='text-align: left;padding-left: 40px;
          padding-top: 35px;'>
        <!-- <p class='Messages'>
              <img src='assets/images/dot03.gif' class='dot'>
          <span class="messageName">Role</span>
        </p> -->
        <div class="row">
          <div class="col-sm-12">
            <p class="messages">
              <img class="pointer" src="assets/images/dot03.gif" class="dot">
              <span class="messageName">Role</span>
            </p>
          </div>
        </div>
        <form class="form-group form-padding" [formGroup]='roleForm'>
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Role Code:
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <span *ngIf="roleCode!==undefined">{{roleCode}}</span>
              <input *ngIf="roleCode===undefined" type="text" formControlName="roleCode" class="form-control
                form-control-sm">
              <div *ngIf="f.roleCode.invalid && (f.roleCode.dirty
                ||
                f.roleCode.touched)">
                <span class="error" *ngIf="f.roleCode.errors.required">
                  Role Code is required.
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Description:
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <input type="text" formControlName="description" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row paddingTop rowPadding">
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 display-inline-button">
              <button type="text" class="btn btn-primary" (click)='back()'>Cancel</button>
            </div>
            <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9" style="text-align: end;">
              <!-- <div class="col-xs-6 col-sm-10 col-md-10 col-lg-10" style="text-align: end;"> -->
                <button type="text" class="btn btn-primary" (click)="save()">Save</button>
              <!-- </div> -->
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 display-responsive" style="text-align: end;">
              <button type="text" class="btn btn-primary" (click)="delete()"
                *ngIf="roleCode!=undefined&&!permanent">Delete</button>
            </div>
          </div>

        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>