
.checkbox {
  margin-left: 10px;
  display: inline;
}
.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
}
.utilityBtn{
  color: #76ba19;
  background-color: #f1ecec;
  border-color: #fff;
}

.bg-button{
  background-color: #fff !important;
  border-color : #76ba19 !important;
}

.disableInput{
  border: none;
  box-shadow: none;
  background-color: #ffff
}