<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 content">
    <form [formGroup]="utilityCredentialForm" class="form-group">
      <div class="row borderTop borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Credential Type:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <select class="form-control form-control-sm padded-control"
            id="credentialTypeCode"
            formControlName="credentialTypeCode">
            <option value="" selected="selected"></option>
            <option *ngFor="let credentialType of credentialTypeList"
              [value]="credentialType.credentialType">{{credentialType.credentialName}}
            </option>
          </select>
        </div>
      </div>

      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Login:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="login" formControlName="login">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Password:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="password" formControlName="password">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="active"
            formControlName="active">
          <label class="checkbox">Active</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Account:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="account" formControlName="account">
        </div>
      </div>

      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Electricity Service Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="electricityServiceId" formControlName="electricityServiceId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Electricity Meter Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="electricityMeterId" formControlName="electricityMeterId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Electricity SA Sign Date:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="electricitySignDate" formControlName="electricitySignDate">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Heating Service Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="heatingServiceId" formControlName="heatingServiceId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Heating Meter Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="heatingMeterId" formControlName="heatingMeterId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Heating SA Sign Date:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="heatingSignDate" formControlName="heatingSignDate">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Water Service Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="waterServiceId" formControlName="waterServiceId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Water Meter Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="waterMeterId" formControlName="waterMeterId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Water SA Sign Date:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="waterSignDate" formControlName="waterSignDate">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Subscription ID:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="subscriptionId" formControlName="subscriptionId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Feed ID:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
          id="feedId" formControlName="feedId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          House Number:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
          id="houseNumber" formControlName="houseNumber">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Postal Code:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="postalCode" formControlName="postalCode">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Bill Date Day:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm"
            id="billDateDay" formControlName="billDateDay">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"> </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="dataInUse"
            formControlName="dataInUse">
          <label class="checkbox">Customer Data In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="utilityInUse"
            formControlName="utilityInUse">
          <label class="checkbox">Utility Data In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"> </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="electricityInUse"
            formControlName="electricityInUse">
          <label class="checkbox">Electricity In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="heatingInUse"
            formControlName="heatingInUse">
          <label class="checkbox">Heating In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="waterInUse"
            formControlName="waterInUse">
          <label class="checkbox">Water In Use</label>
        </div>
      </div>
    
    </form>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
        <button type="button" class="btn btn-primary">Validate</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
        <button type="button" class="btn btn-primary">Rescrape</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
        <button type="button" class="btn btn-primary">Update</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>