.borderTop {
  border-top: 1px solid #ddd;
}
.borderBottom {
  border-bottom: 1px solid #ddd;
}
.rowPadding {
  padding: 5px;
}
.checkbox {
  margin-left: 10px;
  display: inline;
}
.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
}
