<div class="row">
  <div class="col-sm-12">
    <button (click)="onNoClick()" class="closeButton" cdkFocusInitial><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="8pt" height="8pt" viewBox="0 0 8 8" version="1.1">
        <g id="surface1">
          <path style="stroke:none;fill-rule:nonzero;fill:#76ba19;fill-opacity:1;" d="M 0.109375 0.644531 C -0.0351562 0.5 -0.0351562 0.257812 0.109375
            0.109375 C 0.257812 -0.0351562 0.492188 -0.0351562 0.644531 0.109375
            L 3.84375 3.3125 L 7.050781 0.109375 C 7.195312 -0.0351562 7.4375
            -0.0351562 7.578125 0.109375 C 7.726562 0.257812 7.726562 0.5
            7.578125 0.644531 L 4.378906 3.84375 L 7.578125 7.050781 C 7.726562
            7.195312 7.726562 7.433594 7.578125 7.585938 C 7.433594 7.726562
            7.195312 7.726562 7.050781 7.585938 L 3.84375 4.378906 L 0.644531
            7.585938 C 0.492188 7.726562 0.257812 7.726562 0.109375 7.585938 C
            -0.0351562 7.433594 -0.0351562 7.195312 0.109375 7.050781 L 3.3125
            3.84375 Z M 0.109375 0.644531" />
        </g>
      </svg>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 content">
    <form [formGroup]="utilityCredentialForm" class="form-group">
      <div class="row borderTop borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Credential Type:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <select class="form-control form-control-sm padded-control" id="credentialTypeCode"
            formControlName="credentialTypeCode">
            <option value="" selected="selected"></option>
            <option *ngFor="let credentialType of credentialTypeList" [value]="credentialType.credentialType">
              {{credentialType.credentialName}}
            </option>
          </select>
        </div>
      </div>

      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Login:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="login" formControlName="login">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Password:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="password" formControlName="password">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="active" formControlName="active">
          <label class="checkbox">Active</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Account:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="account" formControlName="account">
        </div>
      </div>

      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Electricity Service Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <div *ngIf="electricServiceIds && electricServiceIds.length > 1; else elseblk">
            <select (change)="setElectricitymeterId()" class="form-control form-control-sm padded-control" formControlName="electricityServiceId">
              <option *ngFor="let service of electricServiceIds" value="{{service.customerAgreement}}">
                {{service.customerAgreement + "(" + service.mainAddress.serviceAddress + ")"}}
              </option>
            </select>
          </div>
          <ng-template #elseblk>
            <input type="text" formControlName="electricityServiceId" class="form-control form-control-sm" >
          </ng-template>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Electricity Meter Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="electricityMeterId"
            formControlName="electricityMeterId"> 
            <div *ngIf="credentialsData?.electricityIntervalLength" 
                class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                {{ credentialsData?.electricityIntervalLength + "sec"}}</div>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Electricity SA Sign Date:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="electricitySignDate"
            formControlName="electricitySignDate">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Heating Service Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <div *ngIf="heatingServiceIds && heatingServiceIds.length > 1; else elseBlock">
            <select (change)="setHeatingmeterId()" class="form-control form-control-sm padded-control" formControlName="heatingServiceId">
              <option *ngFor="let service of heatingServiceIds" value="{{service.customerAgreement}}">
                {{service.customerAgreement == 'none' ? 'none' : service.customerAgreement + "(" + service.mainAddress.serviceAddress + ")"}} 
              </option>
            </select>
          </div>
          <ng-template #elseBlock>
            <input type="text" class="form-control form-control-sm" formControlName="heatingServiceId">
          </ng-template>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Heating Meter Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="heatingMeterId" formControlName="heatingMeterId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Heating SA Sign Date:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="heatingSignDate"
            formControlName="heatingSignDate">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Water Service Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="waterServiceId" formControlName="waterServiceId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Water Meter Id:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="waterMeterId" formControlName="waterMeterId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Water SA Sign Date:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="waterSignDate" formControlName="waterSignDate">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Subscription ID:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="subscriptionId" formControlName="subscriptionId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Feed ID:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="feedId" formControlName="feedId">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          House Number:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="houseNumber" formControlName="houseNumber">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Postal Code:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="postalCode" formControlName="postalCode">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          Bill Date Day:
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="text" class="form-control form-control-sm" id="billDateDay" formControlName="billDateDay">
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"> </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="dataInUse" formControlName="dataInUse">
          <label class="checkbox">Customer Data In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="utilityInUse" formControlName="utilityInUse">
          <label class="checkbox">Utility Data In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"> </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="electricityInUse" formControlName="electricityInUse">
          <label class="checkbox">Electricity In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="heatingInUse" formControlName="heatingInUse">
          <label class="checkbox">Heating In Use</label>
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <input type="checkbox" name="waterInUse" formControlName="waterInUse">
          <label class="checkbox">Water In Use</label>
        </div>
      </div>
    </form>
    <ng-container *ngIf="login && login != '' && credentialType == 'smd'">
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">OAuth Refresh Token</div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          {{usagePointsData.oauthRefreshToken}}
          <!-- <input type="text" class="form-control form-control-sm disableInput" [(ngModel)]="usagePointsData.oauthRefreshToken"> -->
        </div>
      </div>
      <div class="row borderBottom rowPadding">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">Auth Scope</div>
        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
          {{usagePointsData.authScope}}
          <!-- <input type="text"  class="form-control form-control-sm disableInput" [(ngModel)]="usagePointsData.authScope"> -->
        </div>
      </div>
    </ng-container>
    

    <div class="row borderBottom rowPadding">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0"></div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
        <button type="button" class="btn btn-primary utilityBtn bg-button" (click)="validateCredentialData()">Validate</button>
        <button type="button" class="btn btn-primary utilityBtn bg-button"
          (click)="rescrapeCustomerUsage(false)">Rescrape</button>
        <button type="button" class="btn btn-primary utilityBtn bg-button" (click)="rescrapeCustomerUsage(true)">Update</button>
        <button *ngIf="electricityInUse && credentialType == 'smd'" type="button" class="btn btn-primary utilityBtn bg-button"
          (click)="rescrapeBills('Electric')">Rescrape Electric Bills</button>
        <button *ngIf="heatingInUse && credentialType == 'smd'" type="button" class="btn btn-primary utilityBtn bg-button"
          (click)="rescrapeBills('Gas')">Rescrape Gas Bills</button>
      </div>
    </div>
    <div class="row borderBottom rowPadding">
      <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>