.background-blur {
  background-color: #f7f5f5f2;
}

.info-close-button {
  float: right;
  height: 20px;
  border: none;
  border-radius: 3px;
  background: none;
}
button:focus {
  outline: none !important;
}
.info-message {
  text-align: center;
}
