<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Chart Series Definition</span>
        </p>
        <form [formGroup]="chartForm">
          <div class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Series code:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="seriesCode" id="seriesCode">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Series Name:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="seriesName" id="seriesName">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order Number:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="orderNumber" id="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Series Query Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="seriesQueryType" formControlName="seriesQueryType">
                <option *ngFor='let group of seriesQueryTypeList' [value]="group.lookupValue">{{group.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Series Query:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control form-control-sm" cols="30" rows="10" formControlName="seriesQuery"
                id="seriesQuery"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Series Color:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 row paddingRight">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 paddingRight">
                <input type="text" class="form-control form-control-sm" formControlName="seriesColor" id="seriesColor"
                  [value]='f.seriesColor.value'>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 paddingRight">
                <select class="form-control form-control-sm" id="seriesColor" formControlName="seriesColor"
                  [value]='f.seriesColor.value'>
                  <option *ngFor='let color of colorData' [value]="color.lookupValue">{{color.valueName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Series stroke Width:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="seriesStrokeWidth"
                id="seriesStrokeWidth">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
        </div>
          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Chart Data Sets</span></p>
            <app-table [keys]="keys" [isSearch]="false" [isDelete]=true [data]="chartSeriesParameterList"
              [totalElement]="chartSeriesParameterList.length" [isHideAdd]=false  [showInlineTableForm]="true"
              (deleteEvent)='deletePaneChartParameters($event)' (toggleSaveButtonEvent)='toggleSaveButtonEvent()'
              (addRowEvent)='saveChartDataSet($event)' >
            </app-table>
          </div>


          <div class="row paddingTop">
            <div class="col-sm-4 col-md- col-lg-4 col-xs-4 col-xl-4">
              <button type="button" class="btn btn-primary mb-button" (click)="back()">Back</button>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 right-buttons">
                <button type="submit" class="btn btn-primary mb-button"  (click)="save()">Save</button>
                <button type="button" class="btn btn-primary mb-button" *ngIf="id" (click)="delete()">Delete</button>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>