section.space-top {
  margin-top: 5.3em;
}
.paddingTop {
  padding-top: 3%;
}
.checkbox {
  margin-left: 10px;
  display: inline;
}

.dot {
  padding: 10px;
}

.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
}

.content {
  text-align: left;
  padding-left: 40px;
  padding-top: 35px;
}

.heading {
  font-size: larger;
}

.messages {
  font-size: larger;
  font-weight: 600;
}

.form-control {
  padding: 5px;
  margin-bottom: 5px;
}

.messageName {
  margin-left: 4px;
}

.form-padding {
  padding-left: 40px;
  padding-right: 40px;
}
