<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class='messages'>
          <img src='assets/images/dot03.gif' class='dot'>
          <span class='messageName'>
            Place
          </span>
        </p>
        <form [formGroup]='placeForm' class="form-group
          form-padding">
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Place Code:
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <input type="text" formControlName="placeCode" class="form-control
                form-control-sm">
              <div *ngIf="f.placeCode.invalid && (f.placeCode.dirty ||
                f.placeCode.touched)">
                <span class="error" *ngIf="f.placeCode.errors.required">
                  Place Code is required.
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Place Name:
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <input type="text" formControlName="placeName" class="form-control
                form-control-sm">
              <div *ngIf="f.placeName.invalid && (f.placeName.dirty ||
                f.placeName.touched)">
                <span class="error" *ngIf="f.placeName.errors.required">
                  Place Name is required.
                </span>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Station Id:
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <select formControlName="stationId" class="form-control
                form-control-sm" id="place.stationId" name="place.stationId">
                <option value="" selected="selected"></option>
                <option *ngFor="let stationId of placeStationId" [value]="stationId.key" selected="selected">
                  {{stationId.value}}</option>
              </select>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Time Zone:
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <select formControlName="timezone" class="form-control
                form-control-sm" id="place.timezone" name="place.timezone">
                <option value="" selected="selected"></option>
                <option *ngFor="let timezone of timezoneData" [value]="timezone.id">{{timezone.displayName}}</option>
              </select>
            </div>
          </div>
          <div class="row  borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Latitude:
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <input type="text" formControlName="latitude" class="form-control
                form-control-sm">
              <div *ngIf="f.latitude.invalid && (f.latitude.dirty ||
                f.latitude.touched)">
                <span class="error" *ngIf="f.latitude.errors.required">
                  Latitude is required.
                </span>
              </div>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              Longitude:
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <input type="text" formControlName="longitude" class="form-control
                form-control-sm">
              <div *ngIf="f.longitude.invalid && (f.longitude.dirty ||
                f.longitude.touched)">
                <span class="error" *ngIf="f.longitude.errors.required">
                  Longitude is required.
                </span>
              </div>
            </div>
          </div>
        </form>
        <p *ngIf="id!==undefined" class='messages'>
          <img src='assets/images/dot03.gif' class='dot'>
          <span class='messageName'>Zip Codes</span></p>
        <div *ngIf="id!==undefined" class="row rowPadding form-group form-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-table [keys]="keys" [isPaginate]="true" [isDelete]='true' [isSearch]="false" [data]="dataSource"
              [totalElement]="zipData.totalElements" (goToEditEvent)="goToEditZipCode($event)"
              (addEvent)='addZipCode()' (deleteEvent)="deleteZip($event)"></app-table>
          </div>
        </div>
        <hr class="hr_space">
        <div class="row paddingTop form-padding">
          <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
            <button type="reset" class="btn btn-primary" (click)='back()'>Cancel</button>
          </div>
          <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9" style="text-align: end;">
            <!-- <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10 sidePadding"> -->
              <button type="button" class="btn btn-primary" *ngIf="id!==undefined" (click)="delete()">Delete</button>
            <!-- </div> -->
          </div>
          <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2" style="text-align: end;">
            <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
          </div>
        </div>

      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>