<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Customer Event</span>
        </p>
        <form [formGroup]="eventForm" class="form-group
          form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Event code
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="eventCode" formControlName="eventCode">
              <div *ngIf="f.eventCode.invalid && (f.eventCode.dirty ||
                f.eventCode.touched)">
                <span class="error" *ngIf="f.eventCode.errors.required">
                  Event Code is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Event Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="eventName" formControlName="eventName">
              <div *ngIf="f.eventName.invalid && (f.eventName.dirty ||
                f.eventName.touched)">
                <span class="error" *ngIf="f.eventName.errors.required">
                  Event Name is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Description:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control form-control-sm" id="description"
                formControlName="description"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="shared">
                <input type="checkbox" formControlName="shared"
                  id="shared">
                Available To User
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-0">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="onlyOne">
                <input type="checkbox" formControlName="onlyOne"
                  id="onlyOne">
                Only one allowed per account
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row paddingTop">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 removePadding">
              <button type="button" class="btn btn-primary" style="float:left;" (click)="back()">Back</button></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 row removePadding">
              <div class="col-sm-7 col-md-8 col-lg-8 col-xs-6 removePadding">
                <button type="button" class="btn btn-primary" style="float:right;" (click)="delete()"
                  *ngIf="id!==undefined&&id!==null">Delete</button>
              </div>
              <div class="col-sm-5 col-md-4 col-lg-4 col-xs-6 removePadding">
                <button type="button" class="btn btn-primary" style="float:right;" (click)="save()">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar ></app-sidebar>
      </div>
    </div>
  </div>
</section>