<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="heading">Search Options (use "%" as wildcard in searches)</p>
        <form [formGroup]="staffForm" class="form-group">
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
              <span class="filterLabel">Username</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" formControlName="userName"
                class="form-control" />
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
              <span class="filterLabel">Name</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" formControlName="name"
                class="form-control" />
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
              <span class="filterLabel">Status</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <select class="form-control form-control-sm"
                id="status" formControlName="status">
                <option *ngFor='let group of statusList' [value]="group.id">{{group.value}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 show-button">
              <button type="submit" class="btn btn-primary"
              (click)="search(undefined,true)">Show</button>
            </div>
          </div>
        </form>
        <div class="row" #tableScrollPoint>          
          <div class="col-sm-12">
            <p class="messages">
              <img class="pointer" alt="dot" src="assets/images/dot03.gif"
                class="dot pointer">
              <span class="messageName">Staff (Number of Records
                =
                {{staffData.totalElements | number:'1.0':'en-US' }})</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" style="position: relative;">
            <app-table [keys]="keys" [isPaginate]="true"
              [isSearch]="false" [addSerialNumber]="true"
              [data]="dataSource" [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [totalElement]="staffData.totalElements"
              (changePageEvent)="search($event,true)"
              (goToEditEvent)="goToEditStaff($event)"
              (addEvent)='addStaff()'
              class='staff-table'>
            </app-table>
          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>