<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img alt="dot" class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Customer Event</span>
        </p>
        <form [formGroup]="eventForm" class="form-group form-padding">
          <div class="row borderBottom borderTop rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Customer:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row rowPadding borderBottom" style="margin-left: 0px;
                margin-right: 0px;">
                <div class='col-sm-4 col-md-4 col-lg-4 col-xs-12'>
                  AuditId:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="text" class="form-control" matInput 
               formControlName='auditId' [matAutocomplete]="auditId"
                  (keyup)="findCustomerByAuditIdOrCustomerName('auditId')" >
                  <mat-autocomplete #auditId="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                    <mat-option *ngFor="let data of dataListForSuggestions" [value]="data">
                      {{data.user.name}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
              </div>
              <div class="row rowPadding" style="margin-left: 0px; margin-right:
                0px;" s>
                <div class='col-sm-4 col-md-4 col-lg-4 col-xs-12'>
                  Customer Name:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="text" class="form-control" matInput 
                  [matAutocomplete]="auditIdAutoComplete"
                  formControlName="customerName" (input)="findCustomerByAuditIdOrCustomerName('customerName')" >
                   <mat-autocomplete #auditIdAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                     <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                       {{data.user.name}}
                     </mat-option>
                   </mat-autocomplete>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding"
            formGroupName="customerEventType">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Event Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="eventCode"
                formControlName="eventCode"
                (change)="changeDropDownValue($event)">
                <option *ngFor='let eventType of eventTypeData'
                  [value]="eventType.eventCode">{{eventType.eventName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding"
            formGroupName="customerEventType">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Event Code:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value"
                formControlName="eventCode"
                id="eventCode" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding"
            formGroupName="customerEventType">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Description:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm show-value
                text-area' cols=5 rows=4
                formControlName='description'
                id='additionalComments' disabled></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Event Date:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <p-calendar formControlName='eventDatetime' dateFormat="mm/dd/yy"
                id='eventDatetime' showIcon=true showSeconds="true"
                showTime="true"  hideOnDateTimeSelect="true"
                showButtonBar="true">
              </p-calendar>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Additional
              Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm' cols=30 rows=10
                formControlName='description'
                id='additionalComments' style="height: 95px;"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding"
            *ngIf="customerEventId!==undefined &&
            customerEventId!== null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Author Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value"
                formControlName="linkedPersonType"
                id="linkedPersonType" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding"
            *ngIf="customerEventId!==undefined &&
            customerEventId!== null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Author:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm show-value"
                formControlName="createdBy"
                id="linkedPersonName" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-4 col-xs-12"></div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 ">
              <button type="button" class="btn btn-primary m-button" (click)="back()">
                Back
              </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <button class="btn btn-primary m-button" style="float: right"
                    *ngIf="customerEventId"
                    (click)="delete()" >Delete</button>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <button type="button" class="btn btn-primary m-button" (click)="save()" style="float:right">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>