<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Pane</span>
        </p>
        <form [formGroup]="paneForm" class="form-group">
        <div class="form-padding">
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="section">
                <input type="checkbox" id="section" formControlName="section">
                Is Section
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf='f.section.value' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="section">
                <input type="checkbox" id="hideSection" formControlName="hideSection">
                Hide Section In Topic
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Pane Code:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="paneCode" id="paneCode">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Pane Main Section Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="paneLabel" id="paneLabel">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="id !== undefined" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Next Pane Or Section:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="nextPaneId" id="nextPaneId">
                <option *ngFor='let group of nextPaneSectionList' 
                value="{{group.id}}">{{group.selectionLabel}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="id !== undefined" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order Number:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="orderNumber" id="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="label" id="label">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="filter" id="filter"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf='!f.hideSection.value || (id && surveyDescriptionId)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Page Header:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmHeaderTemplate' id='htmHeaderTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>

          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Page Text:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmPageTextTemplate' id='htmPageTextTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Page Footer:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmFooterTemplate' id='htmFooterTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Factoid:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmFactoidTemplate' id='htmFactoidTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Pending Messages:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmPendingMessageTemplate' id='htmPendingMessageTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Top Menu:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmTopMenuTemplate' id='htmTopMenuTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Right Menu Top Part:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmRightTopTemplate' id='htmRightTopTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Right Menu Bottom Part:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmRightBottomTemplate'
                id='htmRightBottomTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Pane Help:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <ejs-richtexteditor [toolbarSettings]='tools' formControlName='htmHelpTemplate' id='htmHelpTemplate'>
              </ejs-richtexteditor>
            </div>
          </div>

          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showPrev">
                <input type="checkbox" formControlName="showPrev" id="showPrev">
                Show "Prev" Button
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div *ngIf='!f.hideSection.value || (id == undefined)' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="showNext">
                <input type="checkbox" formControlName="showNext" id="showNext">
                Show "Next" Button
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Comments:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea type="text" class="form-control form-control-sm" id="comments" formControlName="comments">
              </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
        </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Data Blocks</span>
            </p>
            <app-table [keys]="dataBlockKeys" [isPaginate]="false" [isSearch]="false" [data]="dataBlockDataSource"
              [totalElement]="dataBlockData.totalElements" (addEvent)='addDataBlock()'
              (goToEditEvent)='goToEditDataBlock($event)'>
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Data Fields</span>
            </p>
            <app-table [keys]="dataFieldKeys" [isPaginate]="true" [isSearch]="false" [data]="dataFieldDataSource"
              [totalElement]="dataFieldData.totalElements" (addEvent)='addDataField()'
              (goToEditEvent)='goToEditDataField($event)'>
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Charts</span>
            </p>
            <app-table [keys]="chartKeys" [isPaginate]="true" [isSearch]="false" [data]="chartDataSource"
              [totalElement]="chartData.totalElements" (addEvent)='addCharts()' (goToEditEvent)='goToEditCharts($event)'>
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Reports</span>
            </p>
            <app-table [keys]="reportKeys" [isPaginate]="true" [isSearch]="false" [data]="reportsDataSource"
              [totalElement]="reportData.totalElements" (addEvent)='addReports()' (goToEditEvent)='goToEditReports($event)'>
            </app-table>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6 sidePadding">
              <button type="button" class="btn btn-primary" (click)="back()" style='float: left;'>
                Back
              </button>
            </div>

            <!-- <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12 row rowPadding sidePadding"> -->
            <div class="col-sm-6 col-md-8 col-lg-8 col-xs-0" *ngIf="id === undefined || id === null; else elseBlock">
            </div>
            <ng-template #elseBlock>
              <div class="col-sm-3 col-md-4 col-lg-4 col-xs-6 sidePadding">
                <button type="button" class="btn btn-primary" (click)="copy()" style='float: right;'>
                  Copy
                </button>
              </div>
              <div class="col-sm-3 col-md-4 col-lg-4 col-xs-6 sidePadding">
                <button type="button" class="btn btn-primary" style="float: right" (click)="delete()"
                  style='float: left;'>
                  Delete
                </button>
              </div>
            </ng-template>


            <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6 sidePadding">
              <button type="button" class="btn btn-primary" style="float: right" (click)="save()" style='float: right;'>
                Save
              </button>
            </div>
            <!-- </div> -->
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showDataFields]='true' [showTopicVariableFields]='true' [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>