<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 admin-content">
        <p class="heading">Customer Comparison Groups</p>
        <form [formGroup]="customerComparisonGroupForm" class="form-group
          form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Comparison code</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <select id="comparisonCode" formControlName="comparisonCode"
                class="form-control">
                <option value="" selected="selected"></option>
                <option *ngFor="let comparisonCode of
                  comparisonCodeDropdownData" [value]='comparisonCode.key'>
                  {{comparisonCode.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Group Name</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" formControlName="groupName"
                class="form-control" />
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Weather Station</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <select id="weatherStationId" class='form-control form-control-sm'
                formControlName="weatherStationId">
                <option value="" selected="selected"></option>
                <option *ngFor="let stationId of weatherStationIds"
                  [value]="stationId.stationId">
                  {{stationId.stationName}}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Home Size</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <select id="homeSize" formControlName="homeSize"
                class="form-control form-control-sm">
                <option value="" selected="selected"></option>
                <option *ngFor="let size of houseSizeData" [value]="size.key">{{size.value}}</option>
              </select>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-12 show-button">
              <button type="button" class="btn btn-primary"
                (click)="findCustomerComparisonGroup(true,'')">Show</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12">
            <p class="messages">
              <img src="assets/images/dot03.gif" class="dot pointer">
              <span class="messageName">Customers Comparison Group List</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-table [isHideAdd]="true" [keys]="keys" [isPaginate]="true"
              [isSearch]="false" [data]="dataSource"
              [totalElement]="customerComparisonGroupData.totalElements"
              (changePageEvent)="findCustomerComparisonGroup(true,'')"
              (goToEditEvent)="gotoEditCustomerComparisonGroup($event)">
            </app-table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-6 col-lg-6 col-xs-0"></div>
          <div class="col-sm-8 col-md-6 col-lg-6 col-xs-12">
            <div class="row responsive-tab">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3" style="display:
                inline-table;">
                <button class="btn btn-primary" style='float:right;'
                  (click)='addCustomerComparisonGroup()'>Add</button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4" style="display:
                inline-table;">
                <button class="btn btn-primary" style='float:right;'
                  (click)='goToBatchAdd()'>Batch
                  Add</button>
              </div>
              <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5" style="display:
                inline-table;">
                <button class="btn btn-primary" style='float:right;'
                  (click)='goToBatchRemove()'>Batch
                  Remove</button>
              </div>
            </div>
            <div class="row responsive-mobile">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6" style="display:
                inline-table;">
                <button class="btn btn-primary"
                  (click)='addCustomerComparisonGroup()'>Add</button>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6" style="display:
                inline-table;">
                <button class="btn btn-primary" style='float:right;'
                  (click)='goToBatchAdd()'>Batch
                  Add</button>
              </div>
              <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12" style="text-align: center; margin-top: 10px;">
                <button class="btn btn-primary"
                  (click)='goToBatchRemove()'>Batch
                  Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>