<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Data Block</span>
        </p>
        <form [formGroup]="variableForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Block code:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="blockCode" id="blockCode">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order Number:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" required formControlName="orderNumber"
                id="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="label" id="label">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Report Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" formControlName="reportLabel" id="reportLabel">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="array">
                <input type="checkbox" formControlName="array" id="array">
                Is Array
              </label>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="f.array.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Minimum Rows Count:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="minRows" formControlName="minRows">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="f.array.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Maximum Rows Count:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="maxRows" formControlName="maxRows">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="f.array.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Show first n-rows, count:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="showFirstRows"
                formControlName="showFirstRows">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf="f.array.value" class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <label for="allowTotalRemoving">
                <input type="checkbox" formControlName="allowTotalRemoving" id="allowTotalRemoving">
                Allow removing of all elements if it possible
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Data Fields</span></p>
            <app-table [keys]="dataFieldKeys" [isPaginate]="false" [isSearch]="false"
              [data]="dataFieldDataSource" [totalElement]="dataFieldData.totalElements" (addEvent)='addDataField()'
              (goToEditEvent)='goToEditDataField()'>
            </app-table>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6 sidePadding" style="text-align: left !important;">
              <button type="button" class="btn btn-primary" (click)="back()">
                Back
              </button>
            </div>
            <!-- <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12 row rowPadding sidePadding"> -->
              <div class="col-sm-8 col-md-8 col-lg-9 col-xs-6 sidePadding" *ngIf="id !== undefined && id !== null">
                <button type="button" class="btn btn-primary" style="float: right" (click)="delete()">
                  Delete
                </button>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9 col-xs-6 sidePadding" *ngIf="id == undefined || id == null"></div>
              <div class="col-sm-2 col-md-2 col-lg-1 col-xs-12 sidePadding">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            <!-- </div> -->
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showDataFields]='true' [showTopicVariableFields]='true' [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>