<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Context Variable </span>
        </p>
        <form [formGroup]="contentForm" class="form-group form-padding">

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Field:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" formControlName='field' id='field' class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order Number:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="orderNumber" id="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="calculationType" id="calculationType">
                <option *ngFor="let type of calculationType" [value]="type.valueName">
                  {{ type.lookupValue }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Expression:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="calculationExpression"
                id="calculationExpression"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
              <button type="button" class="btn btn-primary" (click)="back()">
                Back
              </button>
            </div>
            <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12 row rowPadding sidePadding">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 sidePadding">
                <button type="button" class="btn btn-primary" *ngIf="id !== undefined && id !== null"
                  style="float: right" (click)="delete()">
                  Delete
                </button>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidePadding">
                <button type="button" class="btn btn-primary" style="float: right" (click)="save()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>