<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Context Variable </span>
        </p>
        <form [formGroup]="contentForm" class="form-group form-padding">

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Field:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" formControlName='field' id='field' class="form-control">
              <div class="error-message" *ngIf="highlightErrorField('field')" >
                <span>Field is required.</span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order Number:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="orderNumber" id="orderNumber">
              <div class="error-message" *ngIf="highlightErrorField('orderNumber')" >
                <span>Order Number is required.</span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control" formControlName="calculationType" id="calculationType">
                <option *ngFor="let type of calculationType" [value]="type.lookupValue">
                  {{ type.valueName }}
                </option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calculation Expression:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="calculation" rows="15"
                id="calculation"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <button type="button" class="btn btn-primary" (click)="back()"> Back </button>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 right-buttons">
                <button type="submit" class="btn btn-primary" (click)="save()"> Save </button>
                <button type="button" class="btn btn-primary" *ngIf="id" (click)="delete()"> Delete </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>