.closeButton {
    float: right;
    height: 20px;
    border: none;
    margin-top: 6px;
    border-radius: 3px;
  }
  .closeButton:focus {
    border: none!important;
  }
  button.closeButton:focus {outline:0;}
  .mapButton {
    color: #76ba19 !important;
    border: 1px solid #ddd;
  }
  svg:not(:root) {
    margin-bottom: 7.6px;
  }
  .mat-dialog-actions {
    float: right;
  }