<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <p class="accurate">Electricity Smart Meter</p>
                <div *ngIf='isAdminView' class="row">
                    <div class="col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-sm-3"
                                    for="email">
                                    <span class="start">Audit Id:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control"
                                        id="auditId" name="auditId"
                                        [(ngModel)]="auditId" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-sm-3"
                                    for="code">
                                    <span class="start">Customer Name:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control"
                                        id="customerName" name="customerName"
                                        [(ngModel)]="customerName" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-sm-3"
                                    for="email">
                                    <span class="start">Year:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control"
                                        id="year" name="Year"
                                        [(ngModel)]="year">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-sm-3"
                                    for="code">
                                    <span class="start">Month:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control"
                                        id="month" name="Month"
                                        [(ngModel)]="month">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-sm-3"
                                    for="email">
                                    <span class="start">Day:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control"
                                        id="day" name="Day" [(ngModel)]="day">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-sm-3"
                                    for="code">
                                    <span class="start">Hour:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control"
                                        id="hour" name="Hour"
                                        [(ngModel)]="hour">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align:right;">
                        <button type="submit" class="btn btn-primary"
                            (click)="searchData()">Show</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="Messages">
                            <img alt="dot" src="assets/images/dot03.gif"
                                class="dot">&nbsp;Values</p>
                        <app-table [keys]="keys" [checkbox]=true
                            [isPaginate]="true" [isHideAdd]=true
                            [isSearch]="false"
                            [data]="dataSource"
                            [totalElement]="usageHistoryData.totalElements"
                            (changePageEvent)="perFormGetList('smartMeterElectric')">
                        </app-table>
                    </div>
                </div>
            </div>
            <div *ngIf='isAdminView' class="col-md-3 .col-lg-3 col-sm-12">
                <app-sidebar></app-sidebar>
            </div>
            <div *ngIf='!isAdminView' class="col-lg-3 col-md-3 col-sm-4
                rightColumn">
                <div class="feedback">
                    <p class="Energy_anaiytic">
                        <img alt="dot" src="assets/images/dot03.gif"
                            class="dot">&nbsp;Powered by Home Energy Analytics,
                        Inc.</p>
                    <p class="feedback">Send feedback to</p>
                    <p class="link_hea">
                        <a href="mailto:info@hea.com" class="info_hea">info@hea.com</a>
                    </p>
                    <hr>
                    <ul class="leaks">
                        <li>
                            <a class="a_history"
                                [routerLink]="['/topicshistory']">Topics history</a>
                        </li>
                        <li>
                            <a class="a_history"
                                [routerLink]="['/customerEventList']">Events
                                history</a>
                        </li>
                        <li>
                            <a class="a_history"
                                [routerLink]="['/MailArchiveList']">Mail archive</a>
                        </li>
                        <li>
                            <a class="a_history"
                                [routerLink]="['/surveyRecommendationList']">Recommendations</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="menu1"
                                    data-toggle="dropdown">Usage history
                                </a>
                                <ul class="dropdown-menu" role="menu"
                                    aria-labelledby="menu1">
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/gasList']">Gas</a>
                                    </li>
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/gasChargeList']">Gas
                                            charge</a>
                                    </li>
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricityList']">Electricity</a>
                                    </li>
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricityChargeList']">Electricity
                                            charge</a>
                                    </li>
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricitySmartMeterList']">Electric
                                            smart meter</a>
                                    </li>
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricDailySmartMeterList']">Electric
                                            Daily smart
                                            meter</a>
                                    </li>
                                    <li role="presentation"
                                        style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/gasSmartMeter']">Gas
                                            smart
                                            meter</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>