<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content admin-content">
        <div class="paddingTop">
          <p class="messages">
            <img src='assets/images/dot03.gif' alt="dot" class='dot'>
            <span class="messageName">Attributes List</span></p>
          <app-table [keys]="keys" [isPaginate]="true"
            (goToEditEvent)='goToEditAttributes()'
            (addEvent)='addAttributes()' [isSearch]="false" [data]="dataSource"
            [totalElement]="attributeData.totalElements"
            (changePageEvent)="search($event,false)">
          </app-table>
        </div>
        <div class="row rowPadding">
          <div class="col-12">
            <button type="button" class="btn btn-primary" (click)='back()'>Back</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>