<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="error-message" *ngIf="errorMessage">
          {{errorMessage?.error?.errorMessage}}
          <span *ngIf="!errorMessage.error.errorMessage">
            {{errorMessage?.error}}
          </span>
        </p>
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">CIMIS Station</span>
        </p>
        <form [formGroup]="cimisStationForm" class="form-group form-padding">
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"
            [ngClass]="{'error-fields-highlight': f.stationNbr.invalid && (f.stationNbr.dirty ||
              f.stationNbr.touched)}"
            >
              Station Number:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="stationNbr" formControlName="stationNbr" readonly />
              <!-- <div *ngIf="f.stationNbr.invalid && (f.stationNbr.dirty ||
                f.stationNbr.touched)">
                <span class="error" *ngIf="f.stationNbr.errors.required">
                  Station Number is required.
                </span>
              </div> -->
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Station Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="groupCode" formControlName="name" />
              <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                <span class="error" *ngIf="f.name.errors.required">
                  Station Name is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              County:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="county" formControlName="county" />
              <div *ngIf="f.county.invalid && (f.county.dirty ||
                f.county.touched)">
                <span class="error" *ngIf="f.county.errors.required">
                  County: is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              City:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="city" formControlName="city" />
              <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)">
                <span class="error" *ngIf="f.city.errors.required">
                  City is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Regional Office:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="regionalOffice"
                formControlName="regionalOffice" />
              <div *ngIf="f.regionalOffice.invalid && (f.regionalOffice.dirty ||
                f.regionalOffice.touched)">
                <span class="error" *ngIf="f.regionalOffice.errors.required">
                  Regional Office is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Elevation:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="elevation" formControlName="elevation" />
              <div *ngIf="f.elevation.invalid && (f.elevation.dirty
                ||f.elevation.touched)">
                <span class="error" *ngIf="f.elevation.errors.required">
                  Elevation is required.
                </span>
                <span class="error" *ngIf="f.elevation.errors.notANumber">
                  Accpets only numeric data.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Ground Cover:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="groundCover" formControlName="groundCover" />
              <div *ngIf="f.groundCover.invalid && (f.groundCover.dirty
                ||f.groundCover.touched)">
                <span class="error" *ngIf="f.groundCover.errors.required">
                  Ground Cover is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Latitude:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="latitude" formControlName="latitude" />
              <div *ngIf="f.latitude.invalid && (f.latitude.dirty ||
                f.latitude.touched)">
                <span class="error" *ngIf="f.latitude.errors.required">
                  Latitude is required.
                </span>
                <span class="error" *ngIf="f.latitude.errors.notANumber">
                  Accpets only numeric data.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Longitude:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="longitude" formControlName="longitude" />
              <div *ngIf="f.longitude.invalid && (f.longitude.dirty ||
                f.longitude.touched)">
                <span class="error" *ngIf="f.longitude.errors.required">
                  Longitude is required.
                </span>
                <span class="error" *ngIf="f.longitude.errors.notANumber">
                  Accpets only numeric data.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Connect date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="longitude" formControlName="connectDate" />
              <div *ngIf="f.connectDate.invalid && (f.connectDate.dirty ||
                f.connectDate.touched)">
                <span class="error" *ngIf="f.connectDate.errors.required">
                  Connect date is required.
                </span>
              </div>
              <div class="error" *ngIf="!isConnectDateVaild">
                Date must be in format {{dateFormat}}
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Disconnect date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="longitude" formControlName="disconnectDate" />
              <div *ngIf="f.disconnectDate.invalid && (f.disconnectDate.dirty ||
                f.disconnectDate.touched)">
                <span class="error" *ngIf="f.disconnectDate.errors.required">
                  Disconnect date is required.
                </span>
              </div>
              <div class="error" *ngIf="!isDisconnectDateVaild">
                Date must be in format {{dateFormat}}
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Active:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="isActive" formControlName="isActive" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              ETo station:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" id="EToStation" formControlName="isEtoStation" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Zip codes:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control textarea_scroll" rows="3" id="zipCodes" name="zipCodes"
                formControlName="zipCodes"></textarea>
                <div *ngIf="f.zipCodes.invalid && (f.zipCodes.dirty ||
                f.zipCodes.touched)">
                <span class="error" *ngIf="f.zipCodes.errors.required">
                  Zip codes are required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <!-- <div class="row rowPadding paddingTop">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-3
              display-inline-button">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6" style="text-align:
              end;">
              <button type="button" class="btn btn-primary" (click)="delete()"
                *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3"
              [ngClass]="{'display-responsive': id!==undefined&&id!==null}">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
          </div> -->

          <div class="row rowPadding paddingTop">
            <div class="col-sm-4 col-md- col-lg-4 col-xs-4 col-xl-4">
              <button type="button" class="btn btn-primary mb-button" (click)="back()">Back</button>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <div class="row">
                <div class="col-sm-8 col-md-9 col-lg-9  col-xs-12 col-xl-10 " style="text-align: end;"
                  *ngIf="id!==undefined&&id!==null">
                  <button type="button" class="btn btn-primary mb-button" (click)="delete()">Delete</button>
                </div>
                <div [ngClass]="{ 'col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2': id !== undefined && id !== null
                , 'col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' : id === undefined || id === null}"
                  style="text-align:right; overflow:auto;">
                  <button type="submit" class="btn btn-primary mb-button" (click)="save()">Save</button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>