<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="error-message" *ngIf="errorMessage">
          {{errorMessage?.error?.errorMessage}}
        </p>
        <p class="messages">
          <img alt="dot" class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Customer Comparison Group</span>
        </p>
        <form [formGroup]="customerComparisonGroupForm" class="form-group
          form-padding">
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Comparison code
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="comparisonCode" class="form-control form-control-sm"
                formControlName="comparisonCode">
                <option value="" selected="selected"></option>
                <option *ngFor="let comparisonCode of
                  comparisonCodeDropdownData"
                  [value]='comparisonCode.lookupValue'>
                  {{comparisonCode.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="groupName" formControlName="groupName">
              <div *ngIf="f.groupName.invalid && (f.groupName.dirty ||
                f.groupName.touched)">
                <span class="error" *ngIf="f.groupName.errors.required">
                  Group Name is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Order:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm"
                id="orderNumber"
                formControlName="orderNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Weather Station
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="weatherStationId" class='form-control form-control-sm'
                name="weatherStationId"
                formControlName="weatherStationId">
                <option value="" selected="selected"></option>
                <option *ngFor="let stationId of weatherStationIds"
                  [value]="stationId.stationId">
                  {{stationId.stationName}}
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Home Size
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="homeSize" id="homeSize" name="homeSize">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let size of houseSizeData"
                    [value]="size.lookupValue">{{size.valueName}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Home Type
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <select formControlName="homeType" id="homeType"
                  class="form-control form-control-sm">
                  <option value="" selected="selected"></option>
                  <option *ngFor='let houseType of houseTypeData'
                    [value]='houseType.lookupValue'>{{houseType.valueName}}</option>
                </select>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Occupancy
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="occupancy" id="occupancy">
                  <option value="" selected="selected"></option>
                  <option *ngFor='let occupancy of occupancyData '
                    [value]="occupancy.lookupValue">{{occupancy.valueName}}</option>
                </select>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Pool or Spa
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <select class='form-control form-control-sm'
                  formControlName="poolOrSpa" id="poolOrSpa">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
                </select>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Natural Gas Data:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="gas" id="gas">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Electric Data
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="electricity" id="electricity">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Water Data
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="water" id="water">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Electric Water Heater
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="elecWaterHeating"
                  id="elecWaterHeating">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                EV
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="ev" id="ev" name="ev">
                  <option value="" selected="selected"></option>
                  <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Lot Size
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

                <select class='form-control form-control-sm'
                  formControlName="lotSize" id="lotSize">
                  <option value="" selected="selected"></option>
                  <option *ngFor='let lotSize of lotSizeData'
                    [value]='lotSize.lookupValue'>{{lotSize.valueName}}</option>
                </select>

              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>

            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Number of Customers:
              </div>
              <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                <input type="text" class="show-value" id="numOfCustomers"
                  formControlName="numOfCustomers" disabled>
                <p>
                  <span *ngFor="let customer of
                    customerComparisonGroupCustomerList">
                    {{customer}},
                  </span>
                </p>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>

            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Help Text:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                This comparison group includes homes -
                <ul>
                  <li *ngFor="let description of
                    customerComparisonGroupDescriptionList">{{description}}</li>
                </ul>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>

            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Note:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <textarea class='form-control form-control-sm'
                  formControlName='note' id="note" cols="50"
                  rows="4"></textarea>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Updated Date:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <input type="text" class="show-value" id="updatedDate"
                  formControlName="updatedDate" disabled>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row borderBottom rowPadding">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                Updated By:
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <input type="text" class="show-value" id="updatedBy"
                  formControlName="updatedBy" disabled>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
            </div>
            <div class="row rowPadding">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"
                style='display:inline-table;'><button
                  type="button" class="btn btn-primary mb-button"
                  (click)="back()">Back</button></div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12"
                  style='display:inline-table;'>
                  <button type="button" class="btn btn-primary mb-button"
                    style="float:right;" (click)="delete()"
                    *ngIf="id!==undefined && id!==null">Delete</button>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12"
                  style='display:inline-table;'>
                  <button type="button" class="btn btn-primary mb-button"
                    style="float:right;" (click)="save()">Save</button>
                </div>
              </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-3 .col-lg-3 col-sm-12">
          <app-sidebar></app-sidebar>
        </div>
      </div>
    </div>
  </section>