<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Customer Comparison Group</span>
        </p>
        <form [formGroup]="customerComparisonGroupForm" class="form-group
          form-padding">
          <!-- <div class="row borderTop borderBottom rowPadding" *ngIf="id!==undefined&&id!==null">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Record Id:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="customerEventTypeId"
                formControlName="customerEventTypeId">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div> -->
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Comparison code
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="comparisonCode" class="form-control form-control-sm" formControlName="comparisonCode">
                <option value="" selected="selected"></option>
                <option *ngFor="let comparisonCode of comparisonCodeDropdownData" [value]='comparisonCode.key'>
                  {{comparisonCode.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Group Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="groupName" formControlName="groupName">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Order:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="order" formControlName="order">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Weather Station
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="weatherStationId" class='form-control form-control-sm' name="weatherStationId"
                formControlName="weatherStationId">
                <option value="" selected="selected"></option>
                <option *ngFor="let stationId of weatherStationIds" [value]="stationId.key">
                  {{stationId.value}}
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Home Size
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="homeSize" id="homeSize" name="homeSize">
                <option value="" selected="selected"></option>
                <option *ngFor="let size of houseSizeData" [value]="size.key">{{size.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Home Type
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select formControlName="homeType" id="homeType" class="form-control form-control-sm">
                <option value="" selected="selected"></option>
                <option *ngFor='let houseType of houseTypeData' [value]='houseType.key'>{{houseType.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Occupancy
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="occupancy" id="occupancy">
                <option value="" selected="selected"></option>
                <option *ngFor='let occupancy of occupancyData ' [value]="occupancy.key">{{occupancy.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Pool or Spa
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class='form-control form-control-sm' formControlName="poolOrSpa" id="poolOrSpa">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Natural Gas Data:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="naturalGasData" id="naturalGasData">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Electric Data
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="electricData" id="electricData">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Water Data
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="waterData" id="waterData">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Electric Water Heater
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="electricWaterHeater"
                id="electricWaterHeater">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              EV
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="EV" id="EV" name="EV">
                <option value="" selected="selected"></option>
                <option *ngFor="let yesNo of yesNoData" [value]="yesNo.key">{{yesNo.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Lot Size
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <select class='form-control form-control-sm' formControlName="lotSize" id="lotSize">
                <option value="" selected="selected"></option>
                <option *ngFor='let lotSize of lotSizeData' [value]='lotSize.key'>{{lotSize.value}}</option>
              </select>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Number of Customers:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <p>
                1,
                31,
                32,
                128,
                130,
                142,
                155,
                166,
                183,
                197,
                209,
                218,
                225,
                227,
                301,
                310,
                319,
                320,
                326,
                330,
                338,
                345,
                362,
                363,
                370,
                403,
                411,
                412,
                420,
                426,
                427,
                435,
                436,
                452,
                454,
                455,
                456,
                471,
                490,
                491,
                492,
                497,
                499,
                511,
                512,
                530,
                534,
                547,
                559,
                564,
                566,
                581,
                586,
                598,
                645,
                658,
                665,
                676,
                677,
                681,
                701,
                716,
                723,
                734,
                735,
                737,
                742,
                813,
                941,
                948,
                949,
                968,
                972,
                1044,
                1049,
                1060,
                1117,
                1150,
                1158,
                1218,
                1253,
                1262,
                1276,
                1279,
                1324,
                1339,
                1363,
                1375,
                1384,
                1395,
                1426,
                1474,
                1491,
                1493,
                1536,
                1602,
                1614,
                1621,
                1634,
                1635,
                1679,
                1738,
                1761,
                1772,
                1775,
                1776,
                1793,
                1804,
                1829,
                1911,
                2046,
                2082,
                2087,
                2139,
                2156,
                2159,
                2171,
                2239,
                2268,
                2280,
                2324,
                2333,
                2405,
                2409,
                2452,
                2476,
                2477,
                2571,
                2611,
                2616,
                2650,
                2684,
                2710,
                2723,
                2729,
                2731,
                2769,
                2772,
                2776,
                2822,
                2855,
                2880,
                2925,
                2946,
                2972,
                3093,
                3120,
                3130,
                3155,
                3183,
                3187,
                3191,
                3213,
                3230,
                3289,
                3298,
                3314,
                3315,
                3407,
                3457,
                3705,
                3731,
                3740,
                3753,
                3759,
                3839,
                3903,
                3935,
                3951,
                3979,
                4012,
                4041,
                4043,
                4047,
                4051,
                4116,
                4145,
                4166,
                4167,
                4184,
                4187,
                4203,
                4210,
                4293,
                4650,
                4660,
                4665,
                4683,
                4687,
                4690,
                4930,
                4931,
                4932,
                4946,
                4952,
                4957,
                4958,
                4965,
                4972,
                4975,
                4989,
                5000,
                5001,
                5009,
                5012,
                5035,
                5036,
                5041,
                5050,
                5051,
                5063,
                5080,
                5085,
                5106,
                5120,
                6653,
                6655,
                6658,
                6698,
                6699,
                6713,
                6719,
                6724,
                6748,
                6774,
                7409,
                7417,
                7467,
                7514,
                7524,
                7535,
                7541,
                7549,
                7589,
                7595,
                7598,
                7605,
                7610,
                7623,
                7641,
                7783,
                7831,
                7837,
                7846,
                7860,
                7862,
                7882,
                7887,
                7891,
                7908,
                7912,
                7928,
                7930,
                7966,
                7975,
                7978,
                7996,
                7998,
                8037,
                8065,
                8066,
                8069,
                8076,
                8077,
                8078,
                8115,
                8131,
                8132,
                8179,
                8301,
                8322,
                8340,
                8347,
                8374,
                8389,
                8391,
                8408,
                8421,
                8443,
                8449,
                8510,
                8517,
                8523,
                8525,
                8562,
                8563,
                8564,
                8586,
                8594,
                8596,
                8631,
                8636,
                8657,
                8675,
                8677,
                8681,
                8695,
                8696,
                8703,
                8704,
                8707,
                8720,
                8728,
                8740,
                8808,
                8816,
                8821,
                8823,
                8835,
                8836,
                8837,
                8839,
                8840,
                8841,
                8847,
                8852,
                8856,
                8857,
                8861,
                8873,
                8877,
                8885,
                8895,
                8901,
                8916,
                8982,
                8987,
                8994,
                8997,
                8999,
                9021,
                9040,
                9046,
                9068,
                9070,
                9084,
                9088,
                9092,
                9100,
                9104,
                9108,
                9113,
                9121,
                9124,
                9130,
                9147,
                9149,
                9154,
                9175,
                9211,
                9229,
                9234,
                9249,
                9259,
                9260,
                9262,
                9264,
                9270,
                9272,
                9273,
                9278,
                9285,
                9287,
                9293,
                9295,
                9309,
                9311,
                9314,
                9319,
                9327,
                9329,
                9332,
                9333,
                9362,
                9368,
                9370,
                9384,
                9394,
                9410,
                9414,
                9415,
                9422,
                9463,
                9501,
                9506,
                9509,
                9512,
                9517,
                9535,
                9562,
                9581,
                9592,
                9602,
                9619,
                9635,
                9637,
                9638,
                9647,
                9650,
                9654,
                9658,
                9671,
                9695,
                9708,
                9732,
                9747,
                9770,
                9771,
                9778,
                9784,
                9840,
                9883,
                9894,
                9922,
                9927,
                9931,
                9935,
                9939,
                9980,
                9985,
                9987,
                9989,
                10002,
                10007,
                10013,
                10032,
                10037,
                10041,
                10047,
                10049,
                10065,
                10073,
                10077,
                10104,
                10108,
                10114,
                10133,
                10137,
                10153,
                10164,
                10167,
                10178,
                10181,
                10188,
                10189,
                10193,
                10252,
                10284,
                10285,
                10298,
                10331,
                10339,
                10345,
                10353,
                10361,
                10366,
                10372,
                10404,
                10414,
                10422,
                10423,
                10430,
                10436,
                10460,
                10467,
                10490,
                10491,
                10495,
                10502,
                10503,
                10505,
                10512,
                10513,
                10520,
                10521,
                10530,
                10538,
                10547,
                10552,
                10562,
                10563,
                10619,
                10624,
                10657,
                10659,
                10662,
                10665,
                10678,
                10690,
                10719,
                10721,
                10723,
                10752,
                10768,
                10803,
                10866,
                10870,
                10877,
                10886,
                10890,
                10893,
                10894,
                10895,
                10899,
                10905,
                10918,
                10936,
                10956,
                10957,
                10958,
                10961,
                10966,
                10967,
                10978,
                10982,
                10990,
                10994,
                11015,
                11023,
                11025,
                11026,
                11057,
                11066,
                11072,
                11139,
                11149,
                11150,
                11151,
                11157,
                11158,
                11159,
                11163,
                11169,
                11171,
                11172,
                11181,
                11184,
                11192,
                11202,
                11212,
                11217,
                11222,
                11237,
                11243,
                11248,
                11255,
                11306,
                11353,
                11358,
                11359,
                11365,
                11366,
                11370,
                11374,
                11375,
                11386,
                11402,
                11403,
                11416,
                11554,
                11569,
                11570,
                11583,
                11621,
                11642,
                11659,
                11671,
                11690,
                11691,
                11692,
                11696,
                11710,
                11749,
                11804,
                11816,
                11821,
                11823,
                11836,
                11843,
                11852,
                11892,
                11927,
                11952,
                12016,
                12077,
                12090,
                12094,
                12103,
                12105,
                12109,
                12114,
                12160,
                12184,
                12187,
                12189,
                12225,
                12230,
                12289,
                12384,
                12385,
                12393,
                12430,
                12544,
                12546,
                12552,
                12562,
                12568,
                12575,
                12579,
                12621,
                12622,
                12682,
                12772,
                12774,
                12794,
                12814,
                12847,
                12949,
                12971,
                12972,
                12974,
                13004,
                13007,
                13018,
                13024,
                13025,
                13027,
                13029,
                13034,
                13041,
                13042,
                13059,
                13063,
                13168,
                13172,
                13184,
                13187,
                13191,
                13192,
                13193,
                13201,
                13202,
                14326,
                14844,
                14920,
                14957,
                15118,
                15123,
                15128,
                15146,
                15147,
                15215,
                15219,
                15247,
                15260,
                15278,
                15287,
                15350,
                15370,
                15414,
                15442,
                15461,
                15468,
                15475,
                15476,
                15485,
                15488,
                15490,
                15496,
                15502,
                15506,
                15507,
                15508,
                15511,
                15513,
                15514,
                15516,
                15517,
                15519,
                15534,
                15541,
                15543,
                15549,
                15553,
                15563,
                15565,
                15577,
                15585,
                15590,
                15592,
                15610,
                15613,
                15615,
                15627,
                15632,
                15642,
                15646,
                15655,
                15658,
                15664,
                15678,
                15681,
                15687,
                15689,
                15691,
                15693,
                15698,
                15699,
                15708,
                15711,
                15719,
                15728,
                15739,
                15759,
                15764,
                15802,
                15821,
                15861,
                15866,
                15880,
                15894,
                15900,
                15925,
                15944,
                15969,
                15998,
                16011,
                16037,
                16039,
                16067,
                16074,
                16076,
                16077,
                16127,
                16128,
                16129,
                16140,
                16142,
                16143,
                16144,
                16145,
                16155,
                16185,
                16197,
                16203,
                16213,
                16214,
                16281,
                16282,
                16292,
                16295,
                16307,
                16308,
                16317,
                16334,
                16339,
                16346,
                16362,
                16381,
                16390,
                16396,
                16403,
                16421,
                16423,
                16463,
                16477,
                16479,
                16480,
                16483,
                16510,
                16537,
                16542,
                16543,
                16547,
                16552,
                16558,
                16563,
                16569,
                16603,
                16606,
                16626,
                16647,
                16682,
                16687,
                16701,
                16705,
                16728,
                16731,
                16745,
                16766,
                16781,
                16794,
                16807,
                16809,
                16826,
                16841,
                16847,
                16865,
                16869,
                16882,
                16886,
                16893,
                16895,
                16906,
                16913,
                16920,
                16932,
                16938,
                16953,
                16969,
                16973,
                16975,
                17001,
                17044,
                17069,
                17082,
                17098,
                17105,
                17113,
                17126,
                17127,
                17150,
                17154,
                17171,
                17211,
                17215,
                17229,
                17244,
                17247,
                17256,
                17264,
                17267,
                17271,
                17288,
              </p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Help Text:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              This comparison group includes homes -
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Note:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm' formControlName='note' id="note" cols="50"
                rows="4"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Updated Date:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Updated By:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row rowPadding">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"><button type="button" class="btn btn-primary"
                (click)="back()">Back</button></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                <button type="button" class="btn btn-primary" style="float:right;" (click)="delete()"
                  *ngIf="id!==undefined&&id!==null">Delete</button>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-4">
                <button type="button" class="btn btn-primary" style="float:right;" (click)="save()">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>