<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Attribute Edit</span>
        </p>
        <form [formGroup]="attributeForm" class="form-group form-padding">

          <div class="row borderBottom borderTop rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Column Order:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm'
                formControlName="columnOrder" id="columnOrder">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Attribute Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class='form-control form-control-sm' (change)="onAttributeTypeChange($event.target.value, !['S', 'V'].includes(form.attributeType) )"
                formControlName="attributeType" id="attributeType">
                <option *ngFor='let type of attributeTypeData'
                  [value]="type.key">{{type.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding" *ngIf="!['N', 'D'].includes(form.attributeType)">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Definition:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              
              <input type="text" *ngIf="['S', 'V'].includes(form.attributeType); else elseBlk"
                class="form-control form-control-sm" formControlName="definition" id="definition">

              <ng-template #elseBlk>
                  <select class="form-control form-control-sm" (change)="onDefinationChange($event.target.value)"
                  formControlName="definition" id="definition">
                  <option *ngFor='let def of definitionData' [value]="def.definition">{{def.label}}</option>
                </select>
              </ng-template>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm'
                formControlName="label" id="label">
                <div class="error-message" *ngIf="highlightErrorField('label')" >
                  <span>Label is required.</span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding" *ngIf="['V', 'C'].includes(form.attributeType)">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type='checkbox' formControlName="sortAllowed"
                id="sortAllowed">
              Sort Allowed
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding" *ngIf="['S', 'V', 'C'].includes(form.attributeType)">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Value Type</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                formControlName="valueType" id="valueType">
                <option *ngFor='let group of valueTypeList' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding" *ngIf="form.valueType=='N' && ['S', 'V', 'C'].includes(form.attributeType)">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Pattern</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input class="form-control form-control-sm" type="text" formControlName="pattern">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row form-button-margin">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 ">
              <button type="button" class="btn btn-primary" (click)="back()"> Back </button>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 right-buttons">

              <button type="button" class="btn btn-primary" (click)="save()"> Save </button>

              <button type="button" class="btn btn-primary" *ngIf="id" (click)="delete()"> Delete </button>

            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>