<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="heading">System Jobs at {{date|date:'mediumTime'}} on {{date|date}}</p>
        <div class="row">
          <div class="col-sm-12">
            <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false" [data]="dataSource" [isHideAdd]=true
              [totalElement]="systemJobsData.totalElements" (changePageEvent)="search()">
            </app-table>
          </div>
        </div>
        <div class='row rowPadding'>
          <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
            <div>Used memory: {{usedMemory}}</div>
            <div>Free memory: {{freeMemory}}</div>
            <div>Total memory: {{totalMemory}}</div>
            <div>Max memory: {{maxMemory}}</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 row rowPadding">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <button type="button" class='btn btn-primary'>Refresh</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: end;">
              <button type="button" class='btn btn-primary' (click)='showThreadInfo()'>Show Thread Info</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>