<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8">
        <h4 class="text-danger" *ngIf='selectedCustomer==null && users.role!=="USERS" ' >Customer selection is mandatory.</h4>
        <p class="accurate">Gas Charge</p>
        <form [formGroup]='gasForm' class="form-horizontal">
          <div> 
            <ng-container  *ngIf="selectionPrivilege">
              <div class="row rowPadding borderBottom">
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
                <div class="col-sm-
                2 col-md-2 col-lg-2 col-xs-12">
                  <span class="filterLabel">Audit Id:</span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                  <input type="text" class="form-control" matInput 
               formControlName='auditId' [matAutocomplete]="auditId"
                  (keyup)="findCustomerByAuditIdOrCustomerName('auditId')" >
                  <mat-autocomplete #auditId="matAutocomplete" (optionSelected)="selectedSuggestion($event,'auditId')" >
                    <mat-option *ngFor="let data of dataListForSuggestions" value="{{data.auditId}}">
                      {{data.user.name}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                  <span class="filterLabel">Customer Name:</span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                  <input type="text" class="form-control" formControlName='customerName' [matAutocomplete]='customerName'
                  (keyup)="findCustomerByAuditIdOrCustomerName('customerName')">
                  <mat-autocomplete #customerName="matAutocomplete" (optionSelected)="selectedSuggestion($event,'customerName')" >
                    <mat-option *ngFor="let data of dataListForSuggestions" value="{{data.auditId}}">
                      {{data.user.name}}
                    </mat-option>
                  </mat-autocomplete>
  
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
              </div>
            </ng-container>
            <div class="row rowPadding borderBottom">
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                <span class="filterLabel">Year:</span>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                <input type="number" class="form-control" formControlName='year' id='year'>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                <span class="filterLabel">Month:</span>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                <input type="number" class="form-control" formControlName='month' id='month'>
              </div>
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            </div>
          </div>
          <div class="row rowpadding">
            <div class="col-sm-12" style="text-align: right">
              <button type="submit" class="btn btn-primary" style="margin-top: 10px;"
                (click)="search(undefined,true,true)">Show</button>
            </div>
          </div>
        </form>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <p class="Messages">
              <img src="assets/images/dot03.gif" alt="dot" class="dot">&nbsp;Values</p>
            <app-table [keys]="keys" [isPaginate]="true" [disableLastButton]=true 
              [isHideAdd]=true [isSearch]="false" [disableNextButton]="disableNextButton" [pageSize]="pageSize"
              (goToEditEvent)='showPopUp($event)' [data]="dataSource" [pageIndex]="pageIndex"
              [totalElement]="totalElements"
              (changePageEvent)="search($event,false)">
            </app-table>
          </div>
        </div>
        <div class="table-responsive">
        </div>
      </div>
      <div *ngIf="users.role!=='USERS'" class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
      <div *ngIf="users.role==='USERS'" class="col-lg-3 col-md-3 col-sm-4
        rightColumn">
        <app-user-sidebar></app-user-sidebar>
      </div>
    </div>
  </div>
</section>