<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-12 form-padding">
                        <p class="error-message" *ngIf="errorMessage">
                            {{errorMessage?.error?.errorMessage}}
                            <span *ngIf="!errorMessage.error.errorMessage">
                                {{errorMessage?.error}}
                            </span>
                        </p>
                        <p class="Account">Account Settings</p>
                        <form class="form-horizontal">
                            <div class="form-group rowPadding borderBottom">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="Username">Username:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <input type="text" class="form-control"
                                        id="Username" name="username"
                                        [(ngModel)]="userAccountDetails.username">
                                </div>
                                <div class="col-sm-4 col-xs-2">
                                    <img src="assets/images/icon_help.svg"
                                        alt="help"
                                        style="float: right; margin-top:
                                        0%;margin-left: 5px;"
                                        class="media-object" id="help_btn1"
                                        (click)="helpHide=!helpHide">
                                </div>
                                <div class="row" id="helpiconcontainresponsive"
                                    class="help" *ngIf="helpHide">
                                    <div class="col-sm-12 col-xs-12">
                                        <p class="demo1">This is your user name
                                            for this service.
                                            <span class="hidebuttondemo"
                                                (click)="helpHide=!helpHide">hide</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom" >
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="mail">E-mail:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <input type="text" class="form-control"
                                        id="mail" name="email"
                                        [(ngModel)]="userAccountDetails.email">
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="name">Name:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <input type="text" class="form-control"
                                        id="name" name="Name"
                                        [(ngModel)]="userAccountDetails.name">
                                </div>
                            </div>
                            <!-- <div class="form-group" *ngIf="users.role!='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="name">Status:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <select class="form-control form-control-sm"
                                        id="status" name="status"
                                        [(ngModel)]="userAccountDetails.status">
                                        <option value="0">Active (0)</option>
                                        <option value="10">In registration (10)</option>
                                        <option value="90">Blocked (90)</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="form-group rowPadding borderBottom" *ngIf="users.role=='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="phone">Phone number:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <input type="text" class="form-control"
                                        id="phone" name="phone"
                                        [(ngModel)]="users.outhMeResponse.phoneNumber">
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="pwd">New password:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <input type="password" class="form-control" 
                                    [(ngModel)]="password" [pattern]='regex'
                                    name="password">
                                    <span class="error" *ngIf="password && (password.length < minPasswordLength || 
                                    password.length > maxPasswordLength )">
                                        Password Min length {{minPasswordLength}} and Max length {{maxPasswordLength}}     
                                    </span>
                                </div>
                                <div class="col-sm-4 col-xs-2">
                                    <img src="assets/images/icon_help.svg"
                                        alt="help"
                                        style="float:right; margin-top:
                                        0%;margin-left: 5px;"
                                        class="media-object" id="help_btn1"
                                        (click)="helpHide1=!helpHide1">
                                </div>
                                <div class="row" id="helpiconcontainresponsive"
                                    *ngIf="helpHide1">
                                    <div class="col-sm-12 col-xs-12">
                                        <p class="demo1">This is where you can
                                            change your password for this
                                            service.
                                            <span class="hidebuttondemo"
                                                (click)="helpHide1=!helpHide1">hide</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="newPwd">New password (repeat):</label>
                                <div class="col-sm-6 col-xs-7">
                                    <input type="password" class="form-control" 
                                    [(ngModel)]="confirmPassword" 
                                    (ngModelChange)="isconfirmPasswordValid($event)"  name="confirmPassword">
                                    <div>
                                        <span *ngIf="(confirmPassword != password ) || confirmPasswordMissMatch" class="error">
                                            Password and repeat password must match
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom" *ngIf="users.role!='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="phone">Customer View:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <select class="form-control form-control-sm"
                                        id="customerViewConfigurationId"
                                        name="customerViewConfiguration"
                                        [(ngModel)]="userAccountDetails.customerViewConfigurationId">
                                        <option value="null">Standard</option>
                                        <option *ngFor="let viewConfiguration of
                                            viewConfigurationList"
                                            [value]="viewConfiguration.viewConfigurationId">
                                            {{viewConfiguration.configurationName}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group rowPadding borderBottom" *ngIf="users.role!='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="rUI">Customer rUI opening behavior:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <select class="form-control form-control-sm"
                                    id="uiVersionBehavior"
                                    name="uiVersion"
                                    [(ngModel)]="userAccountDetails.uiVersionBehavior">
                                        <option *ngFor="let uiBehaviour of uiBehaviourVersionList"
                                        [value]="uiBehaviour[1]">{{uiBehaviour[0]}}</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom"
                                *ngIf="users.outhMeResponse.calWaterAccount!=null&&users.outhMeResponse.calWaterAccount!=undefined
                                && users.role=='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="pwd">CalWater account:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <p class="accountcss">{{users.outhMeResponse.calWaterAccount}}<a
                                            class="a_edit" (click)="edit(3)">Edit</a></p>
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom"
                                *ngIf="users.outhMeResponse.purismaAccount!=null&&users.outhMeResponse.purismaAccount!=undefined&&
                                users.role=='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="pwd">Purissima account:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <p class="accountcss">{{users.outhMeResponse.purismaAccount}}<a
                                            class="a_edit" (click)="edit(3)">Edit</a></p>
                                </div>
                            </div>
                            <div class="form-group rowPadding borderBottom" *ngIf="users.role=='USERS'">
                                <label class="control-label col-sm-2 col-xs-3"
                                    for="address">Address:</label>
                                <div class="col-sm-6 col-xs-7">
                                    <p class="accountcss">{{users.outhMeResponse.street1}}
                                    </p>
                                    <p class="accountcss">
                                        {{users.outhMeResponse.city}},{{users.outhMeResponse.state}},
                                        {{users.outhMeResponse.postalCode}}
                                    </p>
                                </div>
                                <div class="col-sm-4 col-xs-2">
                                    <img src="assets/images/icon_help.svg"
                                        alt="help"
                                        style="float:right; margin-top:
                                        0%;margin-left: 5px;"
                                        class="media-object" id="help_btn1"
                                        (click)="helpHide2=!helpHide2">
                                </div>
                                <div class="row" id="helpiconcontainresponsive"
                                    *ngIf="helpHide2">
                                    <div class="col-sm-12 col-xs-12">
                                        <p class="demo1">Please contact your
                                            utility to change this address
                                            information.
                                            <span class="hidebuttondemo"
                                                (click)="helpHide2=!helpHide2">hide</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngIf="users.role=='USERS'">
                    <div
                        class="col-sm-12 table-responsive">
                        <table class="table" summary="details">
                            <tr>
                                <th><h3 class="Account">Home Profile</h3></th>
                                <th
                                    >
                                    <h3 class="Account">Data
                                        from Zillow</h3></th>
                                <th
                                    >
                                    <h3 class="Account">User
                                        entered data</h3></th>
                                <th
                                    *ngIf="users?.outhMeResponse?.customerGroup?.groupCode!='TST'">
                                </th>
                            </tr>
                            <tr>
                                <td><p>Sqft</p></td>
                                <td
                                    >
                                    <p
                                        *ngIf="users.outhMeResponse.zillowConstructionSQFT!=null&&users.outhMeResponse.zillowConstructionSQFT!=undefined">{{users.outhMeResponse.zillowConstructionSQFT}}</p>
                                    <p
                                        *ngIf="users.outhMeResponse.zillowConstructionSQFT==null||users.outhMeResponse.zillowConstructionSQFT==undefined">-</p>
                                </td>
                                <td>
                                    <p>{{users.outhMeResponse.constructionSQFT}}
                                        <a
                                            *ngIf="users.outhMeResponse.constructionSQFT!=null&&users.outhMeResponse.constructionSQFT!=undefined"
                                            class="a_edit" (click)="edit(1)">Edit</a>
                                    </p>

                                </td>

                            </tr>
                            <tr>
                                <td><p>Lot size (sqft)</p></td>
                                <td
                                    >
                                    <p
                                        *ngIf="users.outhMeResponse.zillowLotSize!=null&&users.outhMeResponse.zillowLotSize!=undefined">{{users.outhMeResponse.zillowLotSize}}</p>
                                    <p
                                        *ngIf="users.outhMeResponse.zillowLotSize==null||users.outhMeResponse.zillowLotSize==undefined">-</p>
                                </td>
                                <td>
                                    <p>{{users.outhMeResponse.lotSize}}
                                        <!-- <a
                                            *ngIf="users.outhMeResponse.zillowLotSize!=null&&users.outhMeResponse.zillowLotSize>0"
                                            class="a_edit" (click)="edit(2)">Edit</a> -->
                                    </p>
                                </td>


                            </tr>

                            <tr>
                                <td><p>Year built</p></td>
                                <td
                                    >
                                    <p
                                        *ngIf="users.outhMeResponse.zillowYearBuilt!=null&&users.outhMeResponse.zillowYearBuilt!=undefined">{{users.outhMeResponse.zillowYearBuilt}}</p>
                                    <p
                                        *ngIf="users.outhMeResponse.zillowYearBuilt==null||users.outhMeResponse.zillowYearBuilt==undefined">-</p>
                                </td>
                                <td> <p>{{users.outhMeResponse.yearBuilt}}<a
                                            *ngIf="users.outhMeResponse.constructionSQFT!=null&&users.outhMeResponse.constructionSQFT!=undefined"
                                            class="a_edit" (click)="edit(3)">Edit</a>
                                    </p>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="users.role=='USERS'">
                    <div class="col-sm-12 col-xs-12">
                        <p class="utility">
                            <img alt="help" class="dot"
                                src="assets/images/dot03.gif">
                            &nbsp;Utility
                            Credentials
                        </p>
                        <div class="table-responsive">
                            <table class="table" summary="utility">
                                <thead>
                                    <tr style="background: #000; color:
                                        #fff;">
                                        <th id="credential_type">Credential Type</th>
                                        <th id="credential_active">Active</th>
                                        <th id="credential_login">Login</th>
                                        <th id="credential_usage">Last Usage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let credentialsList of
                                        customerCredentialsList">
                                        <td>{{credentialsList.credentialTypeCode}}</td>
                                        <td><span
                                                *ngIf="credentialsList.active">
                                                <img class="dot"
                                                    src="assets/images/icon_check_orange.png"
                                                    alt="dot">
                                            </span>
                                        </td>
                                        <td>{{credentialsList.login}}</td>
                                        <td>{{credentialsList.lastSuccessfulUsageDate|
                                            date : "MM/dd/yyyy
                                            HH:mm:ss" : 'PST'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-xs-7">
                        <p class="utility">Connect your account with:</p>
                    </div>
                    <!-- <div class="col-sm-1 col-xs-1">
                        <img src="assets/images/facebook.png" alt="facebook">
                    </div> -->
                    <div class="col-sm-4 col-xs-5 button-responsive">
                        <img src="assets/images/facebook.png" alt="facebook">
                        <img src="assets/images/google2.jpg" alt="google">
                    </div>
                </div>

                <div class="row" style="margin-top: 40px">
                    <div class="col-sm-12">
  
                        <!-- Email Settings -->
                        <div id="email-settings" *ngIf="emailDataSource && emailDataSource.length != 0">
                          <div class="row marginTop">
                            <div class="col-sm-12">
                              <p class="Messages">
                                <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Email
                                  Settings</strong>
                              </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <app-table [keys]="emailKeys" [data]="emailDataSource" [isDelete]=false [isHideAdd]=true
                                [totalElement]="emailDataSource.length" (checkBoxChangeEvent)="emailSettingsCheckBoxEvent($event)" >
                              </app-table>
                            </div>
                          </div>
                        </div>
                
                        <!-- Opt Out -->
                        <ng-container *ngIf="optOutData.content && optOutData.content.length != 0">
                        <div class="row marginTop">
                          <div class="col-sm-12">
                            <p class="Messages">
                              <img src="assets/images/dot03.gif" alt="dot" class="dot pointer"><strong>Current
                                Opt-outs</strong>
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <app-table [keys]="optOutKeys" [data]="optOutData.content" [isDelete]=true [isHideAdd]=true
                              [totalElement]="optOutData.totalElements" (deleteEvent)="deleteOptOut($event)">
                            </app-table>
                          </div>
                        </div>
                      </ng-container>
              
                    </div>
                </div>
                <div class="row row-top-margin">
                    <div class="col-sm-6 col-xs-3">
                        <button class="btn btn-primary" type="button"
                            (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-sm-6 col-xs-9"
                        style="text-align:right;">
                        <button class="btn btn-primary" type="button"
                            (click)="save()">Save</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 rightColumn" *ngIf="users.role=='USERS'">
                <p class="Energy_anaiytic">
                    <img src="assets/images/dot03.gif" alt="dot" class="dot">&nbsp;Powered
                    by Home Energy Analytics, Inc.</p>
                <p class="feedback">Send feedback to</p>
                <p class="link_hea">
                    <a href="mailto:info@hea.com" class="info_hea">info@hea.com</a>
                </p>
                <hr>
                <ul class="leaks">
                    <li>
                        <a class="a_history"
                            [routerLink]="['/topicshistory']">Topics
                            history</a>
                    </li>
                    <li>
                        <a class="a_history"
                            [routerLink]="['/customerEventList']">Events
                            history</a>
                    </li>
                    <li>
                        <a class="a_history"
                            [routerLink]="['/MailArchiveList']">Mail
                            archive</a>
                    </li>
                    <li>
                        <a class="a_history"
                            [routerLink]="['/surveyRecommendationList']">Recommendations</a>
                    </li>
                    <li>
                        <div class="dropdown" style="margin-left:
                            20px;">
                            <a class="dropdown-toggle" id="menu1"
                                data-toggle="dropdown">Usage history
                            </a>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="menu1">
                                <li role="presentation"
                                    style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1"
                                        [routerLink]="['/gas/gasList']">Gas</a>
                                </li>
                                <li role="presentation"
                                    style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1"
                                        [routerLink]="['/gas/gasChargeList']">Gas
                                        charge</a>
                                </li>
                                <li role="presentation"
                                    style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1"
                                        [routerLink]="['/electricityUsageList']">Electricity</a>
                                </li>
                                <li role="presentation"
                                    style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1"
                                        [routerLink]="['/electricity/electricityChargeList']">Electricity
                                        charge</a>
                                </li>
                                <li role="presentation"
                                    style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1"
                                        [routerLink]="['/electricity/electricitySmartMeterList']">Electric
                                        smart meter</a>
                                </li>
                                <li role="presentation"
                                    style="padding-bottom: 5px;">
                                    <a role="menuitem" tabindex="-1"
                                        [routerLink]="['/gas/gasSmartMeterList']">Gas
                                        smart meter</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 rightColumn" *ngIf="users.role!='USERS'">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<br/><br/>
        <style>
    .Account {
        font-size: 21px;
        color: #000;
        font-weight: 600;
    }

    div#helpiconcontainresponsive {
        margin-top: 49px;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }

    .a_history {
        color: #4550a1;
        font-weight: 600;
        cursor: pointer;
        margin-left: 20px;
    }

    .a_edit {
        color: #76ba19;
        font-weight: 600;
        cursor: pointer;
        float: right;
    }

    img#help_btn1 {
        width: 33px;
        cursor: pointer;
    }

    p.demo1 {
        background-color: #f9f9f9;
        font-weight: 500;
        padding: 15px 15px 15px 15px;
        line-height: 1.4;
        text-align: justify;
        color: #000;
        font-size: 16px;
        margin-top: 12px;
    }

    span.hidebuttondemo {
        color: #75ba18;
        display: block;
        text-align: right;
        font-weight: 500;
        margin-top: 3px;
        cursor: pointer;
        font-size: 16px;
    }

    .accountcss {
        margin-top: 8px;
    }

    p.utility {
        color: #000;
        font-weight: 600;
        font-size: 15px;
    }

    .btn-primary {
        color: #fff;
        background-color: #76ba19;
        border-color: #76ba19;
        padding: 6px 25px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }

    @media only screen and (min-width: 320px) and (max-width: 767px) {
        div#helpiconcontainresponsive {
            margin-top: 42px;
            display: block!important;
            margin-left: 0px;
            margin-right: 0px;
        }
        img#help_btn1 {
            width: 33px;
            cursor: pointer;
            margin-top: 11px;
        }
        .rightColumn {
            min-height: 100%!important;
            position: unset !important;
        }
    }

    .rightColumn {
        background-color: #fbfbfb;
        padding: 0;
        min-height: calc(100vh - 70px);
        height: 100%;
        position: absolute;
        right: 0;
    }
    .row-top-margin{
        margin-top: 15px;
    }
    @media only screen and (min-width: 200px) and (max-width: 485px) {
    .button-responsive{
        display: inline-table;
    }
}
</style>