<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <p class="accurate">Events history</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-sm-4" for="email">
                                    <span class="start">Period start:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <p-calendar [(ngModel)]="startDate" id="start" name="start" [showIcon]="true"
                                        dateFormat="mm/dd/yy"></p-calendar>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-sm-4" for="pwd">
                                    <span class="start">Period end:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <p-calendar [(ngModel)]="endDate" name="end" id="end" [showIcon]="true"
                                        dateFormat="mm/dd/yy"></p-calendar>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-sm-4" for="code">
                                    <span class="start">Event code:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control" id="code" [(ngModel)]="filter.eventCode"
                                        name="eventcode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-sm-4" for="name">
                                    <span class="start">Event name:</span>
                                </label>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control" id="name" [(ngModel)]="filter.eventName"
                                        name="eventname">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-lg-5 col-sm-5">
                                    <span class="start">Upload file with events:</span>
                                </div>
                                <div class="col-lg-5 col-sm-5" style="margin-top:8px;">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div class="col-lg-2 col-sm-2" style="margin-top:8px;">
                                    <input type="submit" id="uploadFile" class="button-right" value="upload">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align:right;">
                        <button type="submit" class="btn btn-primary" (click)="searchFilter()">Show</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="Messages">
                            <img src="assets/images/dot03.gif" alt="dot" class="dot">&nbsp;Events history list (Number of Records
                            =
                            {{usesEventList.length}})
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered table-sm"
                                data-source="data-source" [mfData]="usesEventList" #mf="mfDataTable"
                                [mfRowsOnPage]="10" summary="eventList">
                                <thead>
                                    <tr>
                                        <th class="th-sm no-sort" id="event_dot">
                                            <img src="assets/images/whitebox.png" alt="dot" class="colorbox">
                                        </th>
                                        <th class="th-sm" id="event_code">
                                            <mfDefaultSorter by="customerEventType.eventCode}">Event code
                                            </mfDefaultSorter>
                                        </th>
                                        <th class="th-sm" id="event_name">
                                            <mfDefaultSorter by="customerEventType.eventName">Event name
                                            </mfDefaultSorter>
                                        </th>
                                        <th class="th-sm" id="event_date">
                                            <mfDefaultSorter by="eventDatetime">Date</mfDefaultSorter>
                                        </th>
                                        <th class="th-sm" id="event_person_name">
                                            <mfDefaultSorter by="linkedPersonName">Author</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usageList of usesEventList;">
                                        <td> <img src="assets/images/whitebox.png" class="colorbox" alt="dot"></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{usageList.customerEventType.eventCode}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{usageList.customerEventType.eventName}}</a>
                                        </td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline"><span
                                                    style="display:none;">{{usageList.eventDatetime}}</span>{{usageList.eventDatetime | date : "MMM d, y"}}
                                            </a></td>
                                        <td> <a (click)="customerEventView(usageList)"
                                                style="cursor:pointer;color:#000;text-decoration:underline">{{usageList.linkedPersonName}}
                                            </a></td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                        <div class="row" style="margin-bottom: 5%;">
                            <div class="col-sm-6 col-xs-3">
                            </div>
                            <div class="col-sm-6 col-xs-9" style="text-align:right;">
                                <button class="btn btn-primary" type="button" (click)="addEvent()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 rightColumn">
                <div class="feedback">
                    <p class="Energy_anaiytic">
                        <img src="assets/images/dot03.gif" alt="dot" class="dot">&nbsp;Powered by Home Energy Analytics, Inc.</p>
                    <p class="feedback">Send feedback to</p>
                    <p class="link_hea">
                        <a href="mailto:info@hea.com" class="info_hea">info@hea.com</a>
                    </p>
                    <hr>
                    <ul class="leaks">
                        <li>
                            <a class="a_history" [routerLink]="['/topicshistory']">Topics history</a>
                        </li>
                        <li>
                            <a class="a_history" [routerLink]="['/customerEventList']">Events history</a>
                        </li>
                        <li>
                            <a class="a_history" [routerLink]="['/MailArchiveList']">Mail archive</a>
                        </li>
                        <li>
                            <a class="a_history" [routerLink]="['/surveyRecommendationList']">Recommendations</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="menu1" data-toggle="dropdown">Usage history
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1" [routerLink]="['/gas/gasList']">Gas</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1" [routerLink]="['/gas/gasChargeList']">Gas
                                            charge</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricity/electricityUsageList']">Electricity</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricity/electricityChargeList']">Electricity charge</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricity/electricitySmartMeterList']">Electric smart meter</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricity/electricityDailySmartMeterList']">Electric Daily smart
                                            meter</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricity/electricityDailySmartMeterList']">Electric Daily smart
                                            meter</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1" [routerLink]="['/gas/gasSmartMeterList']">Gas smart
                                            meter</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
    $(document).ready(function () {
        $('#dtOrderExample').DataTable({
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

</script>