<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="messages_responsive"
                *ngIf="users.customerMailList!=null&&users.customerMailList!=undefined&&hideMsgs">
                <p class="messages">You have {{users.customerMailList.length}}
                    unread messages.
                    <a class="view" [routerLink]="['/MailArchiveList']">View</a>
                    <span class="icon_wrong" (click)="hideMsg()">
                        <em class="fa fa-close shift"></em>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 responsive-header">
                <div class="back color">
                    <!-- leak view -->
                    <div class="back-color-silver">
                        <br>
                        <p class="views_leaks"
                            *ngIf="leakList!=null&&leakList!=undefined&&leakList.length>0">
                            <span class="leaks">
                                <a class="anchorTag" (click)="leakView(1)">View
                                    {{users.leakList.length}} leaks</a>
                            </span> wasting
                            <span class="dollar">${{ leakPriceValueSum | number
                                : '1.2-2' }}</span> per year
                        </p>
                        <div class="row number">
                            <div class="containercss">
                                <ng-container *ngFor="let leaks of
                                    leakList;index as i">
                                    <p>
                                        <button type="button" class="btn
                                            btn-primary button leaksdiscovery"
                                            (click)="leakView(leaks.recommendationId)">
                                            <img
                                                src="assets/images/{{leaks.recommendation.takebackIcon}}"
                                                alt="dot" class="leak_img">
                                        </button>
                                        <span class="leak_count">{{leaks.repeat}}</span>
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- show recommndation -->
                    <div class="show_recommd"
                        *ngIf="recommendationList!=null&&recommendationList!=undefined&&recommendationList.length>0">
                        <p class="recommendations">
                            <span class="leaks">
                                <a class="anchorTag"
                                    [routerLink]="['/surveyRecommendationList']">View
                                    {{recommendationLength}}
                                    recommendations</a>
                            </span>
                        </p>
                        <ng-container *ngFor="let item of recommendationList |
                            sortgrid:'-priceValue';index as i">
                            <div class="row responsiveRecomendation" *ngIf="i<3">
                                <div class="col-sm-4 col-xs-3 col-md-2 status-img"
                                   style="text-align: right; padding-right:0px">
                                    <span *ngIf="item.status=='N'">
                                        <img
                                            src="assets/images/status-unchecked.png"
                                            alt="status"
                                            class="status-unchecked">
                                    </span>
                                    <span *ngIf="item.status=='L'">
                                        <img src="assets/images/lightcheck.png"
                                            alt="status"
                                            class="status-unchecked">
                                    </span>
                                    <span *ngIf="item.status=='Y'">
                                        <img src="assets/images/colorbox.png"
                                            alt="status"
                                            class="status-unchecked">
                                    </span>
                                    <span *ngIf="item.status=='D'">
                                        <img src="assets/images/status-notapplicable.png"
                                            alt="status"
                                            class="status-unchecked">
                                    </span>
                                </div>
                                <div class="col-sm-8 col-xs-9 col-md-10 sch">
                                    <a class="Schedule"
                                        (click)="surveyRecommendationList(item.recommendationId)">{{item.recommendation.takebackLabel}}</a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <!-- next topic -->
                    <hr class="nextTopicHr">
                    <div class="nextTopic">
                        <div style="text-align: right;">
                            <a [routerLink]="['/topicshistory']" style="color: #75ba18"> all topics</a>
                        </div>
                        <br>
                        <p class="resume_topic">Resume Next Topic
                            <img alt="icon" src="assets/images/icon_help.svg"
                                style="width:30px;" (click)="helpHide=!helpHide">
                        </p>  
                          <div class="row" *ngIf="helpHide" style="box-sizing: border-box; padding: 17px;">
                          <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 demo1 helpText-align">
                            <p class="">
                                The different parts of our analysis are called "topics".  <br> 
                                Some are educational, helping you better understand your home, while other topics help you look for "leaks" in different categories.  <br> 
                                You'll need to finish the educational portion first and then you can choose which detailed topics to explore next.  <br> 
                                Note that you can always logout and come back later. <br>  
                                You can also flip through the pages quickly and then return to focus on the details by clicking on the "all topics" link.
                            </p>
                            <span class="hidebuttondemo"
                            (click)="helpHide=!helpHide">hide</span>
                          </div>
                        </div>
                        
                        <h4 class="title_topic">
                            <a class="anchorTag"
                                (click)="surveyView(surveyCode,surveyId)">{{nextTopic}}</a>
                            <p *ngIf="nextTopic==undefined">no new topic at this
                                time</p>
                        </h4>
                        <p class="Description" *ngIf="topicDescription !=
                            undefined">{{topicDescription}}</p>
                        <br>
                    </div>
                    <hr class="nextTopicHr">
                    <div class="Reports_responsive"
                        *ngIf="myReportsList!=null&&myReportsList!=undefined">
                        <p class="Reports">My Reports</p>
                        <div class="row showInfo infoMargin"
                            *ngIf="users.role==='ADMIN'">
                            <div class="col-sm-4">Audit Id:</div>
                            <div class="col-sm-8">
                                    <input type="text" class="form-control" matInput 
                                    [matAutocomplete]="auditIdAutoComplete"
                                    [ngModel]="customer.auditId" (input)="findCustomerByAuditIdOrCustomerName('auditId',$event.target.value)" >
                                     <mat-autocomplete #auditIdAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                                       <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                                         {{data.user.name}}
                                       </mat-option>
                                     </mat-autocomplete>
                            </div>
                        </div>
                        <div class="row showInfo" *ngIf="users.role==='ADMIN'">
                            <div class="col-sm-4">Customer</div>
                            <div class="col-sm-8">
                                    <input type="text" matInput class='form-control form-control-sm'
                                    (input)="findCustomerByAuditIdOrCustomerName('customerName',$event.target.value)" [ngModel]="customer.user.name"
                                    [matAutocomplete]="customerNameAutoComplete">
                                      <mat-autocomplete #customerNameAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                                        <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                                          {{data.user.name}}
                                        </mat-option>
                                      </mat-autocomplete>
                            </div>
                        </div>
                        <ul class="demo">
                            <li class="Reports_title" *ngFor="let reportList of
                                myReportsList">
                                <a class="anchorTagTitle" target="_blank"
                                    href="{{reportList.reportLink}}">{{reportList.reportLabel}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 responsive-header">
                <!-- show message -->
                <div class="messages_top"
                    *ngIf="users.customerMailList!=null&&users.customerMailList!=undefined&&hideMsgs">
                    <p class="messages">You have
                        {{users.customerMailList.length}} unread messages.
                        <a class="view" [routerLink]="['/MailArchiveList']">View</a>
                        <span class="icon_wrong" (click)="hideMsg()"
                            style="cursor:pointer;">
                            <em class="fa fa-close shift"></em>
                        </span>
                    </p>
                </div>
                <!-- show recommndation -->
                <div class="show_recommdations"
                    *ngIf="recommendationList!=null&&recommendationList!=undefined&&recommendationList.length>0">
                    <p class="recommendations">
                        <span class="leaks">
                            <a class="anchorTag"
                                [routerLink]="['/surveyRecommendationList']">View
                                {{recommendationLength}}
                                recommendations</a>
                        </span>
                    </p>
                    <ng-container *ngFor="let item of recommendationList |
                        sortgrid:'-priceValue';index as i">
                        <p *ngIf="i<3">
                            <span hidden>{{ calculateFunction() }}</span>
                            <span *ngIf="item.status=='N'">
                                <img src="assets/images/status-unchecked.png"
                                    alt="status"
                                    class="status-unchecked">
                            </span>
                            <span *ngIf="item.status=='L'">
                                <img src="assets/images/lightcheck.png"
                                    alt="status"
                                    class="status-unchecked">
                            </span>
                            <span *ngIf="item.status=='Y'">
                                <img src="assets/images/colorbox.png"
                                    alt="status"
                                    class="status-unchecked">
                            </span>
                            <span *ngIf="item.status=='D'">
                                <img src="assets/images/status-notapplicable.png"
                                    alt="status"
                                    class="status-unchecked">
                            </span>
                            &nbsp;
                            <span class="recommendations_color">
                                <a class="anchorTagTitle"
                                    (click)="surveyRecommendationList(item.recommendationId)">{{item.recommendation.takebackLabel}}</a>
                            </span>
                        </p>
                    </ng-container>
                </div>
                <hr class="hr_space">
                <p class="trend">
                    <a class="anchorTag" [routerLink]="['/trendingPartsView']">View
                        trend details</a>
                </p>
                <!-- trend chart -->
                <div class="row view_trend" *ngIf="trendingParts.length>0">
                    <div class="col-sm-12">
                        <!-- <ng-container *ngFor="let chartData of
                            trendingParts[0].trendingCharts"> -->
                            <div [id]="'trendingChart' + chartData.id"  *ngFor="let chartData of
                            trendingParts[0].trendingCharts" [innerHTML]="chartData.chart.freeChartDiv |
                                safeHtml" class="dashboard_trend_chart">
                            </div>
                        <!-- </ng-container> -->

                    </div>
                </div>
                <hr class="hr_space">

                <div class="row">
                    <div class="col-sm-8">
                        <p class="trendProfile">
                            <a class="anchorTag"
                                [routerLink]="['/trendingProfileView']">View
                                profile details</a>
                            <img src="assets/images/icon_help.svg" alt="help"
                                class="question" (click)="questionHelp()">
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="question_icon">
                            <img src="assets/images/icon_help.svg" alt="help"
                                class="question_mark" style="cursor:pointer"
                                (click)="questionHelp()">
                        </p>
                    </div>
                </div>
                <!-- help text and area chart -->
                <div class="row">
                    <div class="col-sm-12" *ngIf="trendingHomeChart!=undefined">
                        <div [innerHTML]="trendingHomeChart.chart.freeChartDiv |
                            safeHtml" class="chartDiv" id="resizable2"></div>
                    </div>
                </div>

                <!-- topic name -->
                <div class="row back_color">
                    <div class="col-sm-12 Reportstitle_responsive">
                        <p class="Reports">My Reports</p>
                        <div class="row" *ngIf="users.role==='ADMIN'">
                            <div class="col-sm-4">Audit Id:</div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" matInput 
                                [matAutocomplete]="auditIdAutoComplete"
                                [ngModel]="customer.auditId" (input)="findCustomerByAuditIdOrCustomerName('auditId',$event.target.value)" >
                                 <mat-autocomplete #auditIdAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                                   <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                                     {{data.user.name}}
                                   </mat-option>
                                 </mat-autocomplete>
                        </div>
                        </div>
                        <div class="row" *ngIf="users.role==='ADMIN'">
                            <div class="col-sm-4">Customer</div>
                            <div class="col-sm-8">
                                <input type="text" matInput class='form-control form-control-sm'
                                (input)="findCustomerByAuditIdOrCustomerName('customerName',$event.target.value)" [ngModel]="customer.user.name"
                                [matAutocomplete]="customerNameAutoComplete">
                                  <mat-autocomplete #customerNameAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                                    <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                                      {{data.user.name}}
                                    </mat-option>
                                  </mat-autocomplete>
                            </div>
                        </div>
                        <ul class="demo"
                            *ngIf="myReportsList!=null&&myReportsList!=undefined">
                            <li class="Reports_title" *ngFor="let reportList of
                                myReportsList">
                                <a class="anchorTagTitle" target="_blank"
                                    href="{{reportList.reportLink}}">{{reportList.reportLabel}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tooltipsnorms2"></div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="dashboard_info" id="dashboard_info">
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3 row">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">Return to next survey topic or change
                    account
                    setting or logout</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">Leaks are areas where you may have waste</p>
            </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
            <p class="welcome-message">Hello! Welcome to your</p>
            <p class="welcome-message">Smart Audit home page!</p>
            <button type="button" style="background: no-repeat; border: 1px solid #ffffff;" class="btn
            btn-primary button" (click)="continue()">Continue
        </button>
        </div>
        <div class="col-sm-3 row">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">List of message we've send to you</p>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="margin-top: 45px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 row">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">Each topic you complete helps us refine
                    our Recommendations</p>
            </div>
        </div>
        <div class="col-sm-3 row">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">Simple steps to reduce waste, customize to
                    your home</p>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 row">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">Reports specific to your account and your
                    home; try each one</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">Highlights of your key trends</p>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3 row">
            <div class="col-sm-3">
                <img src="assets/images/arrow-up.svg" alt="dot"
                    class="arrow-up">
            </div>
            <div class="col-sm-9">
                <p class="arrow-text">High level overview of your most recent 12
                    months</p>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div> -->