<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <p class="accurate">Mail archive</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <p class="control-label col-lg-3 col-sm-4" for="start">
                                    Period start:
                                </p>
                                <div class="col-lg-5 col-sm-6">
                                    <!-- <input type="text" class="form-control" id="start" name="startdate"> -->
                                    <p-calendar [(ngModel)]="filter.startDate" name="start" [showIcon]="true"
                                        dateFormat="mm/dd/yy"></p-calendar>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="control-label col-lg-3 col-sm-4" for="end">
                                    Period end:
                                </p>
                                <div class="col-lg-5 col-sm-6">
                                    <p-calendar [(ngModel)]="filter.endDate" name="end" [showIcon]="true"
                                        dateFormat="mm/dd/yy"></p-calendar>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <p class="control-label col-lg-3 col-sm-4" for="sub">
                                    Subject:
                                </p>
                                <div class="col-lg-5 col-sm-6">
                                    <input type="text" class="form-control" id="sub" [(ngModel)]="filter.subject"
                                        name="subject">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align:right;">
                        <button type="button" class="btn btn-primary" (click)="showSearchList()">Show</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="Messages">
                            Messages</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-sm" data-source="data-source"
                        [mfData]="customerMailList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th class="th-sm no sort">
                                    <img src="assets/images/whitebox.png" class="colorbox">
                                </th>
                                <th class="th-sm">
                                    <mfDefaultSorter by="subject">Subject</mfDefaultSorter>
                                </th>
                                <th class="th-sm">
                                    <mfDefaultSorter by="dateSent">Date sent</mfDefaultSorter>
                                </th>
                                <th class="th-sm">
                                    <mfDefaultSorter by="sentTo">Sent to</mfDefaultSorter>
                                </th>
                                <th class="th-sm">Bounced</th>
                                <th class="th-sm">Opened</th>
                                <th class="th-sm">Permanent link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  | searchfilter :'subject' : subject -->
                            <tr *ngFor="let mailList of customerMailList; index as i">
                                <td>
                                    <img src="assets/images/whitebox.png" class="colorbox">
                                </td>
                                <td>
                                    <a (click)="mailView(i)" style="cursor: pointer">{{mailList.subject}}</a>
                                </td>
                                <td>{{ mailList.dateSent | date : "MM/dd/y" }}</td>
                                <td>{{mailList.sentTo}}</td>
                                <td></td>
                                <td>*</td>
                                <td>
                                    <a (click)="mailView(i)" style="cursor: pointer">Permanent link</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 rightColumn">
                <div class="feedback">
                    <p class="Energy_anaiytic">
                        Powered by Home Energy Analytics, Inc.</p>
                    <p class="feedback">Send feedback to</p>
                    <p class="link_hea">
                        <a href = "mailto:info@hea.com" class="info_hea">info@hea.com</a>
                    </p>
                    <hr>
                    <ul class="leaks">
                        <li>
                            <a class="a_history" [routerLink]="['/topicshistory']">Topics history</a>
                        </li>
                        <li>
                            <a class="a_history" [routerLink]="['/customerEventList']">Events history</a>
                        </li>
                        <li>
                            <a class="a_history" [routerLink]="['/MailArchiveList']">Mail archive</a>
                        </li>
                        <li>
                            <a class="a_history" [routerLink]="['/surveyRecommendationList']">Recommendations</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="menu1" data-toggle="dropdown">Usage history
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1" [routerLink]="['/gasList']">Gas</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1" [routerLink]="['/gasChargeList']">Gas
                                            charge</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricityList']">Electricity</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricityChargeList']">Electricity charge</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricitySmartMeterList']">Electric smart meter</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1"
                                            [routerLink]="['/electricDailySmartMeterList']">Electric Daily smart
                                            meter</a>
                                    </li>
                                    <li role="presentation" style="padding-bottom: 5px;">
                                        <a role="menuitem" tabindex="-1" [routerLink]="['/gasSmartMeter']">Gas smart
                                            meter</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

</script>