<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 small-device-margin">
                <p class="accurate">
                    <img src="assets/images/dot03.gif" class="dot" alt="dot" />&nbsp;  Mail</p>
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <hr>
                            <div class="form-group">
                                <div class="col-lg-1 col-sm-1"></div>
                                <label class="control-label col-lg-2 col-sm-3">
                                    <span class="start">Subject:</span>
                                </label>
                                <div class="col-lg-8 col-sm-6 col-xs-12">
                                    <p class="subject_text">{{subject}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-lg-1 col-sm-1"></div>
                                <label class="control-label col-lg-2 col-sm-3">
                                    <span class="start">Date sent:</span>
                                </label>
                                <div class="col-lg-8 col-sm-6 col-xs-12">
                                    <p class="subject_text">{{sendDate | date : "MM/dd/y" : 'PST'}}</p>
                                </div>
                            </div>
                            <hr>
                         
                            <div class="form-group">
                                <div class="col-lg-1 col-sm-1"></div>
                                <label class="control-label col-lg-2 col-sm-3">
                                    <span class="start">To address:</span>
                                </label>
                                <div class="col-lg-8 col-sm-6 col-xs-12">
                                    <p class="subject_text">{{address}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="back">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="email-overflow" style="overflow-x: auto;">
                                        <!-- <div [innerHTML]="users.mailContent | safeHtml" style="word-break: break-word;"></div> -->
                                        <iframe id="ifrmMailContent" title="Mail Preview"
                                        class="form-control" style="width: 100%; overflow:hidden; word-break: break-word; min-height: 650px;"
                                        [style.height]='iframeHeight'>
                                      </iframe>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                        <p class="list" style="margin-top:8px">In bounced list: {{isBounced}}</p>
                        <hr class="bounced">
                        <p class="list">Opened: {{wasOpened}}</p>
                        <hr class="bounced">
                        <br>
                        <button type="button" class="btn btn-primary" (click)="back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" *ngIf="users.role!=='ADMIN'">
                <app-user-sidebar></app-user-sidebar>
            </div>
            <div class="col-sm-3 col-md-3 col-sm-12" *ngIf="users.role==='ADMIN'">
                <div class="adminFeedback">
                <app-sidebar></app-sidebar>
            </div>
            </div>
        </div>
    </div>
</section>