<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="backcolor">
                    <ul class="savingmenu">
                        <li>
                            <a>
                                <span class="menu1">
                                    <span class="home" (click)="home()">Home</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="Trends">My Trends</span>
                            </a>
                        </li>
                        <li>
                            <a *ngIf="users.role != 'USERS'" (click)="copyTextToClipBoard(trendingParts.directLink)" 
                                class="tooltip-container cursor-pointer tooltip-cp d-flex">  
                                <img alt="icon" src="assets/images/copy-icon.png" style="height: 15px;margin-top: 10px;margin-left: 6px;">
                                <span class="tooltiptext-cp" >Copy to clipboard the topic link</span>                               
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row responsive">
                    <div class="col-sm-8">
                        <p class="error-message" *ngIf="errorMessage">
                            {{errorMessage}}
                        </p>
                        <ul class="saving" style="font-size: 15px;">
                            <li>
                                <span class="Trendswithoutline">Trends for</span>
                            </li>
                            <li *ngFor="let resource of
                                users.trendingPartResource;index as i">
                                <a *ngIf="resource.useTypesCost>0||resource.useTypesUse>0">
                                    <span class="Household">
                                        <span class="title"
                                            [style.color]="resource.color"
                                            (click)="changeResource(resource.resourceType,resource.isActive)">{{resource.resourceTypeLabel}}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="saving" style="float:right;">
                            <li>
                                <span class="Trendswithoutline">Show</span>
                            </li>
                            <li *ngFor="let unitTypes of unitType;index as
                                j">
                                <a>
                                    <span class="Household">
                                        <span class="Energy"
                                            [style.color]="unitTypes.unitTypeColor"
                                            (click)="changeUnitType(j,unitTypes.unitType)">{{unitTypes.unitType
                                            | titlecase }}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row small">
                    <div class="col-sm-12" *ngIf="errorMessage">
                        <p class="error-message">
                            {{errorMessage}}
                        </p>  
                    </div>
                    <div class="col-xs-6">
                        <p class="trendsmall">Trends for</p>
                        <ng-container *ngFor="let resource of
                            users.trendingPartResource;index as i">
                            <a *ngIf="resource.useTypesCost>0||resource.useTypesUse>0">
                                <p
                                    class="Energy"
                                    [style.color]="resource.color"
                                    (click)="changeResource(resource.resourceType,resource.isActive)">{{resource.resourceTypeLabel}}</p>
                            </a>
                        </ng-container>
                    </div>
                    <div class="col-xs-6" style="text-align:right;">
                        <p class="trendsmall">Show</p>
                        <ng-container *ngFor="let unitTypes of
                            unitType;index as
                            j">
                            <p
                                class="Energy"
                                [style.color]="unitTypes.unitTypeColor"
                                (click)="changeUnitType(j,unitTypes.unitType)">{{unitTypes.unitType
                                | titlecase }}</p>
                        </ng-container>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <h3 class="plugged" style="width:73px">Use Type</h3>
                    </div>
                    <div class="media-body" *ngIf="users.trendId==1">
                        <form>
                            <div class="form-group">
                                <select name="load"
                                    [(ngModel)]="partLookupValue"
                                    (change)="changesLookupValue(partLookupValue)"
                                    class="form-control"
                                    style="width:207px;">
                                    <option *ngFor="let valuesName of
                                        useType"
                                        [value]=valuesName.lookupValue>
                                        {{valuesName.valueName}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="small">

                <div class="row">
                    <div class="col-sm-10 month">
                        <ng-container *ngFor="let dataList of
                            trendingData;index
                            as i">
                            <input [id]="dataList.trendingPartId +'_fromDate'" [name]="'trendingParts[' + i + '].fromDate'" type="hidden" value="">
                            <input [id]="dataList.trendingPartId +'_toDate'" [name]="'trendingParts[' + i  +'].toDate'" type="hidden" value="">
                            <h3 class="select_next">{{dataList.label}}</h3>
                            <p class="rolling responsive">{{dataList.explanation}}</p>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div
                                        [innerHTML]="dataList.trendingCharts[0].chart.freeChartDiv
                                        | safeHtml"
                                        class="trendingChartDiv" [id]="'trendingChartDiv'+dataList.trendingPartId"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="rolling small">{{dataList.explanation}}</p>
                                </div>
                            </div>
                            <hr *ngIf="i != trendingData.length-1" class="gap">
                        </ng-container>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>