.mat-dialog-actions {
  float: right;
}
.btn {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
}

.btn-padding {
  margin-left: 1px;
  margin-right: 1px;
  padding: 4px;
}

.align-right {
  text-align: right;
}

::ng-deep .threadInfo .mat-column-buttonList{
  flex: none;
  width: 110px;
}

::ng-deep .threadInfo .mat-column-blw{
  flex: none;
  width: 65px;
}

::ng-deep .threadInfo .mat-column-userTime{
  flex: none;
  width: 65px;
}

::ng-deep .threadInfo .mat-column-cpuTime{
  flex: none;
  width: 65px;
}