<section class="space-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9 content" style='text-align:left; padding-top: 5px;'>
                <p class="accurate">
                    Search Options (use "%" as wildcard in searches)</p>
                <hr class="hr_space">
                <form [formGroup]="searchForm" class="form-horizontal">
                    <div class="row form-row form-group">
                        <label class="control-label col-sm-4 col-md-2 col-lg-2">
                            <span class="start">Audit Id:</span>
                        </label>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control
                                form-control-sm" id="auditId" formControlName="auditId">
                        </div>
                        <label class="control-label col-lg-2 col-md-2 col-sm-4">
                            <span class="start"> Customer Group:</span>
                        </label>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <select class="form-control form-control-sm" id="customerGroup"
                                formControlName="customerGroup">
                                <option value="" selected="selected"></option>
                                <option *ngFor="let group of customerGroupList" [value]="group.customerGroupId">
                                    {{group.groupName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start"> Customer name:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control
                                form-control-sm" id="customerName" formControlName="customerName">
                        </div>
                        <label class="control-label col-lg-2 col-md-2 col-sm-4">
                            <span class="start"> Customer Place:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="customerPlace"
                                formControlName="customerPlace">
                                <option value="" selected="selected"></option>
                                <option *ngFor="let placeData of placeList" [value]="placeData.id">
                                    {{placeData.placeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start">Customer E-mail:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control
                                form-control-sm" id="customerEmail" formControlName="customerEmail">
                        </div>

                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start">Program:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="program" formControlName="program">
                                <option value=""></option>
                                <option *ngFor="let programGroup of
                                    programGroupList" [value]="programGroup.programGroupId">
                                    {{programGroup.programName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start">Customer View:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="customerView"
                                formControlName="customerView" value='-1'>
                                <option value="-1">Standard</option>
                                <option *ngFor="let viewConfiguration of
                                    viewConfigurationList" [value]="viewConfiguration.viewConfigurationId">
                                    {{viewConfiguration.configurationName}}</option>
                            </select>
                        </div>

                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start">Status:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" id="status" formControlName="status">
                                <option value=""></option>
                                <option *ngFor="let statusObj of
                                statusData" [value]="statusObj.id">
                                    {{statusObj.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="control-label col-lg-2 col-md-2 col-sm-4">
                            <span class="start">Event/Alert Code:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control
                                form-control-sm" id="alertCode" formControlName="alertCode">
                        </div>

                        <label class="control-label col-lg-2 col-md-2 col-sm-4">
                            <span class="start">Credential Type:</span>

                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6" style="padding-right: 0%; padding-left: 0px;">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <select class="form-control form-control-sm
                                    padded-control" id="credentialTypeCode" formControlName="credentialTypeCode">
                                    <option value="" selected="selected"></option>
                                    <option *ngFor="let credentialType of
                                        credentialTypeList" [value]="credentialType.credentialType">
                                        {{credentialType.credentialName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <input type="text" class="form-control
                                    form-control-sm" id="credentialSubscriptionId"
                                    formControlName="credentialSubscriptionId">
                            </div>
                        </div>
                    </div>
                    <div class="row form-row form-group">
                        <label class="control-label col-md-2 col-lg-2 col-sm-4">
                            <span class="start">Energy Coach:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <select class="form-control form-control-sm" formControlName="energyCoach">
                                <option value=""></option>
                                <option value="-1">Unassigned</option>
                                <option *ngFor="let coachUser of coachUserList | sortBy : 'name' "
                                    [value]="coachUser.userId">
                                    {{coachUser.name}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2 col-lg-2 col-sm-4" #tableheadingScroll>
                            <span class="start">Credential Account:</span>
                        </label>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control
                                form-control-sm" formControlName="credentialAccount">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-sm-12" style="text-align:right;">
                            <button type="submit" class="btn btn-primary"
                                (click)="findCustomer(undefined,true)">Show</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="Messages">
                            <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">Customers (Number
                            of Records
                            =
                            {{this.CustomerData.totalElements | number:'1.0':'en-US'}})
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <app-table [keys]="keys" [isPaginate]="true" [checkbox]="isCheckBox" [isSearch]="false"
                            [data]="dataSource" [addSerialNumber]="true"
                            [totalElement]="CustomerData.totalElements" [pageIndex]="pageIndex" [pageSize]="pageSize"
                            (changePageEvent)="findCustomer($event,false)" (goToEditEvent)="goToEditCustomer($event)"
                            (imageEvent)='onImageClickEvent($event)' (checkBoxChangeEvent)="checkBoxChangeEvent($event)"
                            (addEvent)='addNewCustomer()' (handleLinkEvent)="handleLink($event)" class="customerTable">
                        </app-table>

                    </div>
                </div>
                <div *ngIf="searchForm.controls['customerView'].value != -1" class="row" style="position: absolute; bottom: 50px;">
                    <div class="col-sm-12">
                        <a (click)="exportDataAsCSV($event)" >Export To CSV</a>
                    </div>
                </div>
                <form [formGroup]='fileUploadForm' *ngIf="customerView==-1">
                    <div class="row bottom-button">
                        <div class='col-sm-2 col-xs-3 responsive-desktop'>
                            <button type="submit" class="btn
                                btn-primary" (click)="batchDelete()">Delete</button>
                        </div>
                        <div class='col-sm-5 col-xs-5' style="text-align:right">
                            <span>Upload file with new customers:</span>
                        </div>
                        <div class='col-sm-3 col-xs-7'>
                            <input type="file" class="custom-file-input" style='font-size: smaller;' name="customerFile"
                                id="customerFile" formControlName='customerFile'
                                (change)="handleFileInput($event.target.files)">
                        </div>
                        <div class='col-sm-2 col-xs-3 responsive-desktop' style='text-align: right;'>
                            <button type="submit" class="btn
                                btn-primary" (click)="uploadNewCustomerFile()">Upload</button>
                        </div>
                    </div>
                    <div class="row responsive-tab">
                        <div class='col-sm-2 col-xs-6'>
                            <button type="submit" class="btn
                                btn-primary" (click)="batchDelete()">Delete</button>
                        </div>
                        <div class='col-sm-2 col-xs-6' style='text-align: right;'>
                            <button type="submit" class="btn
                                btn-primary" (click)="uploadNewCustomerFile()">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 .col-lg-3 col-sm-12">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>