section.space-top {
  margin-top: 5.3em;
}

.select_next {
  font-size: 21px;
  font-weight: 600;
  color: #000;
}

p.accurate {
  font-weight: 600;
  font-size: 21px;
  text-align: justify;
}

hr.hr_space {
  margin-top: 13px;
  margin-bottom: 20px;
}

select {
  background: url("src/assets/images/up_downArrow.png") no-repeat right;
  -webkit-appearance: none;
  padding-right: 30px;
  background-position-x: 98%;
}

.btn-primary {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px 4px 23px;
  border-radius: 3px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

@media (min-width: 768px) and (max-width: 992px) {
  .form-control {
    margin-bottom: 5% !important;
  }
  .form-row {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
}

.pointer {
  padding-left: 5px;
}

label {
  text-align: left !important;
}

span.start {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}

p.Messages {
  font-size: 17px;
  font-weight: 600;
}

.dot {
  padding: 10px 10px 10px 0px;
}

.content {
  text-align: left;
  padding-left: 40px;
  padding-top: 35px;
}

@media (max-width: 768px) {
  .padded-control {
    padding-bottom: 5px;
  }
}

.custom-file-input {
  font-size: smaller !important;
  width: 165px;
}

input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  margin: 1px 1px 1px 1px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

@media (max: 420) {
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: "Select some files";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

input[type="file"] {
  text-align: left;
}
::ng-deep .customerTable {
  word-break: break-all;
}

::ng-deep .customerTable .mat-column-serialNumber{
  flex: none;
  width: 55px;
}

.responsive-desktop{
  display: block;
}

.responsive-tab{
  display: none;
}

@media (min-width: 200px) and (max-width: 767px) {
  .responsive-desktop{
    display: none;
  }
  .bottom-button{
    margin-top: 10px;
  }
  .responsive-tab{
    display: block;
  }
}

@media (min-width: 200px) and (max-width: 350px) {
  .custom-file-input {
    width: 90px;
  }
}