<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <form [formGroup]="programGroupForm" class="form-group">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              Program code
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <input type="text" formControlName="programCode" class="form-control" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              Program Name
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <input type="text" formControlName="programName" class="form-control" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12" style="text-align:right;margin-top: 10px;">
              <button type="button" class="btn btn-primary" (click)="findProgramGroup()">Show</button>
            </div>
          </div>
        </form>
        <hr>

        <div class="row">
          <div class="col-sm-12">
            <p class="Messages">
              <img class="pointer" src="assets/images/dot03.gif" class="dot">Program Group List
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" >
          <!-- *ngIf="CustomerGroupData?.content?.length>0"> -->
            <app-table [keys]="keys" [isPaginate]="true" [isSearch]=true [data]="dataSource"
              [totalElement]="CustomerGroupData.totalElements" (onChangePageEvent)="findProgramGroup($event)"
              (goToEditCustomer)="gotoEditProgramGroup($event)">
            </app-table>
            <div class="row" style="margin-bottom: 5%;">
              <div class="col-sm-6 col-xs-3">

              </div>
              <div class="col-sm-6 col-xs-9" style="text-align:right;">
                <button class="btn btn-primary" type="button" (click)="addProgramGroup()">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>