<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Script Debug Console</span>
        </p>
        <form [formGroup]="debugForm" class="form-group form-padding">
          <div *ngIf='isTrue' class="row borderBottom borderTop rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Customer:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <div class="row rowPadding borderBottom" style="margin-left: 0px;
                margin-right: 0px;">
                <div class='col-sm-4 col-md-4 col-lg-4 col-xs-12'>
                  Audit Id:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="text" class="form-control" matInput 
                  formControlName='auditId' [matAutocomplete]="auditId"
                  (keyup)="findCustomerByAuditIdOrCustomerName('auditId')" >
                  <mat-autocomplete #auditId="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                    <mat-option *ngFor="let data of dataListForSuggestions" [value]="data">
                      {{data.user.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <div *ngIf="f.auditId.invalid && (f.auditId.dirty ||
                    f.auditId.touched)">
                    <span class="error" *ngIf="f.auditId.errors.required">
                      Audit Id is required.
                    </span>
                  </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
              </div>
              <div class="row rowPadding" style="margin-left: 0px; margin-right:
                0px;" s>
                <div class='col-sm-4 col-md-4 col-lg-4 col-xs-12'>
                  Customer Name:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <input type="text" class="form-control" matInput 
                  [matAutocomplete]="auditIdAutoComplete"
                  formControlName="customerName" (input)="findCustomerByAuditIdOrCustomerName('customerName')" >
                   <mat-autocomplete #auditIdAutoComplete="matAutocomplete" (optionSelected)="selectedSuggestion($event.option.value)" >
                     <mat-option *ngFor="let data of dataListForSuggestions; index as i" [value]="data">
                       {{data.user.name}}
                     </mat-option>
                   </mat-autocomplete>
                  <div *ngIf="f.customerName.invalid && (f.customerName.dirty ||
                    f.customerName.touched)">
                    <span class="error" *ngIf="f.customerName.errors.required">
                      Customer Name is required.
                    </span>
                  </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div *ngIf='isTrue' class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Topic description:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm"
                id="surveyDescriptionId"
                formControlName="surveyDescriptionId">
                <option *ngFor='let topic of topicDescriptionData'
                  [value]="topic.id">{{topic.label}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Script type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class="form-control form-control-sm" id="scriptType"
                (change)="changeTheme($event)"
                formControlName="scriptType">
                <option *ngFor='let calculation of calculationTypeList' [value]="calculation.lookupValue">{{calculation.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Script:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12 border
              code-mirror">
              <ngx-codemirror formControlName="script"
                [options]="codeMirrorOptions">
              </ngx-codemirror>
            </div>
          </div>

          <div class="row borderBottom rowPadding"> 
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Event:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select id="event" class='form-control' formControlName="event">
                <option value=""></option>
                <option *ngFor='let group of scriptDebugEventList' [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Result:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control' readonly formControlName='result'></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Result Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm show-value'
                formControlName="resultType" id="resultType" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Execution Time
              (ms):</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm show-value'
                formControlName="executionTime" id="executionTime" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Context preparation time (ms):</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm show-value'
                formControlName="contextPreparationTime" id="contextPreparationTime" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row rowPadding paddingTop">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-3
              display-inline-button">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-5" style="text-align:
              end;">
              <label for='disableValueCache'>
                <input type="checkbox" formControlName="disableValueCache"
                  id="disableValueCache">
                Disable Value Cache
              </label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4 display-responsive"style="text-align: end;">
              <button type="submit" class="btn btn-primary"
                (click)="executeDebug()">Execute</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>