<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 admin-content">
        <p class="heading">Credential Type</p>
        <form [formGroup]="credentialTypeForm" class="form-group">
          <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Credential Type</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" formControlName="credentialType" class="form-control" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Credential Name</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" formControlName="credentialName" class="form-control" />
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 show-button">
              <button type="button" class="btn btn-primary" (click)="search(undefined)">Show</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12">
            <p class="messages">
              <img class="dot pointer" src="assets/images/dot03.gif">
              <span class="messageName">Credential Types</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-table [keys]="keys" [isPaginate]="true" [isSearch]="false" [data]="dataSource"
              [totalElement]="credentialTypeData.totalElements" (changePageEvent)="search($event)"
              (goToEditEvent)="gotoEditCredentialType($event)" (addEvent)="addCredentialType()" class="credentialType">
            </app-table>

          </div>
        </div>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar ></app-sidebar>
      </div>
    </div>
  </div>
</section>