<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Mail Description</span>
        </p>
        <form [formGroup]="topicForm" class="form-group form-padding">
          <div class="row borderBottom rowPadding" *ngIf="id">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Id:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              {{id}}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Source Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <select class="form-control" formControlName="sourceType"
                id="sourceType">
                <option *ngFor='let group of sourceTypeList'
                  [value]="group.key">{{group.value}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[0]=!hideHelp[0]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[0]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">We have different lists of users in our
                  system. Which group should this message be sent to?
                  <span class="hide-button"
                    (click)="hideHelp[0]=!hideHelp[0]">hide</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Mail Name:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <input type="text" class="form-control" formControlName="mailName"
                id="mailName">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[1]=!hideHelp[1]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[1]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">An internal name for this message.
                  <span class="hide-button"
                    (click)="hideHelp[1]=!hideHelp[1]">hide</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Mail Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <textarea class="form-control" formControlName="mailFilter"
                id="mailFilter" rows="4" cols="5"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[2]=!hideHelp[2]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[2]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">A SpEL expression that determines when this
                  message is sent, and to which users. The return type is
                  boolean.
                  <span class="hide-button"
                    (click)="hideHelp[2]=!hideHelp[2]">hide</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Period:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <select class="form-control" formControlName="mailPeriod"
                id="mailPeriod">
                <option *ngFor='let period of periodData'
                  [value]="period.lookupValue">{{period.valueName}}</option>
              </select>
              <div *ngIf="f.mailPeriod.invalid && (f.mailPeriod.dirty ||
                f.mailPeriod.touched)">
                <span class="error" *ngIf="f.mailPeriod.errors.required">
                  Period is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[3]=!hideHelp[3]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[3]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">How often is this message sent.
                  <span class="hide-button"
                    (click)="hideHelp[3]=!hideHelp[3]">hide</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Intra-Period
              trigger:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <textarea class='form-control form-control-sm'
                formControlName="periodDayRule"
                id="periodDayRule"> </textarea>
              <div *ngIf="f.periodDayRule.invalid && (f.periodDayRule.dirty ||
                f.periodDayRule.touched)">
                <span class="error" *ngIf="f.periodDayRule.errors.required">
                  Intra-Period trigger is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[4]=!hideHelp[4]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[4]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">A SpEL expression that has to return an
                  integer. It specifies at which point within the defined period
                  the message will be triggered (which day of the week, or day
                  of the month, or month of the year, or the 0 value for any
                  day).
                  <span class="hide-button"
                    (click)="hideHelp[4]=!hideHelp[4]">hide</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Stop sending after
              this many days:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <input type="text" class='form-control form-control-sm'
                formControlName="stopDays" id="stopDays">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[5]=!hideHelp[5]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[5]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">Optional. Specify the number of days
                  between the first and last copy of this message sent to each
                  user.
                  <span class="hide-button"
                    (click)="hideHelp[5]=!hideHelp[5]">hide</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Stop sending after
              this many Messages:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <input type="text" class='form-control form-control-sm'
                formControlName="stopNumber" id="stopNumber">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[6]=!hideHelp[6]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[6]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">Optional. Specify the number of days
                  between the first and last copy of this message sent to each
                  user.
                  <span class="hide-button"
                    (click)="hideHelp[6]=!hideHelp[6]">hide</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Stop Sending Reset
              Period:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <select class='form-control form-control-sm'
                formControlName="stopPeriod" id="stopPeriod">
                <option *ngFor='let period of periodData'
                  [value]="period.lookupValue">{{period.valueName}}</option>
              </select>
              <div *ngIf="f.stopPeriod.invalid && (f.stopPeriod.dirty ||
                f.stopPeriod.touched)">
                <span class="error" *ngIf="f.stopPeriod.errors.required">
                  Stop Sending Reset Period is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[7]=!hideHelp[7]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[7]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">
                  <span class="hide-button"
                    (click)="hideHelp[7]=!hideHelp[7]">hide</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Stop Date Rule:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
              <textarea class='form-control form-control-sm'
                formControlName="stopDateRule"
                id="stopDateRule"> </textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
              <img src="assets/images/icon_help.svg"
                style="float: right; margin-top:
                0%;margin-left: 5px;"
                class="media-object" id="help_btn"
                (click)="hideHelp[8]=!hideHelp[8]">
            </div>
            <div class="row" id="help-icon-contain-responsive"
              class="help" *ngIf="hideHelp[8]">
              <div class="col-sm-12 col-xs-12">
                <p class="help-text">A SpEL expression such as
                  #convertToDate(#nvl(user.passwordChangeDate,
                  user.createdDate)).rollDaysForwards(60).
                  <span class="hide-button"
                    (click)="hideHelp[8]=!hideHelp[8]">hide</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Subject Template:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class='form-control form-control-sm'
                formControlName="subjectTemplate"
                id="subjectTemplate"> </textarea>
              <div *ngIf="f.subjectTemplate.invalid && (f.subjectTemplate.dirty
                ||
                f.subjectTemplate.touched)">
                <span class="error" *ngIf="f.subjectTemplate.errors.required">
                  Subject Template is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content Type:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class='form-control form-control-sm'
                formControlName="contentType" id="contentType">
                <option *ngFor='let contentType of contentTypeList'
                  [value]="contentType.lookupValue">{{contentType.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Use Customer Group
              Header:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="includeHeader"
                id="includeHeader">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Use Customer Group
              Footer:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="includeFooter"
                id="includeFooter">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">cc Energy Coach:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="ccCoachUser"
                id="ccCoachUser">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Active:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="active" id="active">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Allow Force Send
              for Admin:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="allowAdminForce"
                id="allowAdminForce">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Ignore Opt Out
              mail flag:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="ignoreOptOutMail"
                id="ignoreOptOutMail">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Total Calls:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='show-value'
                formControlName="totalCalls" id="totalCalls" disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Total Processed
              Time:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='show-value'
                formControlName="totalProcessedTimeShow" id="totalProcessedTime"
                disabled>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Max Processed
              Time:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <input type="text" class='show-value formInput'
                formControlName="maxProcessedTimeShow" id="maxProcessedTime"
                disabled>
              <input type="text" class='show-value formInput'
                formControlName="maxProcessedIdShow" id="maxProcessedId"
                disabled>
              <button class="btn btn-primary" (click)='showStackTrace()'
                *ngIf="maxProcessedStack">Show
                Stack</button>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Calls in the last
              session:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <input type="text" class='show-value'
                formControlName="lastCalls" id="lastCalls" disabled>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Last Session Time:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <input type="text" class='show-value'
                formControlName="lastProcessedTimeShow" id="lastProcessedTime"
                disabled>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Max Time for the
              last session:</div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
              <input type="text" class='show-value formInput'
                formControlName="lastMaxProcessedTimeShow"
                id="lastMaxProcessedTime"
                disabled>
              <input type="text" class='show-value formInput'
                formControlName="lastMaxProcessedIdShow" id="lastMaxProcessedId"
                disabled>
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Mail configuration:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <select class='form-control form-control-sm'
                formControlName="mailConfiguration" id="mailConfiguration">
                <option *ngFor='let mailConfigurationObj of mailConfigurationList'
                  [value]="mailConfigurationObj.lookupValue">{{mailConfigurationObj.valueName}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName">Customer groups</span></p>
            <app-table [keys]="customerGroupKeys" [isPaginate]="false"
              [checkbox]=true [isHideAdd]=true
              [isSearch]="false" [data]="customerGroupDataSource"
              [totalElement]="customerGroupData.totalElements"
              (checkBoxChangeEvent)="customerGroupCheckBoxChangeEvent($event)"
              id='groupCode' [selectionList]='customerGroupSelectionList'
              class="mail-customer-group">
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName">Mail Content Parts</span></p>
            <app-table [keys]="contentPartsKeys" [isPaginate]="false"
              [isSearch]="false" [data]="contentPartsDataSource"
              [totalElement]="contentPartsData.totalElements"
              (addEvent)='addContentParts()'
              (goToEditEvent)='goToEditContentParts($event)'
              class="mail-content-part">
            </app-table>
          </div>

          <div class="paddingTop" *ngIf="id !== undefined && id !== null">
            <p class="messages">
              <img src='assets/images/dot03.gif' class='dot'>
              <span class="messageName">Context variables</span></p>
            <app-table [keys]="variableKeys" [isPaginate]="false"
              [isSearch]="false" [data]="variableDataSource"
              [totalElement]="variableData.totalElements"
              (addEvent)='addVariable()'
              (goToEditEvent)='goToEditVariable($event)'
              class="mail-variable">
            </app-table>
          </div>

          <div class="row rowPadding paddingTop">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3
              display-inline-button-big">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3
              display-inline-button-big" [ngClass]="{'display-responsive-big3':
              id!==undefined&&id!==null}" style="text-align: end;">
              <button type="button" class="btn btn-primary"
                (click)="Preview()" *ngIf="id!==undefined&&id!==null">
                Preview
              </button>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-2 col-xs-3"
              [ngClass]="{'display-responsive-big3':
              id!==undefined&&id!==null}" style="text-align: end;" *ngIf="id !==
              undefined && id !== null">
              <button class="btn btn-primary" (click)='callMailSender()'>
                Call Mail Sender
              </button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3
              display-inline-button-big" [ngClass]="{'display-responsive-big2':
              id!==undefined&&id!==null}" style="text-align: end;">
              <button type="button" class="btn btn-primary" (click)="delete()"
                *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" *ngIf="!id">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3"
              [ngClass]="{'display-responsive-big': id!==undefined&&id!==null}"
              style="text-align: end;">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]='true'></app-sidebar>
      </div>
    </div>
  </div>
</section>