@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* CodeMirrror */
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/idea.css";
@import "~codemirror/addon/fold/foldgutter.css";
@import "~codemirror/addon/lint/lint.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

.loader {
  /* z-index: 10000;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -57px;
    padding-top: 35vh;
    background: rgba(0, 0, 0, 0.36);
    visibility: hidden; */
  background: rgba(0, 0, 0, 0.36);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  visibility: hidden;
  z-index: 10000;
  padding-top: 35vh;
}

img {
  font-family: "Roboto", sans-serif !important;
}

.trendingProfileChart > :nth-child(1) > :nth-child(2) > center > :nth-child(2) {
  width: 300px !important;
  margin-left: -104px !important;
}

.loading {
  visibility: visible;
}

.loaderimg {
  width: 100px;
  background: rgba(0, 0, 0, 0.29);
  border-radius: 8px;
}

div#dtBasicExample_filter {
  display: none !important;
}

img.question path {
  fill: #000;
}

.home_energy > p {
  font-size: 23px !important;
  color: #4550a1 !important;
  font-weight: 500 !important;
  margin-bottom: 30px;
}

div.energy_analytic > p {
  font-size: 16px;
}

div.energy_analytic > span {
  font-size: 16px;
}

div.energy_analytic > span > p {
  font-size: 16px;
}

div.energy_analytic > p > span {
  font-size: 16px;
}

.footers > div {
  font-size: 16px !important;
  line-height: 1.4 !important;
}

div.factoid > p {
  font-size: 16px !important;
  margin-bottom: 20px !important;
  color: #4550a1 !important;
  line-height: 22px !important;
  font-weight: 500 !important;
}

div.factoid > div > p {
  font-size: 16px !important;
  margin-bottom: 20px !important;
  color: #4550a1 !important;
  line-height: 22px !important;
  font-weight: 500 !important;
}

#chartSeasonalPie {
  margin-left: 0% !important;
}

#chartThreeNorms1 {
  margin-top: 15px !important;
  margin-left: 10px !important;
  /* width: 225px !important; */
}

#chartThreeNorms2 {
  margin-top: 15px !important;
  margin-left: 10px !important;
  /* width: 225px !important; */
}

#chartThreeNorms3 {
  margin-top: 15px !important;
  margin-left: 10px !important;
  /* width: 225px !important; */
}

.surveyChartDiv > div {
  width: 95% !important;
}

.accurate > p > img {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .accurate > p > img {
    width: 400px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 992px) {
  .accurate > p > img {
    width: 525px !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
  .accurate > p > img {
    width: 600px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .accurate > p > img {
    width: 400px !important;
  }
}

@media only screen and (min-width: 901px) and (max-width: 992px) {
  .accurate > p > img {
    width: 525px !important;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .accurate > p > img {
    width: 600px !important;
  }
}

@media only screen and (max-width: 768px) {
  .chartDiv > div > :nth-child(2) > :nth-child(2) {
    height: 200px !important;
  }
  .accurate > p > img {
    width: 290px !important;
  }
  .chartDiv > div > :nth-child(2) {
    height: auto !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > center
    > :nth-child(2) {
    width: auto !important;
    margin-left: 0px !important;
  }
  #chartDailyVariableLoad {
    width: 100% !important;
  }
  .accurate > div {
    width: auto !important;
  }
  #chartSeasonalStack {
    width: 100% !important;
  }
  .surveyChartDiv > div > div {
    margin-left: 0px !important;
  }
  #chartRepeatingLoad {
    width: 100% !important;
  }
  #chartMovAvg {
    width: 100% !important;
  }
  #chartMonthByMonth {
    width: 100% !important;
  }
  .table-responsive {
    border: 0px solid #ddd !important;
    margin-top: 15px;
  }
}

.surveyChartDiv > div > :nth-child(2) {
  height: 300px !important;
  height: auto !important;
  margin-left: 0px !important;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 300px !important;
    height: auto !important;
  }
  /* #chartThreeNorms1{
            width: 180px !important;
        }  
        #chartThreeNorms2{
            width: 180px !important;
        }  
        #chartThreeNorms3{
            width: 180px !important;
        }  */
  /*Tranding chart css  */
  .trendingChartDiv > div {
    width: 300px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 300px !important;
  }
  .trendingChartDiv > div > div {
    width: 300px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 250px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 100px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 100px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 250px !important;
  }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 318px !important;
    height: auto !important;
  }
  /*trending chart div  */
  .trendingChartDiv > div {
    width: 320px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 320px !important;
  }
  .trendingChartDiv > div > div {
    width: 320px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 280px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 130px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 130px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 280px !important;
  }
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 370px !important;
    height: auto !important;
  }
  /*trending chart div  */
  .trendingChartDiv > div {
    width: 370px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 370px !important;
  }
  .trendingChartDiv > div > div {
    width: 370px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 345px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 345px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 520px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 450px !important;
    height: auto !important;
  }
  /*trending chart div  */
  .trendingChartDiv > div {
    width: 450px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 450px !important;
  }
  .trendingChartDiv > div > div {
    width: 450px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 415px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 415px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* #chartSeasonalPie{
        width:125px !important;
    } */
  .energy_analytic > p > img {
    border: 1px solid #efefef;
  }
  .trendingProfileChart > :nth-child(1) > :nth-child(2) {
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .qtip.qtip-default {
    left: 170px !important;
  }
  div#trendingProfileChartTrends {
    margin-left: 106px !important;
  }
  div#trendingProfileChartTrends > :nth-child(1) {
    width: 50% !important;
  }
  .view.trend.space > :nth-child(1) {
    margin-left: 20px !important;
    margin-right: 10px !important;
  }
  .view.trend.space > :nth-child(2) {
    margin-left: 20px !important;
    margin-right: 10px !important;
  }
  #chartThreeNorms2 > :nth-child(3) > :nth-child(2) {
    left: 14.6715px !important;
  }
  #chartThreeNorms1 > :nth-child(3) > :nth-child(2) {
    left: 12.7771px !important;
  }
  td > #chartThreeNorms1 {
    width: 140px !important;
  }
  td > #chartThreeNorms2 {
    width: 140px !important;
  }
  #chartThreeNorms3 > :nth-child(3) > :nth-child(2) {
    left: 15.542px !important;
  }
  td > #chartThreeNorms3 {
    width: 140px !important;
  }
}

div#trendingProfileChartTrends {
  height: 137px !important;
}

a {
  /* color: #76ba19!important; */
  text-decoration: none;
  font-weight: 500 !important;
}

.view.trend.space > :nth-child(1) {
  margin-left: 30px;
  margin-right: 30px;
}

.view.trend.space > :nth-child(1) > :nth-child(1) {
  width: 300px !important;
}

.view.trend.space > :nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.view.trend.space > :nth-child(2) > :nth-child(1) {
  width: 300px !important;
}

.view.trend.space > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  width: 40% !important;
}

.tablemailarchive > :nth-child(3) {
  width: 500px !important;
}

div#trendingProfileChartTrends > :nth-child(1) > :nth-child(1) {
  color: #000;
}

div#trendingProfileChartTrends > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  color: #000;
}

@media only screen and (min-width: 1224px) {
  .trendingProfileChart > :nth-child(1) {
    width: 950px !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 950px !important;
    margin-top: 7.5em !important;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    padding-top: 1.1em;
  }
}

@media only screen and (min-width: 1824px) {
  .trendingProfileChart > :nth-child(1) {
    width: 950px !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 950px !important;
    margin-top: 3em !important;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    padding-top: 1.1em;
  }
}

td.jqplot-table-legend.jqplot-table-legend-label.jqplot-seriesToggle {
  margin-left: 12px !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div.back.color {
    background-color: #fbfbfb !important;
    padding: 28px 0px 28px 0px !important;
    margin-top: -9px !important;
  }
  ul.demoleaks1 {
    padding: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .trendingProfileChart > div {
    width: 285px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 285px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    width: 45% !important;
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 180px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 180px !important;
  }
}

@media only screen and (min-width: 351px) and (max-width: 375px) {
  .trendingProfileChart > div {
    width: 322px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 322px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 220px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 220px !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
  .trendingProfileChart > div {
    width: 345px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    margin-top: 4em !important;
    width: 345px !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 250px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 250px !important;
  }
}

@media only screen and (min-width: 415px) and (max-width: 480px) {
  .trendingProfileChart > div {
    width: 375px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 375px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 515px) {
  .trendingProfileChart > div {
    width: 460px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 460px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 516px) and (max-width: 580px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 450px !important;
    height: auto !important;
  }
  /*trendingProfile chart div  */
  .trendingProfileChart > div {
    width: 485px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 485px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 581px) and (max-width: 615px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 540px !important;
    height: auto !important;
  }
  /*trendingPrfile chart div  */
  .trendingProfileChart > div {
    width: 460px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 460px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 616px) and (max-width: 768px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 550px !important;
    height: auto !important;
  }
  /*trendingPrfile chart div  */
  .trendingProfileChart > div {
    width: 585px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 585px !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 815px) {
  .chartDiv > div > :nth-child(2) {
    float: unset !important;
  }
  .trendingProfileChart > div {
    width: 660px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 660px !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  div#chartSeasonalStack {
    margin-bottom: 20px;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
}

@media only screen and (min-width: 816px) and (max-width: 930px) {
  .chartDiv > div > :nth-child(2) {
    float: unset !important;
  }
  .chartDiv > div {
    width: 585px !important;
    height: auto !important;
  }
  .trendingProfileChart > div {
    width: 685px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 685px !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  div#chartSeasonalStack {
    /* float: right !important; */
    margin-bottom: 20px;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
}

@media only screen and (min-width: 931px) and (max-width: 980px) {
  .chartDiv > div > :nth-child(2) {
    float: unset !important;
  }
  .chartDiv > div {
    width: 685px !important;
    height: auto !important;
  }
}

@media only screen and (min-width: 931px) and (max-width: 1223px) {
  .trendingProfileChart > :nth-child(2) {
    width: 132% !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  div#trendingProfileChartTrends {
    width: 350px !important;
  }
  div#chartSeasonalStack {
    margin-bottom: 20px;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > center
    > :nth-child(2) {
    margin-left: -40px !important;
  }
  #chartThreeNorms1 {
    margin-left: 0px !important;
  }
  #chartThreeNorms2 {
    margin-left: 0px !important;
  }
}

.glyphicon {
  color: #76ba19 !important;
}

.text-nowrap {
  color: black;
  font-size: 18px;
}

.dataTables_filter {
  display: none;
}

.dataTables_length {
  display: none;
}

.dataTables_info {
  display: none;
}

#example_paginate > span {
  display: none;
}

#example_paginate > .paginate_button.previous {
  color: #76ba19;
  margin-right: 76px;
  font-size: 16px;
  cursor: pointer;
}

#example_paginate > .paginate_button.next {
  font-size: 16px;
  color: #76ba19;
  cursor: pointer;
  margin-right: 76px;
}

#example_paginate > .paginate_button.first {
  color: #76ba19;
  margin-right: 76px;
  font-size: 16px;
  cursor: pointer;
}

#example_paginate > .paginate_button.last {
  color: #76ba19;
  font-size: 16px;
  cursor: pointer;
}

.feedbackButton {
  right: -10px;
  top: 33%;
  padding: 5px 14px 14px 14px;
  border-bottom: 0px;
  border: 1px solid black;
  color: #993300 !important;
  display: block;
  position: fixed;
  background-color: white;
  font-size: 15px !important;
  font-family: Arial, sans-serif;
  line-height: 15px;
  opacity: 1;
  z-index: 999995;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 9px 9px 0px 0px;
  -moz-border-radius: 9px 9px 0px 0px;
  transform-origin: 100% 100% 0;
  -webkit-transform-origin: 100% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg) scale(1.02);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.feedBackDiv1 {
  visibility: visible !important;
}

.feedbackDiv {
  visibility: hidden;
  opacity: 1;
  -webkit-transition: opacity 200ms ease, visibility 0s linear 0s;
  /* transition: opacity 200ms ease,visibility 0s linear 0s; */
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  min-height: 100%;
}

.feedbackDivCss {
  left: -38px !important;
}

.feedbackiframeCss {
  /* visibility: visible; */
  right: 0px !important;
}

.feedbackCss {
  /* visibility: hidden; */
  opacity: 1;
  position: fixed;
  max-width: 100%;
  z-index: 10001;
  -webkit-transition: all 400ms ease-out;
  /* transition: all 400ms ease-out;
        width: 800px; */
  transition: all 0.5s;
  width: 63%;
  height: 100%;
  top: 0;
  right: -100%;
}

.feedbackiframe {
  position: absolute;
  padding: 8px;
  cursor: pointer;
  width: initial;
  max-width: initial;
  top: 12px;
  left: 0px;
  right: auto;
}

button.feedbackButton:hover {
  right: -1px;
}

@media only screen and (max-width: 768px) {
  .chartDiv > div {
    float: unset !important;
  }
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: auto !important;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 0% !important;
  margin-right: 30px !important;
  background-color: transparent;
  color: #76ba19;
}

@media only screen and (max-width: 768px) {
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: auto !important;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 0% !important;
    margin-right: 5px !important;
    background-color: transparent;
    color: #76ba19;
  }
}

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 1 !important;
  color: blue;
}

.mat-sort-header-stem {
  display: none !important;
}
.mat-sort-header-pointer-left,
.mat-sort-header-pointer-right {
  display: none !important;
}
.mat-sort-header-pointer-middle {
  margin: inherit !important;
  width: 0px !important;
  height: 0px !important;
  transform: rotate(0deg) !important;
}
/* show ascending caret when sorted ascending:*/
[aria-sort="ascending"]
  .mat-sort-header-arrow
  .mat-sort-header-indicator
  ::before {
  content: url("assets/images/arrow-sortdown1.png");
}

[aria-sort="descending"]
  .mat-sort-header-arrow
  .mat-sort-header-indicator
  ::before {
  content: url("assets/images/arrow-sortup1.png");
  margin-top: -15px;
  position: absolute;
}
.success-snackbar {
  background: #31b735;
  color: #f8fff8;
}
.error-snackbar {
  background: #f01919;
  color: #f8fff8;
}
.mat-snack-bar-container.mat-snack-bar-top {
  transform: translateY(160%) !important;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

.btn-primary:active:hover {
  background-color: #76ba19;
  border-color: #76ba19;
}

.closeButton {
  float: right;
  height: 20px;
  border: none;
  margin-top: 6px;
  border-radius: 3px;
}
.closeButton:focus {
  border: none !important;
}
button.closeButton:focus {
  outline: 0;
}

.borderTop {
  border-top: 1px solid #ddd;
}
.borderBottom {
  border-bottom: 1px solid #ddd;
}
.rowPadding {
  padding: 5px;
}
.bottomButton {
  text-align: right;
}
.error {
  color: red;
}
@media only screen and (max-width: 320px) {
  .btn-primary {
    padding: 4px 15px;
  }
}
table.jqplot-table-legend {
  margin: auto !important;
}

.show-value {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media (min-width: 100px) and (max-width: 380px) {
  .display-inline-button {
    display: inline-table;
  }
  .display-responsive {
    margin-top: 5px;
  }
}

@media (min-width: 200px) and (max-width: 340px) {
  .display-inline-button-medium {
    display: inline-table;
  }
  .display-responsive-medium {
    margin-top: 5px;
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  .display-inline-button-big {
    display: inline-table;
  }
  .display-responsive-big {
    margin-top: 5px;
  }
}

@media (min-width: 100px) and (max-width: 467px) {
  .display-responsive-big2 {
    margin-top: 5px;
  }
}
@media (min-width: 100px) and (max-width: 349px) {
  .display-responsive-big3 {
    margin-top: 5px;
  }
}

.admin-content {
  text-align: left;
  padding-left: 40px !important;
  padding-top: 35px;
}

@media (min-width: 100px) and (max-width: 350px) {
  table.jqplot-table-legend {
    bottom: -60px !important;
  }
  .chartDiv > div > :nth-child(2) {
    margin-top: 60px !important;
  }
}

@media (min-width: 351px) and (max-width: 480px) {
  table.jqplot-table-legend {
    bottom: -40px !important;
  }
  .chartDiv > div > :nth-child(2) {
    margin-top: 40px !important;
  }
}

.cdk-global-overlay-wrapper {
  justify-content: center;
}

.error-message {
  color: red;
}
