@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* CodeMirrror */
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/idea.css";
@import "~codemirror/addon/fold/foldgutter.css";
@import "~codemirror/addon/lint/lint.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

.loader {
  /* z-index: 10000;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -57px;
    padding-top: 35vh;
    background: rgba(0, 0, 0, 0.36);
    visibility: hidden; */
  background: rgba(0, 0, 0, 0.36);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  visibility: hidden;
  z-index: 10000;
  padding-top: 35vh;
}

img {
  font-family: "Roboto", sans-serif !important;
}

.trendingProfileChart > :nth-child(1) > :nth-child(2) > center > :nth-child(2) {
  width: 300px !important;
  margin-left: -104px !important;
}

.loading {
  visibility: visible;
}

.loaderimg {
  width: 100px;
  background: rgba(0, 0, 0, 0.29);
  border-radius: 8px;
}

div#dtBasicExample_filter {
  display: none !important;
}

img.question path {
  fill: #000;
}

.home_energy > p {
  font-size: 20px !important;
  color: #4550a1 !important;
  font-weight: 500 !important;
  /* margin-bottom: 30px; */
}

div.energy_analytic > p {
  font-size: 16px;
}

p.accurate {
  color: #4550a1;
  font-size: 21px;
  font-weight: 600;
  text-align: justify;
  margin-top: 20px;
}

div.energy_analytic > span {
  font-size: 16px;
}

div.energy_analytic > span > p {
  font-size: 16px;
}

div.energy_analytic > p > span {
  font-size: 16px;
}

.footers > div {
  font-size: 16px !important;
  line-height: 1.4 !important;
}

div.factoid > p {
  font-size: 16px !important;
  /* margin-bottom: 20px !important;
  margin-top: 20px !important; */
  color: #4550a1 !important;
  line-height: 22px !important;
  font-weight: 500 !important;
}
div.factoid {
  font-size: 16px !important;
  /* margin-bottom: 20px !important;
  margin-top: 20px !important; */
  color: #4550a1 !important;
  line-height: 22px !important;
  font-weight: 500 !important;
}

div.factoid > div > p {
  font-size: 16px !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  color: #4550a1 !important;
  line-height: 22px !important;
  font-weight: 500 !important;
}

/* #chartSeasonalPie {
  margin-left: 0% !important;
} */

#chartThreeNorms1 {
  margin-top: 15px !important;
  margin-left: 10px !important;
  /* width: 225px !important; */
}

#chartThreeNorms2 {
  margin-top: 15px !important;
  margin-left: 10px !important;
  /* width: 225px !important; */
}

#chartThreeNorms3 {
  margin-top: 15px !important;
  margin-left: 10px !important;
  /* width: 225px !important; */
}

.surveyChartDiv > div {
  /* width: 95% !important; */
}
@media (min-width: 300px) and (max-width: 570px) {
  .surveyChartDiv > div {
    width: 100% !important;
  }
}

.accurate > p > img {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* @media screen and (min-width: 769px) and (max-width: 900px) {
  .accurate > p > img {
    width: 400px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 992px) {
  .accurate > p > img {
    width: 525px !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
  .accurate > p > img {
    width: 600px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .accurate > p > img {
    width: 400px !important;
  }
}

@media only screen and (min-width: 901px) and (max-width: 992px) {
  .accurate > p > img {
    width: 525px !important;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .accurate > p > img {
    width: 600px !important;
  }
} */

@media only screen and (max-width: 768px) {
  .chartDiv > div > :nth-child(2) > :nth-child(2) {
    height: 200px !important;
  }
  .accurate1 > p > img {
    width: 100% !important;
  }
  .chartDiv > div > :nth-child(2) {
    height: auto !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > center
    > :nth-child(2) {
    width: auto !important;
    margin-left: 0px !important;
  }
  #chartDailyVariableLoad {
    width: 100% !important;
  }
  .accurate > div {
    width: auto !important;
  }
  #chartSeasonalStack {
    width: 100% !important;
    margin-bottom: 80px !important;
  }

  .trendingProfileChart #chartSeasonalStack {
    margin-bottom: 0px !important;
  }

  .surveyChartDiv > div > div {
    margin-left: 0px !important;
  }
  /* #chartRepeatingLoad {
    width: 100% !important;
  } */
  #chartMovAvg {
    width: 100% !important;
  }
  #chartMonthByMonth {
    width: 100% !important;
  }
  .table-responsive {
    border: 0px solid #ddd !important;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .accurate2>div>p>img {
    max-width: 80% ;
  }

  .accurate2  p a >img {
    width: auto !important;
  }
}

@media only screen and (max-width: 425px) {
  .accurate2  p  img {
    max-width: 80% !important;
  }
}

/* .accurate2 > div{
  overflow-x: auto !important;
} */

.surveyChartDiv > div > :nth-child(2) {
  height: 300px !important;
  height: auto !important;
  margin-left: 0px !important;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 300px !important;
    height: auto !important;
  }
  /* #chartThreeNorms1{
            width: 180px !important;
        }  
        #chartThreeNorms2{
            width: 180px !important;
        }  
        #chartThreeNorms3{
            width: 180px !important;
        }  */
  /*Tranding chart css  */
  .trendingChartDiv > div {
    width: 300px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 300px !important;
  }
  .trendingChartDiv > div > div {
    width: 300px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 250px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 100px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 100px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 250px !important;
  }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 318px !important;
    height: auto !important;
  }
  /*trending chart div  */
  .trendingChartDiv > div {
    width: 320px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 320px !important;
  }
  .trendingChartDiv > div > div {
    width: 320px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 280px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 130px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 130px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 280px !important;
  }
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 370px !important;
    height: auto !important;
  }
  /*trending chart div  */
  .trendingChartDiv > div {
    width: 370px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 370px !important;
  }
  .trendingChartDiv > div > div {
    width: 370px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 345px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 345px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 520px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 450px !important;
    height: auto !important;
  }
  /*trending chart div  */
  .trendingChartDiv > div {
    width: 450px !important;
  }
  .trendingChartDiv > :nth-child(2) {
    width: 450px !important;
  }
  .trendingChartDiv > div > div {
    width: 450px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) {
    width: 415px !important;
  }
  .trendingChartDiv > div > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 170px !important;
  }
  .trendingChartDiv > div > :nth-child(2) > :nth-child(2) {
    width: 415px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* #chartSeasonalPie{
        width:125px !important;
    } */
  .energy_analytic > p > img {
    border: 1px solid #efefef;
  }
  .trendingProfileChart > :nth-child(1) > :nth-child(2) {
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .qtip.qtip-default {
    left: 170px !important;
  }
  div#trendingProfileChartTrends {
    margin-left: 106px !important;
  }
  div#trendingProfileChartTrends > :nth-child(1) {
    width: 50% !important;
  }
  .view.trend.space > :nth-child(1) {
    margin-left: 20px !important;
    margin-right: 10px !important;
  }
  .view.trend.space > :nth-child(2) {
    margin-left: 20px !important;
    margin-right: 10px !important;
  }
  #chartThreeNorms2 > :nth-child(3) > :nth-child(2) {
    left: 14.6715px !important;
  }
  #chartThreeNorms1 > :nth-child(3) > :nth-child(2) {
    left: 12.7771px !important;
  }
  td > #chartThreeNorms1 {
    width: 140px !important;
  }
  td > #chartThreeNorms2 {
    width: 140px !important;
  }
  #chartThreeNorms3 > :nth-child(3) > :nth-child(2) {
    left: 15.542px !important;
  }
  td > #chartThreeNorms3 {
    width: 140px !important;
  }

  #chartElectrificationChart > table {
    margin : -80px !important;
  }  
  /* #fdbRecommendations tbody{
    display: block !important;
    overflow: auto !important;
  }

  #fdbRecommendations table{
    table-layout: fixed !important;
  } */

  /* div#fdbRecommendations {
    width: 48% !important;
    overflow-x: scroll;
} */




}

#chartElectrificationChart > table {
  margin : 0px !important;
  /* display: none !important; */
} 
#chartElectrificationChart{
  width:  120% !important; 
}


a {
  /* color: #76ba19!important; */
  text-decoration: none;
  font-weight: 500 !important;
}

.view.trend.space > :nth-child(1) {
  margin-left: 30px;
  margin-right: 30px;
}

.view.trend.space > :nth-child(1) > :nth-child(1) {
  width: 300px !important;
}

.view.trend.space > :nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.view.trend.space > :nth-child(2) > :nth-child(1) {
  width: 300px !important;
}

.view.trend.space > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  width: 40% !important;
}

.tablemailarchive > :nth-child(3) {
  width: 500px !important;
}

div#trendingProfileChartTrends > :nth-child(1) > :nth-child(1) {
  color: #000;
}

div#trendingProfileChartTrends > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  color: #000;
}
@media only screen and (min-width: 768px) and (max-width: 866px) {
  .view.trend.space > :nth-child(3) > :nth-child(1) > :nth-child(2) {
    width: 40% !important;
  }
  .view.trend.space > :nth-child(3) > :nth-child(1) {
    margin-left: 25px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 649px) {
  .view.trend.space > :nth-child(3) > :nth-child(1) > :nth-child(2) {
    width: 40% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 480px) {
  .view.trend.space > :nth-child(3) > :nth-child(1) {
    margin-left: 20px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 649px) {
  .view.trend.space > :nth-child(3) > :nth-child(1) {
    margin-left: 30px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1224px) {
  .trendingProfileChart > :nth-child(1) {
    width: 950px !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 950px !important;
    margin-top: 7.5em !important;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    padding-top: 1.1em;
  }
}

@media only screen and (min-width: 1824px) {
  .trendingProfileChart > :nth-child(1) {
    width: 950px !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 950px !important;
    margin-top: 5em !important;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    padding-top: 1.1em;
  }
}

td.jqplot-table-legend.jqplot-table-legend-label.jqplot-seriesToggle {
  margin-left: 12px !important;
}

.jqplot-table-legend tbody >:nth-child(2) >:nth-child(5){
  display: none !important;
}

#surveyData .survey.w-100{
  table-layout: fixed;
}

#surveyData .survey.w-100 tbody{
  display: block;
  overflow: auto;
}

/* #paneBlock .table-responsive{
  overflow:visible !important;
} */
#chartSeasonalStack .jqplot-table-legend tbody >:nth-child(2) >:nth-child(6){
  display: none !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div.back.color {
    background-color: #fbfbfb !important;
    padding: 28px 0px 28px 0px !important;
    margin-top: -9px !important;
  }
  ul.demoleaks1 {
    padding: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .trendingProfileChart > div {
    width: 285px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 285px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    width: 45% !important;
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 180px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 180px !important;
  }
}

@media only screen and (min-width: 351px) and (max-width: 375px) {
  .trendingProfileChart > div {
    width: 322px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 322px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 220px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 220px !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
  .trendingProfileChart > div {
    width: 345px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    margin-top: 4em !important;
    width: 345px !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 250px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 250px !important;
  }
}

@media only screen and (min-width: 415px) and (max-width: 480px) {
  .trendingProfileChart > div {
    width: 375px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 375px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 515px) {
  .trendingProfileChart > div {
    width: 460px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 460px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 516px) and (max-width: 580px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 450px !important;
    height: auto !important;
  }
  /*trendingProfile chart div  */
  .trendingProfileChart > div {
    width: 485px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 485px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 581px) and (max-width: 615px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 540px !important;
    height: auto !important;
  }
  /*trendingPrfile chart div  */
  .trendingProfileChart > div {
    width: 460px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 460px !important;
    margin-top: 4em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

@media only screen and (min-width: 616px) and (max-width: 768px) {
  /*dashboard chart css  */
  .chartDiv > div {
    width: 550px !important;
    height: auto !important;
  }
  /*trendingPrfile chart div  */
  .trendingProfileChart > div {
    width: 585px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 585px !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1) {
    width: 300px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2) {
    width: 300px !important;
  }
}

/* .dashboard_trend_chart > div > :nth-child(2) {
  width: 40% !important;
} */

@media only screen and (min-width: 300px) and (max-width: 340px) {
  .dashboard_trend_chart > div {
    margin-bottom : 50px !important;
    width: 300px!important;
    float : none !important;
    margin: auto;
  }
}

@media only screen and (min-width: 341px) and (max-width: 669px) {
  .dashboard_trend_chart > div {
    margin-bottom : 50px !important;
    float : none !important;
    margin: auto;

  }
}

@media only screen and (min-width: 769px) and (max-width: 815px) {
  .chartDiv > div > :nth-child(2) {
    float: unset !important;
  }
  .trendingProfileChart > div {
    width: 660px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 660px !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  div#chartSeasonalStack {
    margin-bottom: 20px;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
}

@media only screen and (min-width: 816px) and (max-width: 930px) {
  .chartDiv > div > :nth-child(2) {
    float: unset !important;
  }
  .chartDiv > div {
    width: 585px !important;
    height: auto !important;
  }
  .trendingProfileChart > div {
    width: 685px !important;
    height: 100% !important;
  }
  .trendingProfileChart > :nth-child(2) {
    width: 685px !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  div#chartSeasonalStack {
    /* float: right !important; */
    margin-bottom: 20px;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
}

@media only screen and (min-width: 931px) and (max-width: 980px) {
  .chartDiv > div > :nth-child(2) {
    float: unset !important;
  }
  .chartDiv > div {
    width: 685px !important;
    height: auto !important;
  }
}

@media only screen and (min-width: 931px) and (max-width: 1223px) {
  .trendingProfileChart > :nth-child(2) {
    width: 100% !important;
    margin-top: 6em !important;
  }
  div#trendingProfileChartTrends > :nth-child(2) {
    margin-left: 0px !important;
  }
  div#trendingProfileChartTrends {
    width: 350px !important;
  }
  div#chartSeasonalStack {
    margin-bottom: 20px;
  }
  .trendingProfileChart > :nth-child(2) > :nth-child(1) > table {
    margin-top: 20px !important;
  }
  .trendingProfileChart
    > :nth-child(1)
    > :nth-child(2)
    > center
    > :nth-child(2) {
    margin-left: -40px !important;
  }
  #chartThreeNorms1 {
    margin-left: 0px !important;
  }
  #chartThreeNorms2 {
    margin-left: 0px !important;
  }
}

.glyphicon {
  color: #76ba19 !important;
}

.text-nowrap {
  color: black;
  font-size: 18px;
}

.dataTables_filter {
  display: none;
}

.dataTables_length {
  display: none;
}

.dataTables_info {
  display: none;
}

#example_paginate > span {
  display: none;
}

#example_paginate > .paginate_button.previous {
  color: #76ba19;
  margin-right: 76px;
  font-size: 16px;
  cursor: pointer;
}

#example_paginate > .paginate_button.next {
  font-size: 16px;
  color: #76ba19;
  cursor: pointer;
  margin-right: 76px;
}

#example_paginate > .paginate_button.first {
  color: #76ba19;
  margin-right: 76px;
  font-size: 16px;
  cursor: pointer;
}

#example_paginate > .paginate_button.last {
  color: #76ba19;
  font-size: 16px;
  cursor: pointer;
}

.feedbackButton {
  right: -10px;
  top: 33%;
  padding: 5px 14px 14px 14px;
  border-bottom: 0px;
  border: 1px solid black;
  color: #993300 !important;
  display: block;
  position: fixed;
  background-color: white;
  font-size: 15px !important;
  font-family: Arial, sans-serif;
  line-height: 15px;
  opacity: 1;
  z-index: 999995;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 9px 9px 0px 0px;
  -moz-border-radius: 9px 9px 0px 0px;
  transform-origin: 100% 100% 0;
  -webkit-transform-origin: 100% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg) scale(1.02);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.feedBackDiv1 {
  visibility: visible !important;
}

.feedbackDiv {
  visibility: hidden;
  opacity: 1;
  -webkit-transition: opacity 200ms ease, visibility 0s linear 0s;
  /* transition: opacity 200ms ease,visibility 0s linear 0s; */
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  min-height: 100%;
}

.feedbackDivCss {
  left: -38px !important;
}

.feedbackiframeCss {
  /* visibility: visible; */
  right: 0px !important;
}

.feedbackCss {
  /* visibility: hidden; */
  opacity: 1;
  position: fixed;
  max-width: 100%;
  z-index: 10001;
  -webkit-transition: all 400ms ease-out;
  /* transition: all 400ms ease-out;
        width: 800px; */
  transition: all 0.5s;
  width: 63%;
  height: 100%;
  top: 0;
  right: -100%;
}

.feedbackiframe {
  position: absolute;
  padding: 8px;
  cursor: pointer;
  width: initial;
  max-width: initial;
  top: 12px;
  left: 0px;
  right: auto;
}

button.feedbackButton:hover {
  right: -1px;
}

@media only screen and (max-width: 768px) {
  .chartDiv > div {
    float: unset !important;
  }
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: auto !important;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 0% !important;
  margin-right: 30px !important;
  background-color: transparent;
  color: #76ba19;
}

@media only screen and (max-width: 768px) {
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: auto !important;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 0% !important;
    margin-right: 5px !important;
    background-color: transparent;
    color: #76ba19;
  }
}

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 1 !important;
  color: blue;
}

.mat-sort-header-stem {
  display: none !important;
}
.mat-sort-header-pointer-left,
.mat-sort-header-pointer-right {
  display: none !important;
}
.mat-sort-header-pointer-middle {
  margin: inherit !important;
  width: 0px !important;
  height: 0px !important;
  transform: rotate(0deg) !important;
}
/* show ascending caret when sorted ascending:*/
[aria-sort="ascending"]
  .mat-sort-header-arrow
  .mat-sort-header-indicator
  ::before {
    content: url("assets/images/arrow-sortup1.png");
  }

[aria-sort="descending"]
  .mat-sort-header-arrow
  .mat-sort-header-indicator
  ::before {
  content: url("assets/images/arrow-sortdown1.png");
  margin-top: -15px;
  position: absolute;
}
.success-snackbar {
  background: #31b735;
  color: #f8fff8;
}
.error-snackbar {
  background: #f01919;
  color: #f8fff8;
}
.mat-snack-bar-container.mat-snack-bar-top {
  transform: translateY(160%) !important;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

.btn-primary:active:hover {
  background-color: #76ba19;
  border-color: #76ba19;
}

/* use this css only for close button over the dialog-box component */
.closeButton {
  float: right;
  height: 20px;
  border: none;
  margin-top: 6px;
  border-radius: 3px;
}
.closeButton:focus {
  border: none !important;
}
button.closeButton:focus {
  outline: 0;
}

.borderTop {
  border-top: 1px solid #ddd;
}
.borderBottom {
  border-bottom: 1px solid #ddd;
}
.rowPadding {
  padding: 5px;
}
.bottomButton {
  text-align: right;
}
.error {
  color: red;
}
@media only screen and (max-width: 320px) {
  .btn-primary {
    padding: 4px 15px;
  }
}
table.jqplot-table-legend {
  margin: auto !important;
}

.show-value {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media (min-width: 100px) and (max-width: 380px) {
  .display-inline-button {
    display: inline-table;
  }
  .display-responsive {
    margin-top: 5px;
  }
}

@media (min-width: 200px) and (max-width: 340px) {
  .display-inline-button-medium {
    display: inline-table;
  }
  .display-responsive-medium {
    margin-top: 5px;
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  .display-inline-button-big {
    display: inline-table;
  }
  .display-responsive-big {
    margin-top: 5px;
  }
}

@media (min-width: 100px) and (max-width: 467px) {
  .display-responsive-big2 {
    margin-top: 5px;
  }
}
@media (min-width: 100px) and (max-width: 349px) {
  .display-responsive-big3 {
    margin-top: 5px;
  }
}

.admin-content {
  text-align: left;
  padding: 40px !important;
  padding-top: 35px;
}

@media (min-width: 100px) and (max-width: 350px) {
  table.jqplot-table-legend {
    bottom: -60px !important;
  }
  .chartDiv > div > :nth-child(2) {
    margin-top: 60px !important;
  }
}

@media (min-width: 351px) and (max-width: 480px) {
  table.jqplot-table-legend {
    bottom: -40px !important;
  }
  .chartDiv > div > :nth-child(2) {
    margin-top: 40px !important;
  }
}

.cdk-global-overlay-wrapper {
  justify-content: center;
}

.error-message {
  color: red;
}

@media (min-width: 992px) and (max-width: 1058px) {
 
  div.energy_analytic > p > img {
    width:220px!important;
  }
}

@media (min-width: 768px) and (max-width: 792px) {
 
  div.energy_analytic > p > img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 #chart1b{
   width:600px!important
 }
 #chart1b > :nth-child(1){
  width:600px!important
}
}

@media (min-width: 880px) and (max-width: 991px) {
  #chart1b{
    width:520px!important
  }
  #chart1b > :nth-child(1){
   width:520px!important
 }
 }
 @media (min-width: 768px) and (max-width: 879px) {
  #chart1b{
    width:450px!important
  }
  #chart1b > :nth-child(1){
   width:450px!important
 }
 }

 @media (min-width: 650px) and (max-width: 725px) {
  #chart1b{
    width:600px!important
  }
  #chart1b > :nth-child(1){
   width:600px!important
 }
 }

 @media (min-width: 550px) and (max-width: 649px) {
  #chart1b{
    width:500px!important
  }
  #chart1b > :nth-child(1){
   width:500px!important
 }
 }

 @media (min-width: 420px) and (max-width: 549px) {
  #chart1b{
    width:400px!important
  }
  #chart1b > :nth-child(1){
   width:400px!important
 }
 }

 @media (min-width: 300px) and (max-width: 419px) {
  #chart1b{
    width:300px!important
  }
  #chart1b > :nth-child(1){
   width:300px!important
 }
 }

 @media (min-width: 100px) and (max-width: 350px) {
  #chart1b > table{
   bottom:-30px!important
 }
 }

 @media only screen and (max-width: 767px) {
  .btnMarginBottom {
    margin-bottom: 5px;
  }
}

/* ============ my css ============================ */
@media (min-width: 320px) and (max-width: 767px) {
  /* #chartElectrificationChart canvas.jqplot-base-canvas{
    position: unset!important;
    left: 0!important;
    top:  0!important;
    width:  0px !important;
    height:  0px !important;
  } */

}

.w100{
  width: 100%;
}

.mx-auto{
  margin : auto
}

.mlr-0{
  margin-left: 0px !important; 
  margin-right: 0px !important;
}

@media (max-width: 992px){
  .admin-content{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.form-p{
  margin : 0px 30px;
}

.mb-5{
  margin-bottom: 5px !important;
}

.content{
  text-align: left;
  padding-top: 35px;
}

@media (min-width: 992px){
  .content{
    padding-left: 40px !important;
  }
}

.filterLabel {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}

@media (min-width: 768px) {
  section.space-top {
    margin-top: 5em !important;
    margin-bottom: 1em;
  }
}

.row-loader-visibility{
  visibility: visible !important;
}

@media (min-width: 1024px ){

  #chartElectrificationIntro {
    width : 50% !important;
  }
  
  /* canvas {
   width : 100% !important;
  }                                                                                                                    */
}

.accurate > p , .accurate > ul > li, .accurate{
  font-weight : 500;
  color: rgb(104 111 120);
  font-size: 14px;
}
.centerChart .col-lg-12.col-sm-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.surveyChart{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

table.surveyChart {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

table.surveyChart TD {
  text-align: center;
}

table.surveyAnswers {
  width: 95%;
  height: 98%;
  margin-left: auto;
  margin-right: auto;
}

#surveyFooter {
  color: rgb(39%, 39%, 40%);
  font-weight: bold;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

TABLE.survey th {
  font-size: 21px;
  text-align: left;
}

@media (min-width: 768px) {
  .label-field{
    text-align: right;
  }
}

.display-center-col{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.p-lf-30px{
  padding : 0px 30px;
  font-weight: 500 !important;
  color: rgb(104 111 120) !important;
  font-size: 14px !important;
}

.p-lf-30px h1 {
  font-size : 20px;
}

.p-lf-30px p {
  width : 100% !important;
}


.ml-30{
  align-items: baseline !important;
  margin-left: 30%;
}

@media (min-width: 768px)  and (max-width: 901px) {
 .shift-down{
  margin-top: 118px;
 }
}

app-survey a{
  text-decoration : underline;
}

.mat-column-serialNumber{
  width : 55px !important;   
}

.jqplot-table-legend.jqplot-table-legend-label {
  font-size: 10pt;
  text-align: left;
  color: #312422;
  font-weight: bolder;
}

app-survey li {
  font-size : 14px !important;
}

app-gas-list .mat-column-year ,app-gas-list .mat-column-month ,app-gas-list .mat-column-value{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-gas-list .mat-column-billingPeriod , app-gas-charge .mat-column-billingPeriod,
app-electricity-usage-list .mat-column-billingPeriod, app-electricity-charge-list .mat-column-billingPeriod 
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 38% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-gas-charge .mat-column-year,app-gas-charge .mat-column-value ,
app-electricity-usage-list .mat-column-year ,app-electricity-usage-list .mat-column-value
app-electricity-charge-list .mat-column-year ,app-electricity-charge-list .mat-column-value,
app-topic-description-edit .mat-column-orderNumber{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


app-water .mat-column-billingPeriod , 
app-water-charge .mat-column-billingPeriod
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-water .mat-column-billingDate ,
app-water-charge .mat-column-billingDate,
app-topic-description-edit .mat-column-lookupType 
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 23% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-water .mat-column-month,
app-water-charge .mat-column-month,
app-electricity-smart-meter-list .mat-column-day ,
app-electricity-smart-meter-list .mat-column-value,
app-topic-description-edit .mat-column-calculationPeriodActual
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-electricity-smart-meter-list .mat-column-month,
app-topic-description-edit .mat-column-groupCode {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


app-electricity-daily-smart-meter-list .mat-column-month{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-electricity-daily-smart-meter-list .mat-column-value{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-gas-smart-meter .mat-column-month{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


app-gas-smart-meter .mat-column-year, app-gas-smart-meter .mat-column-hour{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-water-smart-meter .mat-column-value
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-water-smart-meter .mat-column-month{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important; 
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-share-my-data-list .mat-column-city{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-topic-description-edit .mat-column-section {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 11% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-topic-description-edit .mat-column-comments {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 55% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


app-survey p{
  font-size : 14px !important;
}

/* app-share-my-data-list .mat-column-update{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
} */

div.jqplot-xaxis-tick {
  font-size : 1.65em !important; 
}

#helpiconcontaindesktop{
  text-align: center
}

@media (min-width: 769px) {
  .margin-flexible{
    margin-left: 30% !important;
  }

  .accurate2>div:nth-child(3){
    width: auto !important;
  }

  .accurate2>div:nth-child(4){
    width: 80% !important;
  }
}

.jqplot-point-label {
  font-size: 1.35em !important;
}

.width25{
  width: 25%;
}

.img-fluid{
  width: 100% !important;
  height: auto;
}

@media (max-width : 534px){
  #surveyPageText ul{
  display : inline-grid !important;   
 }

 #surveyPageText ul li{
  display : inline-grid !important;   
 }
}

/* #chartRepeatingLoad > canvas {
  min-width: 600px;
}

#chartRepeatingLoad {
  overflow-x: scroll;
  overflow-y: auto;
} */

/* .dropdown_responsive option {
  white-space: nowrap;
  width: 100%;
   border-bottom: 1px #ccc solid;
} */

.helpText-align{
  text-align: center !important;
}

.mrl-auto{
  margin-right: auto;
  margin-left: auto;
}

#chartSeasonalPie{
  margin-right: auto !important;
  margin-left: auto !important;
}

/* .accurate2 a{
  pointer-events: none;

} */

@media screen and (min-width: 981px) {
  #resizable2 #chartSeasonalStack table {
    margin-bottom: -100px !important;
  }
}

@media (max-width:900px){
  .disable-contractor-report-link>p:nth-child(1)>a{
  pointer-events:none;
}

.disable-contractor-report-link>p:nth-child(2)>a{
  display: none;
}
}

#resizable2 #chartSeasonalStack .jqplot-point-label{
  display:none;
}

.jqplot-highlighter-tooltip {
  display: none !important;
}

/* temprory disabled */
/* @media screen and (max-width:900px){
  .accurate2 >p:nth-child(2)>a{
    display: none ;
  }
} */

.ui-calendar .ui-datepicker {
  min-width: 100%;
  position: relative;
}

.ui-calendar .ui-calendar-button:enabled,table .ui-calendar .ui-calendar-button {
  height: 40px;
}

.ui-datepicker.ui-widget.ui-widget-content{
  top : 0px !important;  
}

.jqplot-point-label{
  display: none;
}

mailarchivelist .ui-calendar .ui-calendar-button,mailarchivelist .ui-calendar .ui-calendar-button {
  height: 30px !important
}

#trendingProfileChartTrends + div {
  position: relative;
  top: 150px;
}

#chartElectrificationIntro .jqplot-point-label{
  display: block;
}

snack-bar-container simple-snack-bar{
  justify-content: center !important;
}

@media (max-width:980px){
  #chartSeasonalStack+div{
    width: 100% !important;
  }

  #chartSeasonalStack+div>div{
    float : none !important;
    margin : auto !important;
  }
}

.calendar-field-highlight input{
  border : 2px solid red
}

.error-fields-highlight{
  color: red;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(255,255,255, 0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active  {
  background: #c0c0c0;
}

app-customer-view .mat-column-password{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-customer-view .mat-column-utilityInUse{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-customer-view .mat-column-heatingInUse{
   word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;   
}


.mat-column-delete{
  word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 4% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}

app-customer-view .mat-column-active{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-customer-view #email-settings .mat-column-active{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

app-customer-view .mat-column-waterInUse{
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 6% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}



app-customer-view .mat-column-alertLevels{
  word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 12% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;   
}

app-customer-view .mat-column-eventDatetime{
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 12% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;   
}
 
app-customer-view .mat-column-linkedPersonName{
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 18% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;   
}

app-customer-event-type .ui-calendar .ui-calendar-button:enabled{
  height: 29px !important;
}

app-customer-view .mat-column-mailDescriptionId{
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 14% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;   
}

app-staff-note .ui-calendar .ui-calendar-button:enabled, 
table .ui-calendar .ui-calendar-button {
  height: 29px;
}

.cursor-pointer{
  cursor:pointer;
}

app-customer-view .mat-column-note,
app-customer-view .mat-column-description{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 45% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;   
  }


  app-mail-description-list .mat-column-id{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    word-break: break-word;
    
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;   
    }
    
    app-mail-description-list .mat-column-mailPeriod{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 9% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    word-break: break-word;
    
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;   
    }
    
    app-mail-description-list .mat-column-mailName{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    word-break: break-word;
    
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;   
    }

    app-mail-description-list .mat-column-totalProcessedTime{
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 11% !important;
      width: 6% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      
      word-break: break-word;
      
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;   
      }

app-mail-description-edit .mat-column-groupCode{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;   
}

app-mail-description-edit .mat-column-label{
  word-wrap: break-word !important;
 white-space: unset !important;
 flex: 0 0 28% !important;
 width: 6% !important;
 overflow-wrap: break-word;
 word-wrap: break-word;
 word-break: break-word;
 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
 hyphens: auto;      
}
@media (max-width: 767px) {
  .survey.TH.text-right{
    text-align: left;
  }
}

@media (max-width: 550px) {
  .ml-30{
    margin-left: 5%;
  }
}
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: -10px !important;
}

#paneBlockTable td, #paneBlockTable th{
    white-space: nowrap;
}

mat-paginator{
  margin-top: 12px;
}

.display-none{
  display : none;
}

#useDrPower > img{
    max-width : 300px;
    margin : 0px 20px;
    height: 300px;
    padding: 15px 0px;
}

.survey-heading-color{
  color : #4550a1;
}


@media (min-width: 541px){
 #aboutDrPower{
    margin : 0px 40px;
 }   
}

@media(max-width: 500px){
  .form-padding{
    padding-left: 20px  !important;
    padding-right: 20px !important;
  }
}

img[src="assets/images/ico_html.png"]{
  width: 30px;
}



/* css for highlighter on the graph on mouse over event. */
#overDiv font{
  font-size: 15px;
}

#overDiv table{
  border: 1px solid black;
  background-color : white;
  text-align: center;
}

mat-dialog-container{
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 901px) {
  mat-dialog-container{
    margin-top: 50px;
  }
}

.highlight-labels {
  font-weight: 500;
}

leaklistview a, surveyRecommendationList a{
  text-decoration: underline;
}

.visible-hidden{
  visibility: hidden !important;
}

.trending-charts-redirection{
  text-align: center;
}

@media (min-width: 768px){
  .trending-charts-redirection{
    display: none;
  }
}