<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Content Part</span>
        </p>
        <form [formGroup]="contentForm" class="form-group form-padding">

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Label:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" formControlName='label' id='label' class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Order:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control" formControlName="contentOrder" id="contentOrder">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content Filter:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <textarea class="form-control" formControlName="contentFilterRule" id="contentFilterRule"></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="checkbox" formControlName="disableHtmlEditor" id="disableHtmlEditor">
              Disable Html Editor
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Content:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">

              <textarea *ngIf='f.disableHtmlEditor.value' class='form-control form-control-sm'
              formControlName="contentTemplate" id="contentTemplate" rows="10" cols="10"> </textarea>

              <img src="assets/images/ico_html.png" alt="HTML" *ngIf=" !f.disableHtmlEditor.value && showHTMLIcon()" (click)="showContentTemplate = true;" >
              <input formControlName="contentTemplate" *ngIf=" !f.disableHtmlEditor.value && showHTMLIcon()" type="hidden">

              <ejs-richtexteditor *ngIf='!f.disableHtmlEditor.value && showContentTemplate' [toolbarSettings]='tools'
                formControlName='contentTemplate' id='contentTemplate'>
              </ejs-richtexteditor>

              <div class="error-message" *ngIf="highlightErrorField('contentTemplate')" >
                <span>Content is required.</span>
              </div>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Image Url:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm' formControlName="imageUrl" id="imageUrl">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <div class="row rowPadding borderBottom">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              <span class="filterLabel">Image:</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="file" formControlName="imageFile" id="imageFile" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
            </div>
          </div>

          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">Generated embedded image:</div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class='form-control form-control-sm' formControlName="embeddedImage"
                 id="embeddedImage">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <button type="button" class="btn btn-primary" style="margin-top: 5px; float: right;" 
                (click)="generate()">Generate</button>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <button type="button" class="btn btn-primary" (click)="back()"> Back </button>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 right-buttons">
              <button type="button" class="btn btn-primary" (click)="save()"> Save </button>
              <button type="button" class="btn btn-primary" *ngIf="id" (click)="delete()"> Delete </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar [showMethod]=true></app-sidebar>
      </div>
    </div>
  </div>
</section>