<section class="space-top">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-9 col-lg-9">
        <p class="messages">
          <img class="pointer" alt="dot" src="assets/images/dot03.gif" class="dot">
          <span class="messageName">Credential Type</span>
        </p>
        <form [formGroup]="credentialTypeForm" class="form-group form-padding">
          <div class="row borderTop borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Credential Type:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="credentialType"
                formControlName="credentialType">
              <div *ngIf="f.credentialType.invalid && (f.credentialType.dirty ||
                f.credentialType.touched)">
                <span class="error" *ngIf="f.credentialType.errors.required">
                  Credential Type is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Credential Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="credentialName"
                formControlName="credentialName">
              <div *ngIf="f.credentialName.invalid && (f.credentialName.dirty ||
                f.credentialName.touched)">
                <span class="error" *ngIf="f.credentialName.errors.required">
                  Credential Name is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Utility Name:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="utilityName" formControlName="utilityName">
              <div *ngIf="f.utilityName.invalid && (f.utilityName.dirty ||
                f.utilityName.touched)">
                <span class="error" *ngIf="f.utilityName.errors.required">
                  Utility Name is required.
                </span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Login Script:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="loginScript" formControlName="loginScript">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Data Script:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="dataScript"
                formControlName="dataScrapingScript">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Utility Scraping Script:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="utilityScript"
                formControlName="utilityScrapingScript">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Electricity Scraping Script:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="electricityScript"
                formControlName="electricityScrapingScript">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Heating Scraping Script:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="heatingScript"
                formControlName="heatingScrapingScript">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>
          <div class="row borderBottom rowPadding">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
              Water Scraping Script:
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="waterScript"
                formControlName="waterScrapingScript">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12"></div>
          </div>

          <!-- <div class="row rowPadding paddingTop">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-3 display-inline-button">
              <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6" style="text-align: end;">
              <button type="button" class="btn btn-primary" (click)="delete()"
                *ngIf="id!==undefined&&id!==null">Delete</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-3" [ngClass]="{'display-responsive': id!==undefined&&id!==null}">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
          </div> -->

          <div class="row rowPadding paddingTop">
            <div class="col-sm-4 col-md- col-lg-4 col-xs-4 col-xl-4">
              <button type="button" class="btn btn-primary mb-button" (click)="back()">Back</button>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <div class="row">
                <div class="col-sm-8 col-md-9 col-lg-9  col-xs-12 col-xl-10 " style="text-align: end;"
                  *ngIf="id!==undefined&&id!==null">
                  <button type="button" class="btn btn-primary mb-button" (click)="delete()">Delete</button>
                </div>
                <div [ngClass]="{ 'col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2': id !== undefined && id !== null
                , 'col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' : id === undefined || id === null}"
                  style="text-align:right; overflow:auto;">
                  <button type="submit" class="btn btn-primary mb-button" (click)="save()">Save</button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>