<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 content" style='text-align: left;padding-left: 40px;
          padding-top: 35px;'>
        <p class="heading">
          Dynamic Views
        </p>
        <form [formGroup]='viewConfiguration'>
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Configuration Name:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control" formControlName='configurationName' id='configurationName'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">User Name:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="text" class="form-control form-control-sm" id="userName" formControlName="userName">
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
          </div>

          <div class="row rowPadding">
            <div class="col-sm-12" style="text-align: end;margin-top: 10px;">
              <button type="submit" class="btn btn-primary" (click)="search($event,true)">Show</button>
            </div>
          </div>

          <div class="paddingTop">
            <p class="messages">
              <img src='assets/images/dot03.gif' alt="dot" class='dot'>
              <span class="messageName">Dynamic Views List</span></p>
            <app-table [keys]="keys" [isPaginate]="true" (goToEditEvent)='goToEditViewConfigurations($event)'
              (addEvent)='addViewConfigurations()' [isSearch]="false" [data]="dataSource"
              [totalElement]="viewData.totalElements" (changePageEvent)="search($event,false)"
              (handleLinkEvent)="handleLink($event)">
            </app-table>
          </div>
        </form>
      </div>
      <div class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar ></app-sidebar>
      </div>
    </div>
  </div>
</section>