section.space-top {
  margin-top: 5.3em;
}
.form-padding {
  padding-left: 40px;
  padding-right: 40px;
}
.checkbox {
  margin-left: 10px;
  display: inline;
}
p.messages {
  font-size: 17px;
  font-weight: 600;
  margin-top: 1%;
}
.messageName {
  margin-left: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #76ba19;
  border-color: #76ba19;
  padding: 4px 23px;
  border-radius: 3px;
}
.paddingTop {
  padding-top: 3%;
}

.border {
  border: 1px solid lightgray;
}

.debug {
  text-decoration: underline;
  cursor: pointer;
}

.code-mirror {
  padding: 0%;
  margin-left: 1.6%;
  width: 46.6%;
}
