<section class="space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8">
        <h4 class="text-danger" *ngIf='selectedCustomer==null && users.role!=="USERS" ' >Customer selection is mandatory.</h4>
        <p class="accurate">Gas smart meter</p>
        <form [formGroup]='gasForm' class="form-horizontal">
          <div *ngIf="users.role!=='USERS'">
            <div class="row rowPadding borderBottom">
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                <span class="filterLabel">Audit Id:</span>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                <input type="text" class="form-control" formControlName='auditId' matInput
                (keyup)="findCustomerByAuditIdOrCustomerName('auditId')" [matAutocomplete]="auditId">
                <mat-autocomplete #auditId="matAutocomplete" (optionSelected)="selectedSuggestion($event,'auditId')" >
                  <mat-option *ngFor="let data of dataListForSuggestions" value="{{data.auditId}}">
                    {{data.user.name}}
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                <span class="filterLabel">Customer Name:</span>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                <input type="text" class="form-control" formControlName='customerName' [matAutocomplete]='customerName'
                (keyup)="findCustomerByAuditIdOrCustomerName('customerName')">
                <mat-autocomplete #customerName="matAutocomplete" (optionSelected)="selectedSuggestion($event,'customerName')" >
                  <mat-option *ngFor="let data of dataListForSuggestions" value="{{data.auditId}}">
                    {{data.user.name}}
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            </div>
          </div>
          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Year:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="number" class="form-control" formControlName='year' id='year'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Month:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="number" class="form-control" formControlName='month' id='month'>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
          </div>

          <div class="row rowPadding borderBottom">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Day:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="number" class="form-control" formControlName='day' id='year'>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
              <span class="filterLabel">Hour:</span>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
              <input type="number" class="form-control" formControlName='hour' id='month'>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xs-0"></div>
          </div>.
          <div class="row">
            <div class="col-sm-12" style="text-align:right; margin-top: 10px;">
              <button type="submit" class="btn btn-primary"
                (click)="search(undefined,true,true)">Show</button>
            </div>
          </div>
        </form>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <p class="Messages">
              <img src="assets/images/dot03.gif" alt="dot" class="dot">&nbsp;Values</p>
            <app-table [keys]="keys" [isPaginate]="true" [pageSize]="pageSize"
              [isHideAdd]=true [isSearch]="false" [disableLastButton]=true [disableNextButton]="disableNextButton"
              [data]="dataSource" [pageIndex]="pageIndex"
              [totalElement]="totalElements"
              (changePageEvent)="search($event,false)">
            </app-table>
          </div>
        </div>
      </div>
      <div *ngIf="users.role!=='USERS'" class="col-md-3 .col-lg-3 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
      <div *ngIf="users.role==='USERS'" class="col-lg-3 col-md-3 col-sm-4
        rightColumn">
        <div class="feedback">
          <p class="Energy_anaiytic">
            <img src="assets/images/dot03.gif" alt="dot" class="dot">&nbsp;Powered by Home
            Energy Analytics, Inc.</p>
          <p class="feedback">Send feedback to</p>
          <p class="link_hea">
            <a href="mailto:info@hea.com" class="info_hea">info@hea.com</a>
          </p>
          <hr>
          <ul class="leaks">
            <li>
              <a class="a_history" [routerLink]="['/topicshistory']">Topics
                history</a>
            </li>
            <li>
              <a class="a_history" [routerLink]="['/customerEventList']">Events
                history</a>
            </li>
            <li>
              <a class="a_history" [routerLink]="['/MailArchiveList']">Mail
                archive</a>
            </li>
            <li>
              <a class="a_history" [routerLink]="['/surveyRecommendationList']">Recommendations</a>
            </li>
            <li>
              <div class="dropdown">
                <a class="dropdown-toggle" id="menu1" data-toggle="dropdown">Usage
                  history
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/gas/gasList']">Gas</a>
                  </li>
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/gas/gasChargeList']">Gas
                      charge</a>
                  </li>
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/electricity/electricityUsageList']">Electricity</a>
                  </li>
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/electricity/electricityChargeList']">Electricity
                      charge</a>
                  </li>
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/electricity/electricitySmartMeterList']">Electric
                      smart
                      meter</a>
                  </li>
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/electricity/electricityDailySmartMeterList']">Electric
                      Daily
                      smart
                      meter</a>
                  </li>
                  <li role="presentation" style="padding-bottom: 5px;">
                    <a role="menuitem" tabindex="-1"
                      [routerLink]="['/gas/gasSmartMeterList']">Gas smart
                      meter</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>